openapi: 3.2.0
info:
  title: Video Features Text Detection Async API
  version: '2.0'
  description: Your project description
servers:
- url: https://api.edenai.run/v2
tags:
- name: Text Detection Async
paths:
  /video/text_detection_async/:
    get:
      operationId: video_text_detection_async_retrieve
      description: 'Get a list of all jobs launched for this feature. You''ll then be able to use the ID of each one to get its status and results.


        Please note that a **job status doesn''t get updated until a get request** is sent.'
      summary: Text Detection List Jobs
      tags:
      - Text Detection Async
      security:
      - FeatureApiAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAsyncJobResponse'
              examples:
                ResponseExample:
                  value:
                    jobs:
                    - providers: '[''amazon'', ''twelvelabs'', ''google'']'
                      nb: 3
                      nb_ok: 3
                      public_id: 102a8455-35a5-4236-922f-923bde530001
                      state: finished
                      created_at: '2026-09-06T00:05:18.729761'
                    - providers: '[''amazon'', ''twelvelabs'', ''google'']'
                      nb: 3
                      nb_ok: 3
                      public_id: 29133271-ed0c-48b0-8160-ecbe5687aea2
                      state: finished
                      created_at: '2026-09-05T23:05:18.729774'
                    - providers: '[''amazon'', ''twelvelabs'', ''google'']'
                      nb: 3
                      nb_ok: 3
                      public_id: ea5ca4bb-b9b3-4eb6-98fa-d7b34f3697e2
                      state: finished
                      created_at: '2026-09-05T22:05:18.729781'
                  summary: Response Example
          description: ''
    post:
      operationId: video_text_detection_async_create
      description: 'Available Providers


        |Provider|Version|Price|Billing unit|

        |----|-------|-----|------------|

        |**amazon**|`boto3`|0.1 (per 60 seconde)|60 seconde

        |**google**|`Video intelligence v1`|0.15 (per 60 seconde)|1 seconde

        |**twelvelabs**|`v1.1.2`|0.067 (per 60 seconde)|60 seconde'
      summary: Text Detection Launch Job
      tags:
      - Text Detection Async
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AsyncVideoAnalysisRequest'
            examples:
              RequestExample:
                value:
                  providers: amazon,twelvelabs,google
                  file: /edenai/edenai/features/video/samples/data/text_video.mp4
                summary: Request Example
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncVideoAnalysisRequest'
            examples:
              RequestExample:
                value:
                  providers: amazon,twelvelabs,google
                  file_url: http://edenai-resource-example.mp4
                summary: Request Example
        required: true
      security:
      - FeatureApiAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaunchAsyncJobResponse'
              examples:
                ResponseExample:
                  value:
                    public_id: 8678b639-75ef-41ac-833a-1286fe44ac38
                  summary: Response Example
          description: ''
    delete:
      operationId: video_text_detection_async_destroy
      description: 'Generic class to handle method GET all async job for user


        Attributes:

        feature (str): EdenAI feature

        subfeature (str): EdenAI subfeature'
      summary: Text Detection delete Jobs
      tags:
      - Text Detection Async
      security:
      - FeatureApiAuth: []
      - {}
      responses:
        '204':
          description: No response body
  /video/text_detection_async/{public_id}/:
    get:
      operationId: video_text_detection_async_retrieve_2
      description: Get the status and results of an async job given its ID.
      summary: Text Detection Get Job Results
      parameters:
      - in: path
        name: public_id
        schema:
          type: string
        required: true
      - in: query
        name: response_as_dict
        schema:
          type: boolean
          default: true
      - in: query
        name: show_base_64
        schema:
          type: boolean
          default: true
      - in: query
        name: show_original_response
        schema:
          type: boolean
          default: false
      tags:
      - Text Detection Async
      security:
      - FeatureApiAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asyncvideotext_detection_asyncResponseModel'
              examples:
                ResponseExample:
                  value:
                    public_id: a0aa5733-39d9-4f11-a63f-58ee814fa41c
                    status: finished
                    error: null
                    results:
                      amazon:
                        error: null
                        id: bb7d993d-3762-4717-a0c0-034db71cd6bf
                        final_status: finished
                        texts:
                        - text: still
                          frames:
                          - confidence: 0.99
                            timestamp: 3.036
                            bounding_box:
                              top: 0.4481905996799469
                              left: 0.31332847476005554
                              height: 0.03324110060930252
                              width: 0.02642197534441948
                          - confidence: 0.99
                            timestamp: 4.037
                            bounding_box:
                              top: 0.4449908435344696
                              left: 0.3145139515399933
                              height: 0.03219383955001831
                              width: 0.026560068130493164
                          - confidence: 0.99
                            timestamp: 5.038
                            bounding_box:
                              top: 0.4391314685344696
                              left: 0.31747183203697205
                              height: 0.03211873397231102
                              width: 0.0263487808406353
                        - text: now
                          frames:
                          - confidence: 0.98
                            timestamp: 3.036
                            bounding_box:
                              top: 0.3657836616039276
                              left: 0.3261803686618805
                              height: 0.021850671619176865
                              width: 0.02302379533648491
                          - confidence: 0.98
                            timestamp: 4.037
                            bounding_box:
                              top: 0.36274126172065735
                              left: 0.327701598405838
                              height: 0.02181311696767807
                              width: 0.022918175905942917
                          - confidence: 0.98
                            timestamp: 5.038
                            bounding_box:
                              top: 0.3570697009563446
                              left: 0.33091291785240173
                              height: 0.02166290208697319
                              width: 0.02300267294049263
                          - confidence: 0.97
                            timestamp: 6.039
                            bounding_box:
                              top: 0.35912370681762695
                              left: 0.3303605318069458
                              height: 0.02146369032561779
                              width: 0.022367287427186966
                        - text: '35'
                          frames:
                          - confidence: 0.97
                            timestamp: 8.041
                            bounding_box:
                              top: 0.6693209409713745
                              left: 0.3587533235549927
                              height: 0.02446712926030159
                              width: 0.0167678352445364
                        - text: by Getty Images™
                          frames:
                          - confidence: 0.95
                            timestamp: 0.033
                            bounding_box:
                              top: 0.576171875
                              left: 0.3680419921875
                              height: 0.0537109375
                              width: 0.2493896484375
                          - confidence: 0.98
                            timestamp: 2.035
                            bounding_box:
                              top: 0.5736931562423706
                              left: 0.3678749203681946
                              height: 0.056840259581804276
                              width: 0.2496688812971115
                          - confidence: 0.99
                            timestamp: 3.036
                            bounding_box:
                              top: 0.576171875
                              left: 0.3680419325828552
                              height: 0.0537109375
                              width: 0.24993896484375
                          - confidence: 0.99
                            timestamp: 4.037
                            bounding_box:
                              top: 0.5736988186836243
                              left: 0.36842793226242065
                              height: 0.056674785912036896
                              width: 0.24911585450172424
                          - confidence: 0.97
                            timestamp: 8.041
                            bounding_box:
                              top: 0.576171875
                              left: 0.3680419921875
                              height: 0.0537109375
                              width: 0.24884033203125
                          - confidence: 0.99
                            timestamp: 9.042
                            bounding_box:
                              top: 0.5751953125
                              left: 0.3680419325828552
                              height: 0.0537109375
                              width: 0.24993896484375
                          - confidence: 0.98
                            timestamp: 10.043
                            bounding_box:
                              top: 0.5751953125
                              left: 0.3680419921875
                              height: 0.0537109375
                              width: 0.2493896484375
                          - confidence: 0.98
                            timestamp: 11.044
                            bounding_box:
                              top: 0.5737689137458801
                              left: 0.36789125204086304
                              height: 0.05704345554113388
                              width: 0.24969518184661865
                        - text: you
                          frames:
                          - confidence: 0.99
                            timestamp: 3.036
                            bounding_box:
                              top: 0.4629974067211151
                              left: 0.2851763367652893
                              height: 0.035468630492687225
                              width: 0.028571177273988724
                          - confidence: 0.99
                            timestamp: 4.037
                            bounding_box:
                              top: 0.45946672558784485
                              left: 0.2863383889198303
                              height: 0.03528086468577385
                              width: 0.02905712090432644
                          - confidence: 0.99
                            timestamp: 5.038
                            bounding_box:
                              top: 0.45369628071784973
                              left: 0.28978925943374634
                              height: 0.032980263233184814
                              width: 0.027293825522065163
                        - text: '29'
                          frames:
                          - confidence: 0.99
                            timestamp: 3.036
                            bounding_box:
                              top: 0.2675509452819824
                              left: 0.3638933300971985
                              height: 0.03319668397307396
                              width: 0.02176370657980442
                          - confidence: 0.99
                            timestamp: 4.037
                            bounding_box:
                              top: 0.2646313011646271
                              left: 0.3653375208377838
                              height: 0.03284674882888794
                              width: 0.021778631955385208
                          - confidence: 0.99
                            timestamp: 5.038
                            bounding_box:
                              top: 0.2605026364326477
                              left: 0.3687683939933777
                              height: 0.03208397701382637
                              width: 0.021631622686982155
                          - confidence: 0.99
                            timestamp: 6.039
                            bounding_box:
                              top: 0.26173508167266846
                              left: 0.3684948682785034
                              height: 0.03211873397231102
                              width: 0.02127819135785103
                          - confidence: 0.99
                            timestamp: 7.04
                            bounding_box:
                              top: 0.2587374448776245
                              left: 0.36882078647613525
                              height: 0.033019088208675385
                              width: 0.021966075524687767
                          - confidence: 0.99
                            timestamp: 8.041
                            bounding_box:
                              top: 0.2609846591949463
                              left: 0.36713841557502747
                              height: 0.0331844761967659
                              width: 0.022276926785707474
                          - confidence: 0.99
                            timestamp: 9.042
                            bounding_box:
                              top: 0.2579962909221649
                              left: 0.3706910014152527
                              height: 0.032378219068050385
                              width: 0.021720314398407936
                          - confidence: 0.99
                            timestamp: 10.043
                            bounding_box:
                              top: 0.25602594017982483
                              left: 0.37322744727134705
                              height: 0.03260701522231102
                              width: 0.0211302749812603
                          - confidence: 0.99
                            timestamp: 11.044
                            bounding_box:
                              top: 0.2625989615917206
                              left: 0.3669525980949402
                              height: 0.03219388425350189
                              width: 0.021489476785063744
                        - text: for
                          frames:
                          - confidence: 0.99
                            timestamp: 3.036
                            bounding_box:
                              top: 0.4188936948776245
                              left: 0.39156898856163025
                              height: 0.032329730689525604
                              width: 0.022709274664521217
                          - confidence: 0.99
                            timestamp: 4.037
                            bounding_box:
                              top: 0.41588595509529114
                              left: 0.39281973242759705
                              height: 0.032966189086437225
                              width: 0.023179341107606888
                          - confidence: 0.99
                            timestamp: 5.038
                            bounding_box:
                              top: 0.41156238317489624
                              left: 0.39539024233818054
                              height: 0.031743112951517105
                              width: 0.022250056266784668
                          - confidence: 0.99
                            timestamp: 6.039
                            bounding_box:
                              top: 0.41374078392982483
                              left: 0.3949888348579407
                              height: 0.031855858862400055
                              width: 0.022566985338926315
                        - text: Walker
                          frames:
                          - confidence: 0.99
                            timestamp: 5.038
                            bounding_box:
                              top: 0.6997402906417847
                              left: 0.35062375664711
                              height: 0.0431806780397892
                              width: 0.05111842229962349
                          - confidence: 0.98
                            timestamp: 8.041
                            bounding_box:
                              top: 0.7039057016372681
                              left: 0.3507075309753418
                              height: 0.04311010614037514
                              width: 0.04990696907043457
                          - confidence: 0.98
                            timestamp: 8.041
                            bounding_box:
                              top: 0.7039057016372681
                              left: 0.3507075309753418
                              height: 0.04311010614037514
                              width: 0.04990696907043457
                        - text: 09 40
                          frames:
                          - confidence: 0.97
                            timestamp: 7.04
                            bounding_box:
                              top: 0.5416666865348816
                              left: 0.31718748807907104
                              height: 0.02777777798473835
                              width: 0.03125
                        - text: iStock.
                          frames:
                          - confidence: 0.99
                            timestamp: 0.033
                            bounding_box:
                              top: 0.4404296875
                              left: 0.36529541015625
                              height: 0.1220703125
                              width: 0.25543212890625
                          - confidence: 0.99
                            timestamp: 0.033
                            bounding_box:
                              top: 0.4404296875
                              left: 0.36529541015625
                              height: 0.1220703125
                              width: 0.25543212890625
                          - confidence: 0.97
                            timestamp: 1.034
                            bounding_box:
                              top: 0.4398800730705261
                              left: 0.36518436670303345
                              height: 0.1234285980463028
                              width: 0.25571101903915405
                          - confidence: 0.97
                            timestamp: 1.034
                            bounding_box:
                              top: 0.4398800730705261
                              left: 0.36518436670303345
                              height: 0.1234285980463028
                              width: 0.25571101903915405
                          - confidence: 0.98
                            timestamp: 2.035
                            bounding_box:
                              top: 0.4398890733718872
                              left: 0.3651694655418396
                              height: 0.12350684404373169
                              width: 0.2557245194911957
                          - confidence: 0.98
                            timestamp: 2.035
                            bounding_box:
                              top: 0.4398890733718872
                              left: 0.3651694655418396
                              height: 0.12350684404373169
                              width: 0.2557245194911957
                          - confidence: 0.87
                            timestamp: 5.038
                            bounding_box:
                              top: 0.4352734386920929
                              left: 0.3634015619754791
                              height: 0.13924230635166168
                              width: 0.25746220350265503
                          - confidence: 0.87
                            timestamp: 5.038
                            bounding_box:
                              top: 0.4352734386920929
                              left: 0.3634015619754791
                              height: 0.13924230635166168
                              width: 0.25746220350265503
                          - confidence: 0.8
                            timestamp: 6.039
                            bounding_box:
                              top: 0.4355218708515167
                              left: 0.35997119545936584
                              height: 0.14004668593406677
                              width: 0.2616780400276184
                          - confidence: 0.8
                            timestamp: 6.039
                            bounding_box:
                              top: 0.43552181124687195
                              left: 0.35997116565704346
                              height: 0.14004677534103394
                              width: 0.2616780996322632
                          - confidence: 0.96
                            timestamp: 8.041
                            bounding_box:
                              top: 0.4404296875
                              left: 0.3658447265625
                              height: 0.1220703125
                              width: 0.2548828125
                          - confidence: 0.96
                            timestamp: 8.041
                            bounding_box:
                              top: 0.4404296875
                              left: 0.3658447265625
                              height: 0.1220703125
                              width: 0.2548828125
                          - confidence: 0.96
                            timestamp: 9.042
                            bounding_box:
                              top: 0.439453125
                              left: 0.36529541015625
                              height: 0.125
                              width: 0.2559814453125
                          - confidence: 0.96
                            timestamp: 9.042
                            bounding_box:
                              top: 0.439453125
                              left: 0.36529541015625
                              height: 0.125
                              width: 0.2559814453125
                          - confidence: 0.94
                            timestamp: 10.043
                            bounding_box:
                              top: 0.4384765625
                              left: 0.36529541015625
                              height: 0.125
                              width: 0.2559814453125
                          - confidence: 0.94
                            timestamp: 10.043
                            bounding_box:
                              top: 0.4384765625
                              left: 0.36529541015625
                              height: 0.125
                              width: 0.2559814453125
                          - confidence: 0.88
                            timestamp: 11.044
                            bounding_box:
                              top: 0.44140625
                              left: 0.3658447265625
                              height: 0.12109375
                              width: 0.2548828125
                          - confidence: 0.88
                            timestamp: 11.044
                            bounding_box:
                              top: 0.44140625
                              left: 0.3658447265625
                              height: 0.12109375
                              width: 0.2548828125
                        - text: 09:35
                          frames:
                          - confidence: 0.87
                            timestamp: 5.038
                            bounding_box:
                              top: 0.664942741394043
                              left: 0.3461630344390869
                              height: 0.030052948743104935
                              width: 0.031187009066343307
                        - text: Mail
                          frames:
                          - confidence: 0.96
                            timestamp: 5.038
                            bounding_box:
                              top: 0.5526114702224731
                              left: 0.29077330231666565
                              height: 0.030636342242360115
                              width: 0.028208304196596146
                        - text: Mail 09 40
                          frames:
                          - confidence: 0.96
                            timestamp: 5.038
                            bounding_box:
                              top: 0.5421333312988281
                              left: 0.2907019257545471
                              height: 0.04117313027381897
                              width: 0.05864705890417099
                        - text: 29 June
                          frames:
                          - confidence: 0.99
                            timestamp: 6.039
                            bounding_box:
                              top: 0.24444444477558136
                              left: 0.3671875
                              height: 0.04722222313284874
                              width: 0.06093750149011612
                        - text: Messages now
                          frames:
                          - confidence: 0.98
                            timestamp: 3.036
                            bounding_box:
                              top: 0.359208345413208
                              left: 0.264309823513031
                              height: 0.05713941901922226
                              width: 0.08562378585338593
                          - confidence: 0.98
                            timestamp: 4.037
                            bounding_box:
                              top: 0.355284720659256
                              left: 0.26572519540786743
                              height: 0.05685950443148613
                              width: 0.08550548553466797
                          - confidence: 0.98
                            timestamp: 5.038
                            bounding_box:
                              top: 0.35114505887031555
                              left: 0.26973289251327515
                              height: 0.05277133360505104
                              width: 0.08466114848852158
                          - confidence: 0.98
                            timestamp: 6.039
                            bounding_box:
                              top: 0.35377922654151917
                              left: 0.26891958713531494
                              height: 0.05230730026960373
                              width: 0.08432488143444061
                        - text: Are you still waiting for me?
                          frames:
                          - confidence: 0.99
                            timestamp: 3.036
                            bounding_box:
                              top: 0.4059637784957886
                              left: 0.258561372756958
                              height: 0.10392023622989655
                              width: 0.18762560188770294
                          - confidence: 0.99
                            timestamp: 4.037
                            bounding_box:
                              top: 0.40318891406059265
                              left: 0.2599624991416931
                              height: 0.10235977172851562
                              width: 0.18760709464550018
                          - confidence: 0.99
                            timestamp: 5.038
                            bounding_box:
                              top: 0.3994905650615692
                              left: 0.2627330422401428
                              height: 0.09870605170726776
                              width: 0.18712230026721954
                        - text: Tuesday,
                          frames:
                          - confidence: 0.94
                            timestamp: 3.036
                            bounding_box:
                              top: 0.2755625545978546
                              left: 0.29717227816581726
                              height: 0.0545831061899662
                              width: 0.06783938407897949
                          - confidence: 0.96
                            timestamp: 4.037
                            bounding_box:
                              top: 0.2727413773536682
                              left: 0.29880040884017944
                              height: 0.05403361842036247
                              width: 0.06739988178014755
                          - confidence: 0.97
                            timestamp: 5.038
                            bounding_box:
                              top: 0.267260879278183
                              left: 0.30178970098495483
                              height: 0.05313669890165329
                              width: 0.06808533519506454
                          - confidence: 0.95
                            timestamp: 7.04
                            bounding_box:
                              top: 0.2651498019695282
                              left: 0.3013443052768707
                              height: 0.055739764124155045
                              width: 0.0690123587846756
                          - confidence: 0.98
                            timestamp: 8.041
                            bounding_box:
                              top: 0.26878228783607483
                              left: 0.3005407154560089
                              height: 0.05396944656968117
                              width: 0.06762681156396866
                          - confidence: 0.98
                            timestamp: 9.042
                            bounding_box:
                              top: 0.2655562162399292
                              left: 0.30345556139945984
                              height: 0.05308647081255913
                              width: 0.06811670958995819
                          - confidence: 0.96
                            timestamp: 10.043
                            bounding_box:
                              top: 0.2621379494667053
                              left: 0.3050667643547058
                              height: 0.055556487292051315
                              width: 0.06913533061742783
                          - confidence: 0.96
                            timestamp: 11.044
                            bounding_box:
                              top: 0.2702072560787201
                              left: 0.2999371886253357
                              height: 0.05334103852510452
                              width: 0.0679868683218956
                        - text: Getty
                          frames:
                          - confidence: 1.0
                            timestamp: 0.033
                            bounding_box:
                              top: 0.576171875
                              left: 0.4119873046875
                              height: 0.052734375
                              width: 0.07855224609375
                          - confidence: 1.0
                            timestamp: 1.034
                            bounding_box:
                              top: 0.576171875
                              left: 0.4119873046875
                              height: 0.052734375
                              width: 0.07855224609375
                          - confidence: 1.0
                            timestamp: 2.035
                            bounding_box:
                              top: 0.5771484375
                              left: 0.41253662109375
                              height: 0.05078125
                              width: 0.076904296875
                          - confidence: 1.0
                            timestamp: 3.036
                            bounding_box:
                              top: 0.578125
                              left: 0.4130859375
                              height: 0.0498046875
                              width: 0.076904296875
                          - confidence: 1.0
                            timestamp: 4.037
                            bounding_box:
                              top: 0.5771484375
                              left: 0.41253662109375
                              height: 0.05078125
                              width: 0.076904296875
                          - confidence: 0.99
                            timestamp: 8.041
                            bounding_box:
                              top: 0.5771484375
                              left: 0.41253662109375
                              height: 0.044921875
                              width: 0.07745361328125
                          - confidence: 1.0
                            timestamp: 9.042
                            bounding_box:
                              top: 0.576171875
                              left: 0.4119873046875
                              height: 0.052734375
                              width: 0.07855224609375
                          - confidence: 1.0
                            timestamp: 10.043
                            bounding_box:
                              top: 0.5771484375
                              left: 0.41253662109375
                              height: 0.05078125
                              width: 0.076904296875
                          - confidence: 1.0
                            timestamp: 11.044
                            bounding_box:
                              top: 0.576171875
                              left: 0.4119873046875
                              height: 0.052734375
                              width: 0.07855224609375
                        - text: waiting for me?
                          frames:
                          - confidence: 0.99
                            timestamp: 6.039
                            bounding_box:
                              top: 0.39722222089767456
                              left: 0.34062498807907104
                              height: 0.07222222536802292
                              width: 0.10781250149011612
                        - text: ages™
                          frames:
                          - confidence: 0.82
                            timestamp: 5.038
                            bounding_box:
                              top: 0.5771688222885132
                              left: 0.5364302396774292
                              height: 0.05139600858092308
                              width: 0.08018960803747177
                          - confidence: 0.82
                            timestamp: 5.038
                            bounding_box:
                              top: 0.5771688222885132
                              left: 0.5364302396774292
                              height: 0.05139600858092308
                              width: 0.08018960803747177
                        - text: by Getty
                          frames:
                          - confidence: 1.0
                            timestamp: 1.034
                            bounding_box:
                              top: 0.574999988079071
                              left: 0.3671875
                              height: 0.05277777835726738
                              width: 0.12187500298023224
                        - text: Missed
                          frames:
                          - confidence: 0.99
                            timestamp: 5.038
                            bounding_box:
                              top: 0.7529591917991638
                              left: 0.31238824129104614
                              height: 0.04379577562212944
                              width: 0.05208635330200195
                        - text: Images™
                          frames:
                          - confidence: 0.85
                            timestamp: 0.033
                            bounding_box:
                              top: 0.576171875
                              left: 0.4954833984375
                              height: 0.0537109375
                              width: 0.1219482421875
                          - confidence: 0.95
                            timestamp: 2.035
                            bounding_box:
                              top: 0.575018584728241
                              left: 0.49537602066993713
                              height: 0.0555148646235466
                              width: 0.12216787040233612
                          - confidence: 0.97
                            timestamp: 3.036
                            bounding_box:
                              top: 0.576171875
                              left: 0.4954833984375
                              height: 0.0537109375
                              width: 0.12249755859375
                          - confidence: 0.97
                            timestamp: 4.037
                            bounding_box:
                              top: 0.5750243067741394
                              left: 0.495919406414032
                              height: 0.055349308997392654
                              width: 0.12162446975708008
                          - confidence: 0.91
                            timestamp: 8.041
                            bounding_box:
                              top: 0.576171875
                              left: 0.4954833984375
                              height: 0.0537109375
                              width: 0.12139892578125
                          - confidence: 0.98
                            timestamp: 9.042
                            bounding_box:
                              top: 0.5751953125
                              left: 0.4954833984375
                              height: 0.0537109375
                              width: 0.12249755859375
                          - confidence: 0.94
                            timestamp: 10.043
                            bounding_box:
                              top: 0.5751953125
                              left: 0.4954833984375
                              height: 0.0537109375
                              width: 0.1219482421875
                          - confidence: 0.96
                            timestamp: 11.044
                            bounding_box:
                              top: 0.5749520659446716
                              left: 0.49533611536026
                              height: 0.05585937574505806
                              width: 0.12224845588207245
                        - text: '10:45'
                          frames:
                          - confidence: 0.98
                            timestamp: 3.036
                            bounding_box:
                              top: 0.10351702570915222
                              left: 0.23632316291332245
                              height: 0.19334055483341217
                              width: 0.22425894439220428
                          - confidence: 0.98
                            timestamp: 3.036
                            bounding_box:
                              top: 0.10351701080799103
                              left: 0.23632316291332245
                              height: 0.19334056973457336
                              width: 0.22425894439220428
                          - confidence: 0.98
                            timestamp: 4.037
                            bounding_box:
                              top: 0.10248016566038132
                              left: 0.23859989643096924
                              height: 0.190426766872406
                              width: 0.22367951273918152
                          - confidence: 0.98
                            timestamp: 4.037
                            bounding_box:
                              top: 0.10248018801212311
                              left: 0.23859989643096924
                              height: 0.19042672216892242
                              width: 0.22367951273918152
                          - confidence: 0.98
                            timestamp: 5.038
                            bounding_box:
                              top: 0.09982096403837204
                              left: 0.24227532744407654
                              height: 0.18590249121189117
                              width: 0.2236858308315277
                          - confidence: 0.98
                            timestamp: 5.038
                            bounding_box:
                              top: 0.09982097148895264
                              left: 0.24227532744407654
                              height: 0.18590247631072998
                              width: 0.2236858308315277
                          - confidence: 0.98
                            timestamp: 6.039
                            bounding_box:
                              top: 0.09780718386173248
                              left: 0.2416570484638214
                              height: 0.18962572515010834
                              width: 0.22395507991313934
                          - confidence: 0.98
                            timestamp: 6.039
                            bounding_box:
                              top: 0.09780719876289368
                              left: 0.2416570484638214
                              height: 0.18962571024894714
                              width: 0.22395507991313934
                          - confidence: 0.98
                            timestamp: 7.04
                            bounding_box:
                              top: 0.09608351439237595
                              left: 0.2416100949048996
                              height: 0.19028320908546448
                              width: 0.22559785842895508
                          - confidence: 0.98
                            timestamp: 7.04
                            bounding_box:
                              top: 0.09608349204063416
                              left: 0.2416100949048996
                              height: 0.19028323888778687
                              width: 0.22559785842895508
                          - confidence: 0.98
                            timestamp: 8.041
                            bounding_box:
                              top: 0.09654533863067627
                              left: 0.23967990279197693
                              height: 0.19280174374580383
                              width: 0.2260892391204834
                          - confidence: 0.98
                            timestamp: 8.041
                            bounding_box:
                              top: 0.09654534608125687
                              left: 0.23967993259429932
                              height: 0.19280171394348145
                              width: 0.22608916461467743
                          - confidence: 0.99
                            timestamp: 9.042
                            bounding_box:
                              top: 0.0943516418337822
                              left: 0.2442137748003006
                              height: 0.189564511179924
                              width: 0.22418375313282013
                          - confidence: 0.99
                            timestamp: 9.042
                            bounding_box:
                              top: 0.09435164928436279
                              left: 0.2442137748003006
                              height: 0.18956448137760162
                              width: 0.22418375313282013
                          - confidence: 0.99
                            timestamp: 10.043
                            bounding_box:
                              top: 0.09413521736860275
                              left: 0.24703197181224823
                              height: 0.18710462749004364
                              width: 0.22351861000061035
                          - confidence: 0.99
                            timestamp: 10.043
                            bounding_box:
                              top: 0.09413521736860275
                              left: 0.24703197181224823
                              height: 0.18710462749004364
                              width: 0.22351861000061035
                          - confidence: 0.98
                            timestamp: 11.044
                            bounding_box:
                              top: 0.09818191826343536
                              left: 0.2402433156967163
                              height: 0.19183383882045746
                              width: 0.223817378282547
                          - confidence: 0.98
                            timestamp: 11.044
                            bounding_box:
                              top: 0.09818191826343536
                              left: 0.2402433156967163
                              height: 0.19183383882045746
                              width: 0.223817378282547
                        - text: me?
                          frames:
                          - confidence: 0.99
                            timestamp: 3.036
                            bounding_box:
                              top: 0.4077776074409485
                              left: 0.4138694703578949
                              height: 0.03572794422507286
                              width: 0.03171806409955025
                          - confidence: 0.99
                            timestamp: 4.037
                            bounding_box:
                              top: 0.4056430757045746
                              left: 0.41530099511146545
                              height: 0.03471747413277626
                              width: 0.03152904659509659
                          - confidence: 0.99
                            timestamp: 5.038
                            bounding_box:
                              top: 0.4010311961174011
                              left: 0.4175350069999695
                              height: 0.03440111130475998
                              width: 0.03159589692950249
                          - confidence: 0.99
                            timestamp: 6.039
                            bounding_box:
                              top: 0.40293872356414795
                              left: 0.41730815172195435
                              height: 0.034755028784275055
                              width: 0.0316346175968647
                        - text: Phone 09:35
                          frames:
                          - confidence: 0.93
                            timestamp: 5.038
                            bounding_box:
                              top: 0.6626695990562439
                              left: 0.306117981672287
                              height: 0.04718441516160965
                              width: 0.07129635661840439
                        - text: Jessica Walker
                          frames:
                          - confidence: 0.99
                            timestamp: 5.038
                            bounding_box:
                              top: 0.6997396945953369
                              left: 0.29559680819511414
                              height: 0.06368204951286316
                              width: 0.10614649951457977
                        - text: by
                          frames:
                          - confidence: 1.0
                            timestamp: 0.033
                            bounding_box:
                              top: 0.5771484375
                              left: 0.3680419921875
                              height: 0.05078125
                              width: 0.03790283203125
                          - confidence: 1.0
                            timestamp: 1.034
                            bounding_box:
                              top: 0.5771484375
                              left: 0.3680419921875
                              height: 0.05078125
                              width: 0.03790283203125
                          - confidence: 1.0
                            timestamp: 2.035
                            bounding_box:
                              top: 0.5771484375
                              left: 0.3680419921875
                              height: 0.05078125
                              width: 0.03790283203125
                          - confidence: 1.0
                            timestamp: 3.036
                            bounding_box:
                              top: 0.5771483778953552
                              left: 0.3680419623851776
                              height: 0.05078125
                              width: 0.03790280967950821
                          - confidence: 1.0
                            timestamp: 4.037
                            bounding_box:
                              top: 0.5781249403953552
                              left: 0.3685912787914276
                              height: 0.048828125
                              width: 0.03625486046075821
                          - confidence: 1.0
                            timestamp: 8.041
                            bounding_box:
                              top: 0.5771483778953552
                              left: 0.3680419623851776
                              height: 0.05078125
                              width: 0.03790280967950821
                          - confidence: 1.0
                            timestamp: 9.042
                            bounding_box:
                              top: 0.5771483778953552
                              left: 0.3680419623851776
                              height: 0.05078125
                              width: 0.03790280967950821
                          - confidence: 1.0
                            timestamp: 10.043
                            bounding_box:
                              top: 0.5771484375
                              left: 0.3680419921875
                              height: 0.05078125
                              width: 0.03790283203125
                          - confidence: 1.0
                            timestamp: 11.044
                            bounding_box:
                              top: 0.5771484375
                              left: 0.3680419921875
                              height: 0.05078125
                              width: 0.03790283203125
                        - text: 09
                          frames:
                          - confidence: 0.95
                            timestamp: 5.038
                            bounding_box:
                              top: 0.5497782230377197
                              left: 0.3190409541130066
                              height: 0.023720381781458855
                              width: 0.015087604522705078
                          - confidence: 0.97
                            timestamp: 7.04
                            bounding_box:
                              top: 0.550456166267395
                              left: 0.31899967789649963
                              height: 0.02253044955432415
                              width: 0.01490035094320774
                          - confidence: 0.97
                            timestamp: 8.041
                            bounding_box:
                              top: 0.675579309463501
                              left: 0.34555432200431824
                              height: 0.022601911798119545
                              width: 0.015502405352890491
                        - text: June
                          frames:
                          - confidence: 0.99
                            timestamp: 3.036
                            bounding_box:
                              top: 0.25372132658958435
                              left: 0.38555628061294556
                              height: 0.03789842501282692
                              width: 0.038944244384765625
                          - confidence: 0.99
                            timestamp: 4.037
                            bounding_box:
                              top: 0.2512767016887665
                              left: 0.38724032044410706
                              height: 0.03719410300254822
                              width: 0.03869886323809624
                          - confidence: 0.99
                            timestamp: 5.038
                            bounding_box:
                              top: 0.24756334722042084
                              left: 0.3906562924385071
                              height: 0.03666496276855469
                              width: 0.03866243362426758
                          - confidence: 0.99
                            timestamp: 6.039
                            bounding_box:
                              top: 0.24670396745204926
                              left: 0.3893860876560211
                              height: 0.03972002491354942
                              width: 0.0399206168949604
                          - confidence: 0.99
                            timestamp: 7.04
                            bounding_box:
                              top: 0.24625341594219208
                              left: 0.39105337858200073
                              height: 0.03667996823787689
                              width: 0.038454316556453705
                          - confidence: 0.99
                            timestamp: 8.041
                            bounding_box:
                              top: 0.2464989572763443
                              left: 0.3887055218219757
                              height: 0.04000803455710411
                              width: 0.03996307775378227
                          - confidence: 0.99
                            timestamp: 9.042
                            bounding_box:
                              top: 0.24388699233531952
                              left: 0.3922593891620636
                              height: 0.03956976905465126
                              width: 0.04000513628125191
                          - confidence: 0.99
                            timestamp: 10.043
                            bounding_box:
                              top: 0.24281039834022522
                              left: 0.3942343294620514
                              height: 0.03894076868891716
                              width: 0.04015178605914116
                          - confidence: 0.99
                            timestamp: 11.044
                            bounding_box:
                              top: 0.24924282729625702
                              left: 0.38876479864120483
                              height: 0.03708373010158539
                              width: 0.038691259920597076
                        - text: waiting
                          frames:
                          - confidence: 0.99
                            timestamp: 3.036
                            bounding_box:
                              top: 0.42862698435783386
                              left: 0.3395964503288269
                              height: 0.048062387853860855
                              width: 0.052384041249752045
                          - confidence: 0.99
                            timestamp: 4.037
                            bounding_box:
                              top: 0.4256415367126465
                              left: 0.3411189317703247
                              height: 0.04742838442325592
                              width: 0.052552081644535065
                          - confidence: 0.99
                            timestamp: 5.038
                            bounding_box:
                              top: 0.4206976294517517
                              left: 0.3437379002571106
                              height: 0.046525489538908005
                              width: 0.05236873775720596
                          - confidence: 0.99
                            timestamp: 6.039
                            bounding_box:
                              top: 0.42298877239227295
                              left: 0.34291398525238037
                              height: 0.046675704419612885
                              width: 0.05279130861163139
                        - text: 5 New Messages
                          frames:
                          - confidence: 0.99
                            timestamp: 5.038
                            bounding_box:
                              top: 0.5791347026824951
                              left: 0.28147831559181213
                              height: 0.07038260251283646
                              width: 0.11879086494445801
                        - text: Messages
                          frames:
                          - confidence: 0.98
                            timestamp: 3.036
                            bounding_box:
                              top: 0.36800554394721985
                              left: 0.264309823513031
                              height: 0.04834221675992012
                              width: 0.0621185302734375
                          - confidence: 0.98
                            timestamp: 4.037
                            bounding_box:
                              top: 0.36391258239746094
                              left: 0.26572519540786743
                              height: 0.048231761902570724
                              width: 0.0622098445892334
                          - confidence: 0.98
                            timestamp: 5.038
                            bounding_box:
                              top: 0.35950037837028503
                              left: 0.26973292231559753
                              height: 0.044416047632694244
                              width: 0.06057405471801758
                          - confidence: 0.99
                            timestamp: 5.038
                            bounding_box:
                              top: 0.5791346430778503
                              left: 0.32720667123794556
                              height: 0.054293230175971985
                              width: 0.07306251674890518
                          - confidence: 0.98
                            timestamp: 6.039
                            bounding_box:
                              top: 0.3619998097419739
                              left: 0.26891958713531494
                              height: 0.044086795300245285
                              width: 0.06054401397705078
                        - text: Phone
                          frames:
                          - confidence: 0.98
                            timestamp: 5.038
                            bounding_box:
                              top: 0.6743109226226807
                              left: 0.3061242997646332
                              height: 0.03553924709558487
                              width: 0.0395113006234169
                        - text: Jes
                          frames:
                          - confidence: 0.98
                            timestamp: 6.039
                            bounding_box:
                              top: 0.7343295812606812
                              left: 0.2949763834476471
                              height: 0.03302307054400444
                              width: 0.029018878936767578
                          - confidence: 0.98
                            timestamp: 6.039
                            bounding_box:
                              top: 0.7343294620513916
                              left: 0.2949763834476471
                              height: 0.03302324190735817
                              width: 0.029018878936767578
                        - text: Tuesday, 29 June
                          frames:
                          - confidence: 0.97
                            timestamp: 3.036
                            bounding_box:
                              top: 0.25285205245018005
                              left: 0.29714447259902954
                              height: 0.07747793942689896
                              width: 0.12804988026618958
                          - confidence: 0.98
                            timestamp: 4.037
                            bounding_box:
                              top: 0.25019046664237976
                              left: 0.2987634837627411
                              height: 0.07682707160711288
                              width: 0.1278870403766632
                          - confidence: 0.98
                            timestamp: 5.038
                            bounding_box:
                              top: 0.2465943694114685
                              left: 0.30178967118263245
                              height: 0.0738031193614006
                              width: 0.12814751267433167
                          - confidence: 0.97
                            timestamp: 7.04
                            bounding_box:
                              top: 0.2445259690284729
                              left: 0.3013443052768707
                              height: 0.07636349648237228
                              width: 0.1289505958557129
                          - confidence: 0.99
                            timestamp: 8.041
                            bounding_box:
                              top: 0.2464868575334549
                              left: 0.3004941940307617
                              height: 0.07656729221343994
                              width: 0.12873248755931854
                          - confidence: 0.99
                            timestamp: 9.042
                            bounding_box:
                              top: 0.24386361241340637
                              left: 0.3033866286277771
                              height: 0.07523303478956223
                              width: 0.1294354498386383
                          - confidence: 0.98
                            timestamp: 10.043
                            bounding_box:
                              top: 0.24154777824878693
                              left: 0.3050667643547058
                              height: 0.076146699488163
                              width: 0.12994015216827393
                          - confidence: 0.98
                            timestamp: 11.044
                            bounding_box:
                              top: 0.2488001435995102
                              left: 0.2999100089073181
                              height: 0.07492870837450027
                              width: 0.12823601067066193
                        - text: New
                          frames:
                          - confidence: 0.99
                            timestamp: 5.038
                            bounding_box:
                              top: 0.6055755019187927
                              left: 0.2939442992210388
                              height: 0.035168204456567764
                              width: 0.03330373764038086
                        - text: George
                          frames:
                          - confidence: 0.99
                            timestamp: 3.036
                            bounding_box:
                              top: 0.4229276478290558
                              left: 0.2542955279350281
                              height: 0.0469428151845932
                              width: 0.053511716425418854
                          - confidence: 0.99
                            timestamp: 3.036
                            bounding_box:
                              top: 0.4229276776313782
                              left: 0.2542955279350281
                              height: 0.046942733228206635
                              width: 0.053511716425418854
                          - confidence: 0.99
                            timestamp: 4.037
                            bounding_box:
                              top: 0.4195331931114197
                              left: 0.2560797333717346
                              height: 0.046450380235910416
                              width: 0.053171586245298386
                          - confidence: 0.99
                            timestamp: 4.037
                            bounding_box:
                              top: 0.4195331931114197
                              left: 0.2560797333717346
                              height: 0.046450380235910416
                              width: 0.053171586245298386
                          - confidence: 0.99
                            timestamp: 5.038
                            bounding_box:
                              top: 0.4125470519065857
                              left: 0.25880521535873413
                              height: 0.046600595116615295
                              width: 0.05308709293603897
                          - confidence: 0.99
                            timestamp: 5.038
                            bounding_box:
                              top: 0.4125470519065857
                              left: 0.25880521535873413
                              height: 0.046600595116615295
                              width: 0.05308709293603897
                        - text: 3 Missed Calls
                          frames:
                          - confidence: 0.98
                            timestamp: 5.038
                            bounding_box:
                              top: 0.7390745282173157
                              left: 0.29968851804733276
                              height: 0.06254000961780548
                              width: 0.10147905349731445
                        - text: Calls
                          frames:
                          - confidence: 0.99
                            timestamp: 5.038
                            bounding_box:
                              top: 0.7396208047866821
                              left: 0.3647391200065613
                              height: 0.03724128007888794
                              width: 0.03636932373046875
                          - confidence: 0.88
                            timestamp: 8.041
                            bounding_box:
                              top: 0.7437046766281128
                              left: 0.36558982729911804
                              height: 0.03654547780752182
                              width: 0.034962914884090424
                          - confidence: 0.88
                            timestamp: 8.041
                            bounding_box:
                              top: 0.7437046766281128
                              left: 0.36558982729911804
                              height: 0.03654547780752182
                              width: 0.034962914884090424
                        - text: '3'
                          frames:
                          - confidence: 0.96
                            timestamp: 5.038
                            bounding_box:
                              top: 0.773235559463501
                              left: 0.299897700548172
                              height: 0.02819841168820858
                              width: 0.011974096298217773
                        - text: '5'
                          frames:
                          - confidence: 0.98
                            timestamp: 5.038
                            bounding_box:
                              top: 0.61769700050354
                              left: 0.2816464304924011
                              height: 0.027646128088235855
                              width: 0.012067651376128197
                        - text: '40'
                          frames:
                          - confidence: 0.97
                            timestamp: 5.038
                            bounding_box:
                              top: 0.5453961491584778
                              left: 0.33408206701278687
                              height: 0.02230139821767807
                              width: 0.015164375305175781
                          - confidence: 0.97
                            timestamp: 7.04
                            bounding_box:
                              top: 0.5451774597167969
                              left: 0.33362334966659546
                              height: 0.022187381982803345
                              width: 0.015301180072128773
                        - text: 09 35
                          frames:
                          - confidence: 0.97
                            timestamp: 8.041
                            bounding_box:
                              top: 0.6638888716697693
                              left: 0.34375
                              height: 0.03333333507180214
                              width: 0.03125
                        - text: Jessica
                          frames:
                          - confidence: 0.99
                            timestamp: 5.038
                            bounding_box:
                              top: 0.7187226414680481
                              left: 0.29560500383377075
                              height: 0.04453514888882637
                              width: 0.05530815199017525
                        - text: Are
                          frames:
                          - confidence: 0.99
                            timestamp: 3.036
                            bounding_box:
                              top: 0.4710199534893036
                              left: 0.25888514518737793
                              height: 0.030879296362400055
                              width: 0.026412153616547585
                          - confidence: 0.99
                            timestamp: 4.037
                            bounding_box:
                              top: 0.467038631439209
                              left: 0.2603006660938263
                              height: 0.03121727891266346
                              width: 0.0263487808406353
                          - confidence: 0.99
                            timestamp: 5.038
                            bounding_box:
                              top: 0.459639310836792
                              left: 0.2628782391548157
                              height: 0.031254831701517105
                              width: 0.026454448699951172
                      twelvelabs:
                        error: null
                        id: 217e70c6-90e1-4d38-9456-42658581873a
                        final_status: finished
                        texts:
                        - text: by Getty Images™
                          frames:
                          - confidence: 1.0
                            timestamp: 4.0
                            bounding_box:
                              top: null
                              left: null
                              height: null
                              width: null
                        - text: iStock.
                          frames:
                          - confidence: 1.0
                            timestamp: 3.0
                            bounding_box:
                              top: null
                              left: null
                              height: null
                              width: null
                        - text: '10:45'
                          frames:
                          - confidence: 1.0
                            timestamp: 8.0
                            bounding_box:
                              top: null
                              left: null
                              height: null
                              width: null
                        - text: Are you still waiting for me?
                          frames:
                          - confidence: 1.0
                            timestamp: 2.0
                            bounding_box:
                              top: null
                              left: null
                              height: null
                              width: null
                        - text: George
                          frames:
                          - confidence: 1.0
                            timestamp: 2.0
                            bounding_box:
                              top: null
                              left: null
                              height: null
                              width: null
                        - text: Tuesday, 29 June
                          frames:
                          - confidence: 1.0
                            timestamp: 8.0
                            bounding_box:
                              top: null
                              left: null
                              height: null
                              width: null
                        - text: Messages now
                          frames:
                          - confidence: 1.0
                            timestamp: 1.0
                            bounding_box:
                              top: null
                              left: null
                              height: null
                              width: null
                        - text: Mail 09 40
                          frames:
                          - confidence: 1.0
                            timestamp: 1.0
                            bounding_box:
                              top: null
                              left: null
                              height: null
                              width: null
                        - text: 5 New Messages
                          frames:
                          - confidence: 1.0
                            timestamp: 1.0
                            bounding_box:
                              top: null
                              left: null
                              height: null
                              width: null
                        - text: Jessica Walker
                          frames:
                          - confidence: 1.0
                            timestamp: 1.0
                            bounding_box:
                              top: null
                              left: null
                              height: null
                              width: null
                        - text: 3 Missed Calls
                          frames:
                          - confidence: 1.0
                            timestamp: 1.0
                            bounding_box:
                              top: null
                              left: null
                              height: null
                              width: null
                        - text: Messages
                          frames:
                          - confidence: 1.0
                            timestamp: 1.0
                            bounding_box:
                              top: null
                              left: null
                              height: null
                              width: null
                        - text: iStock.
                          frames:
                          - confidence: 1.0
                            timestamp: 3.0
                            bounding_box:
                              top: null
                              left: null
                              height: null
                              width: null
                        - text: by Getty Images™
                          frames:
                          - confidence: 1.0
                            timestamp: 3.0
                            bounding_box:
                              top: null
                              left: null
                              height: null
                              width: null
                        - text: Walker
                          frames:
                          - confidence: 1.0
                            timestamp: 1.0
                            bounding_box:
                              top: null
                              left: null
                              height: null
                              width: null
                        - text: Calls
                          frames:
                          - confidence: 1.0
                            timestamp: 1.0
                            bounding_box:
                              top: null
                              left: null
                              height: null
                              width: null
                      google:
                        error: null
                        id: 84038a20-2bff-4fb4-ba3d-cb386eb1a279
                        final_status: finished
                        texts:
                        - text: Stook.
                          frames:
                          - confidence: 0.77
                            timestamp: 5.6056
                            bounding_box:
                              top: 0.45277777
                              left: 0.38125
                              height: 0.11363653000000001
                              width: 0.24054077000000007
                        - text: Ge ges
                          frames:
                          - confidence: 0.83
                            timestamp: 5.2052
                            bounding_box:
                              top: 0.5694444
                              left: 0.403125
                              height: 0.07186190000000003
                              width: 0.20151239999999998
                          - confidence: 0.83
                            timestamp: 5.3053
                            bounding_box:
                              top: 0.5694444
                              left: 0.403125
                              height: 0.07046160000000001
                              width: 0.20149354999999997
                          - confidence: 0.83
                            timestamp: 5.4054
                            bounding_box:
                              top: 0.5694444
                              left: 0.403125
                              height: 0.07207110000000005
                              width: 0.20150969999999996
                          - confidence: 0.83
                            timestamp: 5.5055
                            bounding_box:
                              top: 0.56666666
                              left: 0.403125
                              height: 0.07483404000000005
                              width: 0.20150993999999994
                          - confidence: 0.83
                            timestamp: 5.6056
                            bounding_box:
                              top: 0.5694444
                              left: 0.403125
                              height: 0.0642433
                              width: 0.19837705999999994
                          - confidence: 0.83
                            timestamp: 5.7057
                            bounding_box:
                              top: 0.5694444
                              left: 0.396875
                              height: 0.06894770000000006
                              width: 0.20463989999999999
                        - text: Gen ges
                          frames:
                          - confidence: 0.74
                            timestamp: 7.007
                            bounding_box:
                              top: 0.5694444
                              left: 0.403125
                              height: 0.06940950000000001
                              width: 0.20150819999999997
                          - confidence: 0.74
                            timestamp: 7.1071
                            bounding_box:
                              top: 0.5694444
                              left: 0.40625
                              height: 0.07031320000000008
                              width: 0.19680660000000005
                        - text: iStock.
                          frames:
                          - confidence: 0.99
                            timestamp: 0.0
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.13006562
                              width: 0.25310889999999997
                          - confidence: 0.99
                            timestamp: 0.1001
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.13025330999999996
                              width: 0.25154509999999997
                          - confidence: 0.99
                            timestamp: 0.2002
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.12922042
                              width: 0.2531138399999999
                          - confidence: 0.99
                            timestamp: 0.3003
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.12982923000000002
                              width: 0.25311039999999996
                          - confidence: 0.99
                            timestamp: 0.4004
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.12972476
                              width: 0.253111
                          - confidence: 0.99
                            timestamp: 0.5005
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.12958345999999998
                              width: 0.2515493
                          - confidence: 0.99
                            timestamp: 0.6006
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.12871465999999998
                              width: 0.25155379999999994
                          - confidence: 0.99
                            timestamp: 0.7007
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.12954001999999998
                              width: 0.25311205000000003
                          - confidence: 0.99
                            timestamp: 0.8008
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.12950819000000002
                              width: 0.2515497
                          - confidence: 0.99
                            timestamp: 0.9009
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.12975495999999997
                              width: 0.25311079999999997
                          - confidence: 0.99
                            timestamp: 1.001
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.12783195999999997
                              width: 0.25312
                          - confidence: 0.99
                            timestamp: 1.1011
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.12975501999999994
                              width: 0.25311079999999997
                          - confidence: 0.99
                            timestamp: 1.2012
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.12972085999999994
                              width: 0.25311103999999995
                          - confidence: 0.99
                            timestamp: 1.3013
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.13020796
                              width: 0.253108
                          - confidence: 0.99
                            timestamp: 1.4014
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.13020456000000002
                              width: 0.253108
                          - confidence: 0.99
                            timestamp: 1.5015
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.13003286000000003
                              width: 0.25310913
                          - confidence: 0.99
                            timestamp: 1.6016
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.12950313000000002
                              width: 0.25311229999999996
                          - confidence: 0.99
                            timestamp: 1.7017
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.12971549999999998
                              width: 0.25311103999999995
                          - confidence: 0.99
                            timestamp: 1.8018
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.12931990000000004
                              width: 0.2531133
                          - confidence: 0.99
                            timestamp: 1.9019
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.12951040000000003
                              width: 0.25311222999999994
                          - confidence: 0.99
                            timestamp: 2.002
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.12975985999999995
                              width: 0.25311079999999997
                          - confidence: 0.99
                            timestamp: 2.1021
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.12927595999999997
                              width: 0.25311353999999997
                          - confidence: 0.99
                            timestamp: 2.2022
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.12890605999999993
                              width: 0.25311545
                          - confidence: 0.99
                            timestamp: 2.3023
                            bounding_box:
                              top: 0.43611112
                              left: 0.36875
                              height: 0.14332023
                              width: 0.25156080000000003
                          - confidence: 0.99
                            timestamp: 2.4024
                            bounding_box:
                              top: 0.43611112
                              left: 0.36875
                              height: 0.14331507999999998
                              width: 0.25156080000000003
                          - confidence: 0.99
                            timestamp: 2.5025
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.14444446
                              width: 0.2515625
                          - confidence: 0.99
                            timestamp: 2.6026
                            bounding_box:
                              top: 0.43611112
                              left: 0.3453125
                              height: 0.13888887999999994
                              width: 0.28437499999999993
                          - confidence: 0.99
                            timestamp: 2.7027
                            bounding_box:
                              top: 0.43611112
                              left: 0.3796875
                              height: 0.14348107999999998
                              width: 0.24999789999999994
                          - confidence: 0.99
                            timestamp: 2.8028
                            bounding_box:
                              top: 0.43611112
                              left: 0.3578125
                              height: 0.14166668
                              width: 0.26250000000000007
                          - confidence: 0.99
                            timestamp: 2.9029
                            bounding_box:
                              top: 0.43611112
                              left: 0.3578125
                              height: 0.14421307999999994
                              width: 0.27187123
                          - confidence: 0.99
                            timestamp: 3.003
                            bounding_box:
                              top: 0.43611112
                              left: 0.3796875
                              height: 0.14166668
                              width: 0.24218749999999994
                          - confidence: 0.99
                            timestamp: 3.1031
                            bounding_box:
                              top: 0.43611112
                              left: 0.3796875
                              height: 0.14166668
                              width: 0.24218749999999994
                          - confidence: 0.99
                            timestamp: 3.2032
                            bounding_box:
                              top: 0.43611112
                              left: 0.3578125
                              height: 0.13888887999999994
                              width: 0.27031250000000007
                          - confidence: 0.99
                            timestamp: 3.3033
                            bounding_box:
                              top: 0.43611112
                              left: 0.3578125
                              height: 0.14166668
                              width: 0.271875
                          - confidence: 0.99
                            timestamp: 3.4034
                            bounding_box:
                              top: 0.43333334
                              left: 0.378125
                              height: 0.14166665999999994
                              width: 0.25156249999999997
                          - confidence: 0.99
                            timestamp: 3.5035
                            bounding_box:
                              top: 0.43611112
                              left: 0.3453125
                              height: 0.13888887999999994
                              width: 0.28437499999999993
                          - confidence: 0.99
                            timestamp: 3.6036
                            bounding_box:
                              top: 0.43611112
                              left: 0.3453125
                              height: 0.13888887999999994
                              width: 0.28437499999999993
                          - confidence: 0.99
                            timestamp: 3.7037
                            bounding_box:
                              top: 0.4611111
                              left: 0.3703125
                              height: 0.10277780000000003
                              width: 0.25625000000000003
                          - confidence: 0.99
                            timestamp: 3.8038
                            bounding_box:
                              top: 0.4611111
                              left: 0.3703125
                              height: 0.10555555999999999
                              width: 0.25625000000000003
                          - confidence: 0.99
                            timestamp: 3.9039
                            bounding_box:
                              top: 0.43611112
                              left: 0.3578125
                              height: 0.13888887999999994
                              width: 0.271875
                          - confidence: 0.99
                            timestamp: 4.004
                            bounding_box:
                              top: 0.43333334
                              left: 0.3578125
                              height: 0.14166665999999994
                              width: 0.271875
                          - confidence: 0.99
                            timestamp: 4.1041
                            bounding_box:
                              top: 0.43611112
                              left: 0.3578125
                              height: 0.13888887999999994
                              width: 0.271875
                          - confidence: 0.99
                            timestamp: 4.2042
                            bounding_box:
                              top: 0.43888888
                              left: 0.35625
                              height: 0.13888892000000003
                              width: 0.27187500000000003
                          - confidence: 0.96
                            timestamp: 4.3043
                            bounding_box:
                              top: 0.43611112
                              left: 0.346875
                              height: 0.14092853999999994
                              width: 0.2843727
                          - confidence: 0.96
                            timestamp: 4.4044
                            bounding_box:
                              top: 0.44444445
                              left: 0.36875
                              height: 0.11650775000000002
                              width: 0.25155816
                          - confidence: 0.96
                            timestamp: 4.5045
                            bounding_box:
                              top: 0.44444445
                              left: 0.36875
                              height: 0.11844829000000001
                              width: 0.2515493999999999
                          - confidence: 0.96
                            timestamp: 4.6046
                            bounding_box:
                              top: 0.44166666
                              left: 0.359375
                              height: 0.13124037
                              width: 0.25937235000000003
                          - confidence: 0.96
                            timestamp: 4.7047
                            bounding_box:
                              top: 0.45277777
                              left: 0.3421875
                              height: 0.11982352999999996
                              width: 0.24988549999999998
                          - confidence: 0.71
                            timestamp: 6.7067
                            bounding_box:
                              top: 0.43333334
                              left: 0.346875
                              height: 0.13888889000000004
                              width: 0.27187500000000003
                          - confidence: 1.0
                            timestamp: 7.5075
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.14166665999999994
                              width: 0.2515625
                          - confidence: 1.0
                            timestamp: 7.6076
                            bounding_box:
                              top: 0.43333334
                              left: 0.36875
                              height: 0.14166665999999994
                              width: 0.2515625
                          - confidence: 1.0
                            timestamp: 7.7077
                            bounding_box:
                              top: 0.44166666
                              left: 0.36875
                              height: 0.13333333999999997
                              width: 0.2515625
                          - confidence: 1.0
                            timestamp: 7.8078
                            bounding_box:
                              top: 0.43055555
                              left: 0.36875
                              height: 0.14444444999999995
[...]
