openapi: 3.2.0
info:
  title: OCR Features Ocr Tables Async API
  version: '2.0'
  description: Your project description
servers:
- url: https://api.edenai.run/v2
tags:
- name: Ocr Tables Async
paths:
  /ocr/ocr_tables_async/:
    get:
      operationId: ocr_ocr_tables_async_retrieve
      description: 'Get a list of all jobs launched for this feature. You''ll then be able to use the ID of each one to get its status and results.


        Please note that a **job status doesn''t get updated until a get request** is sent.'
      summary: OCR Tables List Job
      tags:
      - Ocr Tables Async
      security:
      - FeatureApiAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAsyncJobResponse'
              examples:
                ResponseExample:
                  value:
                    jobs:
                    - providers: '[''microsoft'', ''google'', ''amazon'']'
                      nb: 3
                      nb_ok: 3
                      public_id: 3344c163-f4cd-4655-a390-fb8172af34a6
                      state: finished
                      created_at: '2026-09-06T03:58:31.619077'
                    - providers: '[''microsoft'', ''google'', ''amazon'']'
                      nb: 3
                      nb_ok: 3
                      public_id: 4e250341-57de-4074-8a1b-455c83d6f6d9
                      state: finished
                      created_at: '2026-09-06T02:58:31.619087'
                    - providers: '[''microsoft'', ''google'', ''amazon'']'
                      nb: 3
                      nb_ok: 3
                      public_id: fef4726f-2b89-4dc9-9c4c-fd001bde5e5f
                      state: finished
                      created_at: '2026-09-06T01:58:31.619091'
                  summary: Response Example
          description: ''
    post:
      operationId: ocr_ocr_tables_async_create
      description: 'Available Providers


        |Provider|Version|Price|Billing unit|

        |----|-------|-----|------------|

        |**amazon**|`boto3 (v1.15.18)`|15.0 (per 1000 page)|1 page

        |**google**|`DocumentAI v1 beta3`|65.0 (per 1000 page)|1 page

        |**microsoft**|`rest API 4.0 (2024-02-29-preview)`|10.0 (per 1000 page)|1 page


        Supported Languages


        |Name|Value|

        |----|-----|

        |**Afrikaans**|`af`|

        |**Albanian**|`sq`|

        |**Angika**|`anp`|

        |**Arabic**|`ar`|

        |**Asturian**|`ast`|

        |**Awadhi**|`awa`|

        |**Azerbaijani**|`az`|

        |**Bagheli**|`bfy`|

        |**Basque**|`eu`|

        |**Belarusian**|`be`|

        |**Bhojpuri**|`bho`|

        |**Bislama**|`bi`|

        |**Bodo (India)**|`brx`|

        |**Bosnian**|`bs`|

        |**Braj**|`bra`|

        |**Breton**|`br`|

        |**Bulgarian**|`bg`|

        |**Bundeli**|`bns`|

        |**Buriat**|`bua`|

        |**Camling**|`rab`|

        |**Catalan**|`ca`|

        |**Cebuano**|`ceb`|

        |**Chamorro**|`ch`|

        |**Chhattisgarhi**|`hne`|

        |**Chinese**|`zh`|

        |**Cornish**|`kw`|

        |**Corsican**|`co`|

        |**Crimean Tatar**|`crh`|

        |**Croatian**|`hr`|

        |**Czech**|`cs`|

        |**Danish**|`da`|

        |**Dari**|`prs`|

        |**Dhimal**|`dhi`|

        |**Dogri (macrolanguage)**|`doi`|

        |**Dutch**|`nl`|

        |**English**|`en`|

        |**Erzya**|`myv`|

        |**Estonian**|`et`|

        |**Faroese**|`fo`|

        |**Fijian**|`fj`|

        |**Filipino**|`fil`|

        |**Finnish**|`fi`|

        |**French**|`fr`|

        |**Friulian**|`fur`|

        |**Gagauz**|`gag`|

        |**Galician**|`gl`|

        |**German**|`de`|

        |**Gilbertese**|`gil`|

        |**Gondi**|`gon`|

        |**Gurung**|`gvr`|

        |**Haitian**|`ht`|

        |**Halbi**|`hlb`|

        |**Hani**|`hni`|

        |**Haryanvi**|`bgc`|

        |**Hawaiian**|`haw`|

        |**Hindi**|`hi`|

        |**Hmong Daw**|`mww`|

        |**Ho**|`hoc`|

        |**Hungarian**|`hu`|

        |**Icelandic**|`is`|

        |**Inari Sami**|`smn`|

        |**Indonesian**|`id`|

        |**Interlingua (International Auxiliary Language Association)**|`ia`|

        |**Inuktitut**|`iu`|

        |**Irish**|`ga`|

        |**Italian**|`it`|

        |**Japanese**|`ja`|

        |**Jaunsari**|`jns`|

        |**Javanese**|`jv`|

        |**K''iche''**|`quc`|

        |**Kabuverdianu**|`kea`|

        |**Kachin**|`kac`|

        |**Kalaallisut**|`kl`|

        |**Kangri**|`xnr`|

        |**Kara-Kalpak**|`kaa`|

        |**Karachay-Balkar**|`krc`|

        |**Kashubian**|`csb`|

        |**Kazakh**|`kk`|

        |**Khaling**|`klr`|

        |**Khasi**|`kha`|

        |**Kirghiz**|`ky`|

        |**Korean**|`ko`|

        |**Korku**|`kfq`|

        |**Koryak**|`kpy`|

        |**Kosraean**|`kos`|

        |**Kumarbhag Paharia**|`kmj`|

        |**Kumyk**|`kum`|

        |**Kurdish**|`ku`|

        |**Kurukh**|`kru`|

        |**Kölsch**|`ksh`|

        |**Lakota**|`lkt`|

        |**Latin**|`la`|

        |**Latvian**|`lv`|

        |**Lithuanian**|`lt`|

        |**Lower Sorbian**|`dsb`|

        |**Lule Sami**|`smj`|

        |**Luxembourgish**|`lb`|

        |**Mahasu Pahari**|`bfz`|

        |**Malay (macrolanguage)**|`ms`|

        |**Maltese**|`mt`|

        |**Manx**|`gv`|

        |**Maori**|`mi`|

        |**Marathi**|`mr`|

        |**Mongolian**|`mn`|

        |**Montenegrin**|`cnr`|

        |**Neapolitan**|`nap`|

        |**Nepali (macrolanguage)**|`ne`|

        |**Niuean**|`niu`|

        |**Nogai**|`nog`|

        |**Northern Sami**|`se`|

        |**Norwegian**|`no`|

        |**Occitan (post 1500)**|`oc`|

        |**Ossetian**|`os`|

        |**Panjabi**|`pa`|

        |**Persian**|`fa`|

        |**Polish**|`pl`|

        |**Portuguese**|`pt`|

        |**Pushto**|`ps`|

        |**Romanian**|`ro`|

        |**Romansh**|`rm`|

        |**Russian**|`ru`|

        |**Sadri**|`sck`|

        |**Samoan**|`sm`|

        |**Sanskrit**|`sa`|

        |**Santali**|`sat`|

        |**Scots**|`sco`|

        |**Scottish Gaelic**|`gd`|

        |**Serbian**|`sr`|

        |**Sherpa**|`xsr`|

        |**Sirmauri**|`srx`|

        |**Skolt Sami**|`sms`|

        |**Slovak**|`sk`|

        |**Slovenian**|`sl`|

        |**Somali**|`so`|

        |**Southern Sami**|`sma`|

        |**Spanish**|`es`|

        |**Swahili (macrolanguage)**|`sw`|

        |**Swedish**|`sv`|

        |**Tagalog**|`tl`|

        |**Tajik**|`tg`|

        |**Tatar**|`tt`|

        |**Tetum**|`tet`|

        |**Thangmi**|`thf`|

        |**Tonga (Tonga Islands)**|`to`|

        |**Turkish**|`tr`|

        |**Turkmen**|`tk`|

        |**Tuvinian**|`tyv`|

        |**Uighur**|`ug`|

        |**Upper Sorbian**|`hsb`|

        |**Urdu**|`ur`|

        |**Uzbek**|`uz`|

        |**Vietnamese**|`vi`|

        |**Volapük**|`vo`|

        |**Walser**|`wae`|

        |**Welsh**|`cy`|

        |**Western Frisian**|`fy`|

        |**Yucateco**|`yua`|

        |**Zhuang**|`za`|

        |**Zulu**|`zu`|


        Supported Detailed Languages


        |Name|Value|

        |----|-----|

        |**Auto detection**|`auto-detect`|

        |**Belarusian**|`be-Cyrl`|

        |**Belarusian (Latin)**|`be-Latn`|

        |**Chinese (Simplified)**|`zh-Hans`|

        |**Chinese (Traditional)**|`zh-Hant`|

        |**Kara-Kalpak (Cyrillic)**|`kaa-Cyrl`|

        |**Kazakh**|`kk-Cyrl`|

        |**Kazakh (Latin)**|`kk-Latn`|

        |**Kurdish…'
      summary: OCR Tables Launch Job
      tags:
      - Ocr Tables Async
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/OcrTablesAsyncRequest'
            examples:
              RequestExample:
                value:
                  providers: microsoft,google,amazon
                  file: /edenai/edenai/features/ocr/samples/data/tables.png
                  language: en
                summary: Request Example
          application/json:
            schema:
              $ref: '#/components/schemas/OcrTablesAsyncRequest'
            examples:
              RequestExample:
                value:
                  providers: microsoft,google,amazon
                  language: en
                  file_url: http://edenai-resource-example.png
                summary: Request Example
        required: true
      security:
      - FeatureApiAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaunchAsyncJobResponse'
              examples:
                ResponseExample:
                  value:
                    public_id: 5d6fdd83-9465-46b9-a346-a586357de57c
                  summary: Response Example
          description: ''
    delete:
      operationId: ocr_ocr_tables_async_destroy
      description: 'Generic class to handle method GET all async job for user


        Attributes:

        feature (str): EdenAI feature

        subfeature (str): EdenAI subfeature'
      summary: OCR Tables delete Jobs
      tags:
      - Ocr Tables Async
      security:
      - FeatureApiAuth: []
      - {}
      responses:
        '204':
          description: No response body
  /ocr/ocr_tables_async/{public_id}/:
    get:
      operationId: ocr_ocr_tables_async_retrieve_2
      description: Get the status and results of an async job given its ID.
      summary: OCR Tables Get Job Results
      parameters:
      - in: path
        name: public_id
        schema:
          type: string
        required: true
      - in: query
        name: response_as_dict
        schema:
          type: boolean
          default: true
      - in: query
        name: show_base_64
        schema:
          type: boolean
          default: true
      - in: query
        name: show_original_response
        schema:
          type: boolean
          default: false
      tags:
      - Ocr Tables Async
      security:
      - FeatureApiAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asyncocrocr_tables_asyncResponseModel'
              examples:
                ResponseExample:
                  value:
                    public_id: 4d83b337-4516-42fb-9f00-af6cca105b6f
                    status: finished
                    error: null
                    results:
                      microsoft:
                        error: null
                        id: bf245f4c-f484-4482-a1e8-879b8dc85a37
                        final_status: finished
                        pages:
                        - tables:
                          - rows:
                            - cells:
                              - text: Station
                                row_index: 0
                                col_index: 0
                                row_span: 2
                                col_span: 1
                                confidence: 0.994
                                bounding_box:
                                  left: 0.0
                                  top: 0.0
                                  width: 0.17246376811594202
                                  height: 0.12698412698412698
                                is_header: true
                              - text: Latitude
                                row_index: 0
                                col_index: 1
                                row_span: 2
                                col_span: 1
                                confidence: 0.993
                                bounding_box:
                                  left: 0.0
                                  top: 0.2698412698412698
                                  width: 0.17391304347826086
                                  height: 0.12698412698412698
                                is_header: true
                              - text: Longitude
                                row_index: 0
                                col_index: 2
                                row_span: 2
                                col_span: 1
                                confidence: 0.993
                                bounding_box:
                                  left: 0.0
                                  top: 0.5419501133786848
                                  width: 0.2
                                  height: 0.12698412698412698
                                is_header: true
                              - text: Year
                                row_index: 0
                                col_index: 3
                                row_span: 1
                                col_span: 4
                                confidence: 0.988
                                bounding_box:
                                  left: 0.0
                                  top: 0.854875283446712
                                  width: 0.45362318840579713
                                  height: 0.049886621315192746
                                is_header: true
                            - cells:
                              - text: '1993'
                                row_index: 1
                                col_index: 3
                                row_span: 1
                                col_span: 1
                                confidence: 0.988
                                bounding_box:
                                  left: 0.03188405797101449
                                  top: 0.854875283446712
                                  width: 0.12608695652173912
                                  height: 0.07709750566893424
                                is_header: true
                              - text: '1994'
                                row_index: 1
                                col_index: 4
                                row_span: 1
                                col_span: 1
                                confidence: 0.992
                                bounding_box:
                                  left: 0.03188405797101449
                                  top: 1.0521541950113378
                                  width: 0.1246376811594203
                                  height: 0.07709750566893424
                                is_header: true
                              - text: '2012'
                                row_index: 1
                                col_index: 5
                                row_span: 1
                                col_span: 1
                                confidence: 0.957
                                bounding_box:
                                  left: 0.03188405797101449
                                  top: 1.2471655328798186
                                  width: 0.11014492753623188
                                  height: 0.07709750566893424
                                is_header: true
                              - text: '2013'
                                row_index: 1
                                col_index: 6
                                row_span: 1
                                col_span: 1
                                confidence: 0.988
                                bounding_box:
                                  left: 0.03188405797101449
                                  top: 1.4195011337868482
                                  width: 0.0927536231884058
                                  height: 0.07709750566893424
                                is_header: true
                            - cells:
                              - text: Kishngarh
                                row_index: 2
                                col_index: 0
                                row_span: 1
                                col_span: 1
                                confidence: 0.995
                                bounding_box:
                                  left: 0.08115942028985507
                                  top: 0.0
                                  width: 0.17246376811594202
                                  height: 0.10657596371882086
                                is_header: false
                              - text: '27.82'
                                row_index: 2
                                col_index: 1
                                row_span: 1
                                col_span: 1
                                confidence: 0.994
                                bounding_box:
                                  left: 0.08115942028985507
                                  top: 0.2698412698412698
                                  width: 0.17391304347826086
                                  height: 0.10657596371882086
                                is_header: false
                              - text: '76.72'
                                row_index: 2
                                col_index: 2
                                row_span: 1
                                col_span: 1
                                confidence: 0.997
                                bounding_box:
                                  left: 0.08115942028985507
                                  top: 0.5419501133786848
                                  width: 0.2
                                  height: 0.10657596371882086
                                is_header: false
                              - text: '563.5'
                                row_index: 2
                                col_index: 3
                                row_span: 1
                                col_span: 1
                                confidence: 0.991
                                bounding_box:
                                  left: 0.08115942028985507
                                  top: 0.854875283446712
                                  width: 0.12608695652173912
                                  height: 0.10430839002267574
                                is_header: false
                              - text: '563.5'
                                row_index: 2
                                col_index: 4
                                row_span: 1
                                col_span: 1
                                confidence: 0.994
                                bounding_box:
                                  left: 0.08115942028985507
                                  top: 1.0521541950113378
                                  width: 0.1246376811594203
                                  height: 0.10430839002267574
                                is_header: false
                              - text: '490'
                                row_index: 2
                                col_index: 5
                                row_span: 1
                                col_span: 1
                                confidence: 0.998
                                bounding_box:
                                  left: 0.08115942028985507
                                  top: 1.2471655328798186
                                  width: 0.11014492753623188
                                  height: 0.10430839002267574
                                is_header: false
                              - text: '804'
                                row_index: 2
                                col_index: 6
                                row_span: 1
                                col_span: 1
                                confidence: 0.997
                                bounding_box:
                                  left: 0.08115942028985507
                                  top: 1.4195011337868482
                                  width: 0.0927536231884058
                                  height: 0.10430839002267574
                                is_header: false
                            - cells:
                              - text: Bansur
                                row_index: 3
                                col_index: 0
                                row_span: 1
                                col_span: 1
                                confidence: 0.995
                                bounding_box:
                                  left: 0.1492753623188406
                                  top: 0.0
                                  width: 0.17246376811594202
                                  height: 0.10430839002267574
                                is_header: false
                              - text: '27.70'
                                row_index: 3
                                col_index: 1
                                row_span: 1
                                col_span: 1
                                confidence: 0.994
                                bounding_box:
                                  left: 0.1492753623188406
                                  top: 0.2698412698412698
                                  width: 0.17391304347826086
                                  height: 0.10430839002267574
                                is_header: false
                              - text: '76.35'
                                row_index: 3
                                col_index: 2
                                row_span: 1
                                col_span: 1
                                confidence: 0.997
                                bounding_box:
                                  left: 0.1492753623188406
                                  top: 0.5419501133786848
                                  width: 0.2
                                  height: 0.10657596371882086
                                is_header: false
                              - text: '780.7'
                                row_index: 3
                                col_index: 3
                                row_span: 1
                                col_span: 1
                                confidence: 0.997
                                bounding_box:
                                  left: 0.14782608695652175
                                  top: 0.854875283446712
                                  width: 0.12608695652173912
                                  height: 0.10657596371882086
                                is_header: false
                              - text: '580'
                                row_index: 3
                                col_index: 4
                                row_span: 1
                                col_span: 1
                                confidence: 0.998
                                bounding_box:
                                  left: 0.14782608695652175
                                  top: 1.0521541950113378
                                  width: 0.1246376811594203
                                  height: 0.10430839002267574
                                is_header: false
                              - text: '776'
                                row_index: 3
                                col_index: 5
                                row_span: 1
                                col_span: 1
                                confidence: 0.998
                                bounding_box:
                                  left: 0.14782608695652175
                                  top: 1.2471655328798186
                                  width: 0.11014492753623188
                                  height: 0.10430839002267574
                                is_header: false
                              - text: '720'
                                row_index: 3
                                col_index: 6
                                row_span: 1
                                col_span: 1
                                confidence: 0.998
                                bounding_box:
                                  left: 0.14782608695652175
                                  top: 1.4195011337868482
                                  width: 0.0927536231884058
                                  height: 0.10430839002267574
                                is_header: false
                            - cells:
                              - text: Tijara
                                row_index: 4
                                col_index: 0
                                row_span: 1
                                col_span: 1
                                confidence: 0.993
                                bounding_box:
                                  left: 0.21594202898550724
                                  top: 0.0
                                  width: 0.17246376811594202
                                  height: 0.10430839002267574
                                is_header: false
                              - text: '27.95'
                                row_index: 4
                                col_index: 1
                                row_span: 1
                                col_span: 1
                                confidence: 0.993
                                bounding_box:
                                  left: 0.21594202898550724
                                  top: 0.2698412698412698
                                  width: 0.17391304347826086
                                  height: 0.10430839002267574
                                is_header: false
                              - text: '76.85'
                                row_index: 4
                                col_index: 2
                                row_span: 1
                                col_span: 1
                                confidence: 0.997
                                bounding_box:
                                  left: 0.21594202898550724
                                  top: 0.5419501133786848
                                  width: 0.2
                                  height: 0.10430839002267574
                                is_header: false
                              - text: '590'
                                row_index: 4
                                col_index: 3
                                row_span: 1
                                col_span: 1
                                confidence: 0.997
                                bounding_box:
                                  left: 0.21594202898550724
                                  top: 0.854875283446712
                                  width: 0.12608695652173912
                                  height: 0.10657596371882086
                                is_header: false
                              - text: '645'
                                row_index: 4
                                col_index: 4
                                row_span: 1
                                col_span: 1
                                confidence: 0.994
                                bounding_box:
                                  left: 0.2144927536231884
                                  top: 1.0521541950113378
                                  width: 0.1246376811594203
                                  height: 0.10657596371882086
                                is_header: false
                              - text: '633'
                                row_index: 4
                                col_index: 5
                                row_span: 1
                                col_span: 1
                                confidence: 0.997
                                bounding_box:
                                  left: 0.2144927536231884
                                  top: 1.2471655328798186
                                  width: 0.11159420289855072
                                  height: 0.10657596371882086
                                is_header: false
                              - text: '653'
                                row_index: 4
                                col_index: 6
                                row_span: 1
                                col_span: 1
                                confidence: 0.996
                                bounding_box:
                                  left: 0.2144927536231884
                                  top: 1.4217687074829932
                                  width: 0.09130434782608696
                                  height: 0.10657596371882086
                                is_header: false
                            - cells:
                              - text: Tapukara
                                row_index: 5
                                col_index: 0
                                row_span: 1
                                col_span: 1
                                confidence: 0.996
                                bounding_box:
                                  left: 0.2826086956521739
                                  top: 0.0
                                  width: 0.17246376811594202
                                  height: 0.10657596371882086
                                is_header: false
                              - text: '28.05'
                                row_index: 5
                                col_index: 1
                                row_span: 1
                                col_span: 1
                                confidence: 0.997
                                bounding_box:
                                  left: 0.2826086956521739
                                  top: 0.2698412698412698
                                  width: 0.17391304347826086
                                  height: 0.10657596371882086
                                is_header: false
                              - text: '76.85'
                                row_index: 5
                                col_index: 2
                                row_span: 1
                                col_span: 1
                                confidence: 0.997
                                bounding_box:
                                  left: 0.2826086956521739
                                  top: 0.5419501133786848
                                  width: 0.2
                                  height: 0.10657596371882086
                                is_header: false
                              - text: '658'
                                row_index: 5
                                col_index: 3
                                row_span: 1
                                col_span: 1
                                confidence: 0.997
                                bounding_box:
                                  left: 0.2826086956521739
                                  top: 0.854875283446712
                                  width: 0.12608695652173912
                                  height: 0.10430839002267574
                                is_header: false
                              - text: '570'
                                row_index: 5
                                col_index: 4
                                row_span: 1
                                col_span: 1
                                confidence: 0.994
                                bounding_box:
                                  left: 0.2826086956521739
                                  top: 1.0521541950113378
                                  width: 0.1246376811594203
                                  height: 0.10430839002267574
                                is_header: false
                              - text: '485'
                                row_index: 5
                                col_index: 5
                                row_span: 1
                                col_span: 1
                                confidence: 0.97
                                bounding_box:
                                  left: 0.2826086956521739
                                  top: 1.2471655328798186
                                  width: 0.11159420289855072
                                  height: 0.10430839002267574
                                is_header: false
                              - text: '342'
                                row_index: 5
                                col_index: 6
                                row_span: 1
                                col_span: 1
                                confidence: 0.997
                                bounding_box:
                                  left: 0.2826086956521739
                                  top: 1.4217687074829932
                                  width: 0.09130434782608696
                                  height: 0.10657596371882086
                                is_header: false
                            - cells:
                              - text: Behror
                                row_index: 6
                                col_index: 0
                                row_span: 1
                                col_span: 1
                                confidence: 0.995
                                bounding_box:
                                  left: 0.3507246376811594
                                  top: 0.0
                                  width: 0.17246376811594202
                                  height: 0.10430839002267574
                                is_header: false
                              - text: '27.88'
                                row_index: 6
                                col_index: 1
                                row_span: 1
                                col_span: 1
                                confidence: 0.993
                                bounding_box:
                                  left: 0.3507246376811594
                                  top: 0.2698412698412698
                                  width: 0.17391304347826086
                                  height: 0.10430839002267574
                                is_header: false
                              - text: '76.28'
                                row_index: 6
                                col_index: 2
                                row_span: 1
                                col_span: 1
                                confidence: 0.997
                                bounding_box:
                                  left: 0.3507246376811594
                                  top: 0.5419501133786848
                                  width: 0.2
                                  height: 0.10657596371882086
                                is_header: false
                              - text: '555'
                                row_index: 6
                                col_index: 3
                                row_span: 1
                                col_span: 1
                                confidence: 0.994
                                bounding_box:
                                  left: 0.3492753623188406
                                  top: 0.854875283446712
                                  width: 0.12608695652173912
                                  height: 0.10657596371882086
                                is_header: false
                              - text: '401.3'
                                row_index: 6
                                col_index: 4
                                row_span: 1
                                col_span: 1
                                confidence: 0.998
                                bounding_box:
                                  left: 0.3492753623188406
                                  top: 1.0521541950113378
                                  width: 0.1246376811594203
                                  height: 0.10657596371882086
                                is_header: false
                              - text: '487'
                                row_index: 6
                                col_index: 5
                                row_span: 1
                                col_span: 1
                                confidence: 0.998
                                bounding_box:
                                  left: 0.3492753623188406
                                  top: 1.2471655328798186
                                  width: 0.11159420289855072
                                  height: 0.10430839002267574
                                is_header: false
                              - text: '746'
                                row_index: 6
                                col_index: 6
                                row_span: 1
                                col_span: 1
                                confidence: 0.997
                                bounding_box:
                                  left: 0.3507246376811594
                                  top: 1.4217687074829932
                                  width: 0.09130434782608696
                                  height: 0.10204081632653061
                                is_header: false
                            - cells:
                              - text: Neemrana
                                row_index: 7
                                col_index: 0
                                row_span: 1
                                col_span: 1
                                confidence: 0.996
                                bounding_box:
                                  left: 0.41739130434782606
                                  top: 0.0
                                  width: 0.17246376811594202
                                  height: 0.10657596371882086
                                is_header: false
                              - text: '28.00'
                                row_index: 7
                                col_index: 1
                                row_span: 1
                                col_span: 1
                                confidence: 0.997
                                bounding_box:
                                  left: 0.41739130434782606
                                  top: 0.2698412698412698
                                  width: 0.17391304347826086
                                  height: 0.10430839002267574
                                is_header: false
                              - text: '76.38'
                                row_index: 7
                                col_index: 2
                                row_span: 1
                                col_span: 1
                                confidence: 0.997
                                bounding_box:
                                  left: 0.41739130434782606
                                  top: 0.5419501133786848
                                  width: 0.2
                                  height: 0.10430839002267574
                                is_header: false
                              - text: '1008'
                                row_index: 7
                                col_index: 3
                                row_span: 1
                                col_span: 1
                                confidence: 0.994
                                bounding_box:
                                  left: 0.41739130434782606
                                  top: 0.854875283446712
                                  width: 0.12608695652173912
                                  height: 0.10430839002267574
                                is_header: false
                              - text: '795'
                                row_index: 7
                                col_index: 4
                                row_span: 1
                                col_span: 1
                                confidence: 0.998
                                bounding_box:
                                  left: 0.41739130434782606
                                  top: 1.0521541950113378
                                  width: 0.1246376811594203
                                  height: 0.10430839002267574
                                is_header: false
                              - text: '566'
                                row_index: 7
                                col_index: 5
                                row_span: 1
                                col_span: 1
                                confidence: 0.998
                                bounding_box:
                                  left: 0.41739130434782606
                                  top: 1.2471655328798186
                                  width: 0.11159420289855072
                                  height: 0.10657596371882086
                                is_header: false
                              - text: '456'
                                row_index: 7
                                col_index: 6
                                row_span: 1
                                col_span: 1
                                confidence: 0.997
                                bounding_box:
                                  left: 0.41594202898550725
                                  top: 1.4217687074829932
                                  width: 0.09130434782608696
                                  height: 0.10657596371882086
                                is_header: false
                            - cells:
                              - text: Mundawar
                                row_index: 8
                                col_index: 0
                                row_span: 1
                                col_span: 1
                                confidence: 0.996
                                bounding_box:
                                  left: 0.4855072463768116
                                  top: 0.0
                                  width: 0.17246376811594202
                                  height: 0.10884353741496598
                                is_header: false
                              - text: '27.87'
                                row_index: 8
                                col_index: 1
                                row_span: 1
                                col_span: 1
                                confidence: 0.997
                                bounding_box:
                                  left: 0.48405797101449277
                                  top: 0.2698412698412698
                                  width: 0.17246376811594202
                                  height: 0.10884353741496598
                                is_header: false
                              - text: '76.55'
                                row_index: 8
                                col_index: 2
                                row_span: 1
                                col_span: 1
                                confidence: 0.993
                                bounding_box:
                                  left: 0.48405797101449277
                                  top: 0.5396825396825397
                                  width: 0.20144927536231885
                                  height: 0.10884353741496598
                                is_header: false
                              - text: '1010'
                                row_index: 8
                                col_index: 3
                                row_span: 1
                                col_span: 1
                                confidence: 0.994
                                bounding_box:
                                  left: 0.48405797101449277
                                  top: 0.854875283446712
                                  width: 0.12608695652173912
                                  height: 0.10657596371882086
                                is_header: false
                              - text: '931'
                                row_index: 8
                                col_index: 4
                                row_span: 1
                                col_span: 1
                                confidence: 0.995
                                bounding_box:
                                  left: 0.48405797101449277
                                  top: 1.0521541950113378
                                  width: 0.1246376811594203
                                  height: 0.10657596371882086
                                is_header: false
                              - text: '483'
                                row_index: 8
                                col_index: 5
                                row_span: 1
                                col_span: 1
                                confidence: 0.997
                                bounding_box:
                                  left: 0.48405797101449277
                                  top: 1.2471655328798186
                                  width: 0.11159420289855072
                                  height: 0.10657596371882086
                                is_header: false
                              - text: '775'
                                row_index: 8
                                col_index: 6
                                row_span: 1
                                col_span: 1
                                confidence: 0.994
                                bounding_box:
                                  left: 0.48405797101449277
                                  top: 1.4217687074829932
                                  width: 0.09130434782608696
                                  height: 0.10884353741496598
                                is_header: false
                            num_rows: 9
                            num_cols: 7
                        num_pages: 1
                      google:
                        error: null
                        id: d7043d8d-052b-43ef-a485-0162ad0bfa4e
                        final_status: finished
                        pages:
                        - tables:
                          - rows:
                            - cells:
                              - text: 'Station

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99963427
                                bounding_box:
                                  left: 0.0
                                  top: 0.0
                                  width: 0.16811594
                                  height: 0.13151927
                                is_header: true
                              - text: 'Latitude

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99963331
                                bounding_box:
                                  left: 0.16811594
                                  top: 0.0
                                  width: 0.17971014999999999
                                  height: 0.13151927
                                is_header: true
                              - text: 'Longitude

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99962723
                                bounding_box:
                                  left: 0.34782609
                                  top: 0.0
                                  width: 0.20000002000000006
                                  height: 0.13151927
                                is_header: true
                              - text: '1993

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99959695
                                bounding_box:
                                  left: 0.54782611
                                  top: 0.0
                                  width: 0.12318837999999999
                                  height: 0.13151927
                                is_header: true
                              - text: 'Year

                                  1994 '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99963415
                                bounding_box:
                                  left: 0.67101449
                                  top: 0.0
                                  width: 0.12463765999999998
                                  height: 0.13151927
                                is_header: true
                              - text: '2012 '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99962926
                                bounding_box:
                                  left: 0.79565215
                                  top: 0.0
                                  width: 0.11449277999999996
                                  height: 0.13151927
                                is_header: true
                              - text: '2013

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99961746
                                bounding_box:
                                  left: 0.91014493
                                  top: 0.0
                                  width: 0.08260869000000004
                                  height: 0.13151927
                                is_header: true
                            - cells:
                              - text: 'Kishngarh

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999589
                                bounding_box:
                                  left: 0.0
                                  top: 0.13151927
                                  width: 0.16811594
                                  height: 0.09750568000000001
                                is_header: false
                              - text: '27.82

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999493
                                bounding_box:
                                  left: 0.16811594
                                  top: 0.13151927
                                  width: 0.17971014999999999
                                  height: 0.09750568000000001
                                is_header: false
                              - text: '76.72 '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99998879
                                bounding_box:
                                  left: 0.34782609
                                  top: 0.13151927
                                  width: 0.20000002000000006
                                  height: 0.09750568000000001
                                is_header: false
                              - text: '563.5

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99995857
                                bounding_box:
                                  left: 0.54782611
                                  top: 0.13151927
                                  width: 0.12318837999999999
                                  height: 0.09750568000000001
                                is_header: false
                              - text: '563.5 '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999577
                                bounding_box:
                                  left: 0.67101449
                                  top: 0.13151927
                                  width: 0.12463765999999998
                                  height: 0.09750568000000001
                                is_header: false
                              - text: '490 '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999088
                                bounding_box:
                                  left: 0.79565215
                                  top: 0.13151927
                                  width: 0.11449277999999996
                                  height: 0.09750568000000001
                                is_header: false
                              - text: '804

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99997902
                                bounding_box:
                                  left: 0.91014493
                                  top: 0.13151927
                                  width: 0.08260869000000004
                                  height: 0.09750568000000001
                                is_header: false
                            - cells:
                              - text: 'Bansur

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999642
                                bounding_box:
                                  left: 0.0
                                  top: 0.22902495
                                  width: 0.16811594
                                  height: 0.10884353000000002
                                is_header: false
                              - text: '27.70

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999547
                                bounding_box:
                                  left: 0.16811594
                                  top: 0.22902495
                                  width: 0.17971014999999999
                                  height: 0.10884353000000002
                                is_header: false
                              - text: '76.35

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99998933
                                bounding_box:
                                  left: 0.34782609
                                  top: 0.22902495
                                  width: 0.20000002000000006
                                  height: 0.10884353000000002
                                is_header: false
                              - text: '780.7

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99995911
                                bounding_box:
                                  left: 0.54782611
                                  top: 0.22902495
                                  width: 0.12318837999999999
                                  height: 0.10884353000000002
                                is_header: false
                              - text: '580

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.9999963
                                bounding_box:
                                  left: 0.67101449
                                  top: 0.22902495
                                  width: 0.12463765999999998
                                  height: 0.10884353000000002
                                is_header: false
                              - text: '776

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999142
                                bounding_box:
                                  left: 0.79565215
                                  top: 0.22902495
                                  width: 0.11449277999999996
                                  height: 0.10884353000000002
                                is_header: false
                              - text: '720

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99997956
                                bounding_box:
                                  left: 0.91014493
                                  top: 0.22902495
                                  width: 0.08260869000000004
                                  height: 0.10884353000000002
                                is_header: false
                            - cells:
                              - text: 'Tijara

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999881
                                bounding_box:
                                  left: 0.0
                                  top: 0.33786848
                                  width: 0.16811594
                                  height: 0.10657596999999996
                                is_header: false
                              - text: '27.95

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999785
                                bounding_box:
                                  left: 0.16811594
                                  top: 0.33786848
                                  width: 0.17971014999999999
                                  height: 0.10657596999999996
                                is_header: false
                              - text: '76.85

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999171
                                bounding_box:
                                  left: 0.34782609
                                  top: 0.33786848
                                  width: 0.20000002000000006
                                  height: 0.10657596999999996
                                is_header: false
                              - text: '590 '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.9999615
                                bounding_box:
                                  left: 0.54782611
                                  top: 0.33786848
                                  width: 0.12318837999999999
                                  height: 0.10657596999999996
                                is_header: false
                              - text: '645 '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999869
                                bounding_box:
                                  left: 0.67101449
                                  top: 0.33786848
                                  width: 0.12463765999999998
                                  height: 0.10657596999999996
                                is_header: false
                              - text: '633 '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.9999938
                                bounding_box:
                                  left: 0.79565215
                                  top: 0.33786848
                                  width: 0.11449277999999996
                                  height: 0.10657596999999996
                                is_header: false
                              - text: '653

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99998194
                                bounding_box:
                                  left: 0.91014493
                                  top: 0.33786848
                                  width: 0.08260869000000004
                                  height: 0.10657596999999996
                                is_header: false
                            - cells:
                              - text: 'Tapukara

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999827
                                bounding_box:
                                  left: 0.0
                                  top: 0.44444445
                                  width: 0.16811594
                                  height: 0.10884353000000002
                                is_header: false
                              - text: '28.05

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999732
                                bounding_box:
                                  left: 0.16811594
                                  top: 0.44444445
                                  width: 0.17971014999999999
                                  height: 0.10884353000000002
                                is_header: false
                              - text: '76.85

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999118
                                bounding_box:
                                  left: 0.34782609
                                  top: 0.44444445
                                  width: 0.20000002000000006
                                  height: 0.10884353000000002
                                is_header: false
                              - text: '658 '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99996096
                                bounding_box:
                                  left: 0.54782611
                                  top: 0.44444445
                                  width: 0.12318837999999999
                                  height: 0.10884353000000002
                                is_header: false
                              - text: '570 '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999815
                                bounding_box:
                                  left: 0.67101449
                                  top: 0.44444445
                                  width: 0.12463765999999998
                                  height: 0.10884353000000002
                                is_header: false
                              - text: '485

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999326
                                bounding_box:
                                  left: 0.79565215
                                  top: 0.44444445
                                  width: 0.11449277999999996
                                  height: 0.10884353000000002
                                is_header: false
                              - text: '342

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.9999814
                                bounding_box:
                                  left: 0.91014493
                                  top: 0.44444445
                                  width: 0.08260869000000004
                                  height: 0.10884353000000002
                                is_header: false
                            - cells:
                              - text: 'Behror

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999756
                                bounding_box:
                                  left: 0.0
                                  top: 0.55328798
                                  width: 0.16811594
                                  height: 0.09977322999999994
                                is_header: false
                              - text: '27.88

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.9999966
                                bounding_box:
                                  left: 0.16811594
                                  top: 0.55328798
                                  width: 0.17971014999999999
                                  height: 0.09977322999999994
                                is_header: false
                              - text: '76.28

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999046
                                bounding_box:
                                  left: 0.34782609
                                  top: 0.55328798
                                  width: 0.20000002000000006
                                  height: 0.09977322999999994
                                is_header: false
                              - text: '555 '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99996024
                                bounding_box:
                                  left: 0.54782611
                                  top: 0.55328798
                                  width: 0.12318837999999999
                                  height: 0.09977322999999994
                                is_header: false
                              - text: '401.3 '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999744
                                bounding_box:
                                  left: 0.67101449
                                  top: 0.55328798
                                  width: 0.12463765999999998
                                  height: 0.09977322999999994
                                is_header: false
                              - text: '487

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999255
                                bounding_box:
                                  left: 0.79565215
                                  top: 0.55328798
                                  width: 0.11449277999999996
                                  height: 0.09977322999999994
                                is_header: false
                              - text: '746

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99998069
                                bounding_box:
                                  left: 0.91014493
                                  top: 0.55328798
                                  width: 0.08260869000000004
                                  height: 0.09977322999999994
                                is_header: false
                            - cells:
                              - text: 'Neemrana

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99994749
                                bounding_box:
                                  left: 0.0
                                  top: 0.65306121
                                  width: 0.16811594
                                  height: 0.10657597000000008
                                is_header: false
                              - text: '28.00

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99994653
                                bounding_box:
                                  left: 0.16811594
                                  top: 0.65306121
                                  width: 0.17971014999999999
                                  height: 0.10657597000000008
                                is_header: false
                              - text: '76.38

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.9999404
                                bounding_box:
                                  left: 0.34782609
                                  top: 0.65306121
                                  width: 0.20000002000000006
                                  height: 0.10657597000000008
                                is_header: false
                              - text: '1008

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99991018
                                bounding_box:
                                  left: 0.54782611
                                  top: 0.65306121
                                  width: 0.12318837999999999
                                  height: 0.10657597000000008
                                is_header: false
                              - text: '795 '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99994737
                                bounding_box:
                                  left: 0.67101449
                                  top: 0.65306121
                                  width: 0.12463765999999998
                                  height: 0.10657597000000008
                                is_header: false
                              - text: '566

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99994248
                                bounding_box:
                                  left: 0.79565215
                                  top: 0.65306121
                                  width: 0.11449277999999996
                                  height: 0.10657597000000008
                                is_header: false
                              - text: '456

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99993062
                                bounding_box:
                                  left: 0.91014493
                                  top: 0.65306121
                                  width: 0.08260869000000004
                                  height: 0.10657597000000008
                                is_header: false
                            - cells:
                              - text: 'Mundawar

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999958
                                bounding_box:
                                  left: 0.0
                                  top: 0.75963718
                                  width: 0.16811594
                                  height: 0.11111110000000002
                                is_header: false
                              - text: '27.87

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999863
                                bounding_box:
                                  left: 0.16811594
                                  top: 0.75963718
                                  width: 0.17971014999999999
                                  height: 0.11111110000000002
                                is_header: false
                              - text: '76.55

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999249
                                bounding_box:
                                  left: 0.34782609
                                  top: 0.75963718
                                  width: 0.20000002000000006
                                  height: 0.11111110000000002
                                is_header: false
                              - text: '1010

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99996227
                                bounding_box:
                                  left: 0.54782611
                                  top: 0.75963718
                                  width: 0.12318837999999999
                                  height: 0.11111110000000002
                                is_header: false
                              - text: '931

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999946
                                bounding_box:
                                  left: 0.67101449
                                  top: 0.75963718
                                  width: 0.12463765999999998
                                  height: 0.11111110000000002
                                is_header: false
                              - text: '483

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99999458
                                bounding_box:
                                  left: 0.79565215
                                  top: 0.75963718
                                  width: 0.11449277999999996
                                  height: 0.11111110000000002
                                is_header: false
                              - text: '775

                                  '
                                row_index: null
                                col_index: null
                                row_span: 1
                                col_span: 1
                                confidence: 0.99998271
                                bounding_box:
                                  left: 0.91014493
                                  top: 0.75963718
                                  width: 0.08260869000000004
                                  height: 0.11111110000000002
                                is_header: false
                            num_rows: 8
                            num_cols: 7
                        num_pages: 1
                      amazon:
                        error: null
                        id: dda715ba-fe93-4c90-8994-52103029f66b
                        final_status: finished
                        pages:
                        - tables:
                          - rows:
                            - cells:
                              - text: Station
                                row_index: 1
                                col_index: 1
                                row_span: 1
                                col_span: 1
                                confidence: 0.9658203125
                                bounding_box:
                                  left: 0.0
                                  top: 0.00533616216853261
                                  width: 0.1740567982196808
                                  height: 0.043478116393089294
                                is_header: true
                              - text: Latitude
                                row_index: 2
                                col_index: 1
                                row_span: 1
                                col_span: 1
                                confidence: 0.974609375
                                bounding_box:
                                  left: 0.17403732240200043
                                  top: 0.005595823284238577
                                  width: 0.17412427067756653
                                  height: 0.043483756482601166
                                is_header: true
                              - text: Longitude
                                row_index: 3
                                col_index: 1
                                row_span: 1
                                col_span: 1
                                confidence: 0.97216796875
                                bounding_box:
                                  left: 0.3481482267379761
                                  top: 0.005855550989508629
                                  width: 0.19883781671524048
                                  height: 0.04352699592709541
                                is_header: true
                              - text: Year
                                row_index: 4
                                col_index: 1
                                row_span: 1
                                col_span: 1
                                confidence: 0.8818359375
                                bounding_box:
                                  left: 0.5469796061515808
                                  top: 0.006152155343443155
                                  width: 0.12629753351211548
                                  height: 0.04342283308506012
                                is_header: true
                              - text: Year
                                row_index: 5
                                col_index: 1
                                row_span: 1
                                col_span: 1
                                confidence: 0.8818359375
                                bounding_box:
                                  left: 0.6732751727104187
                                  top: 0.006340555381029844
                                  width: 0.1248670443892479
                                  height: 0.04342469573020935
                                is_header: true
                              - text: Year
                                row_index: 6
                                col_index: 1
                                row_span: 1
                                col_span: 1
                                confidence: 0.8818359375
                                bounding_box:
                                  left: 0.7981398105621338
                                  top: 0.006526824086904526
                                  width: 0.1118215024471283
                                  height: 0.04340881109237671
                                is_header: true
                              - text: Year
                                row_index: 7
                                col_index: 1
                                row_span: 1
                                col_span: 1
                                confidence: 0.8818359375
                                bounding_box:
                                  left: 0.9099550247192383
                                  top: 0.006693629082292318
                                  width: 0.09004496783018112
                                  height: 0.04337921738624573
                                is_header: true
                            - cells:
                              - text: Station
                                row_index: 1
                                col_index: 2
                                row_span: 1
                                col_span: 1
                                confidence: 0.9658203125
                                bounding_box:
                                  left: 0.0
                                  top: 0.048549048602581024
                                  width: 0.17403732240200043
                                  height: 0.07761107385158539
                                is_header: true
                              - text: Latitude
                                row_index: 2
                                col_index: 2
                                row_span: 1
                                col_span: 1
                                confidence: 0.974609375
                                bounding_box:
                                  left: 0.1740024834871292
                                  top: 0.04881427809596062
                                  width: 0.17414574325084686
                                  height: 0.07762111723423004
                                is_header: true
                              - text: Longitude
                                row_index: 3
                                col_index: 2
                                row_span: 1
                                col_span: 1
                                confidence: 0.97216796875
                                bounding_box:
                                  left: 0.34812426567077637
                                  top: 0.04907957836985588
                                  width: 0.19885534048080444
                                  height: 0.07767017185688019
                                is_header: true
                              - text: '1993'
                                row_index: 4
                                col_index: 2
                                row_span: 1
                                col_span: 1
                                confidence: 0.93505859375
                                bounding_box:
                                  left: 0.5469681620597839
                                  top: 0.04938254505395889
                                  width: 0.12630702555179596
                                  height: 0.07756687700748444
                                is_header: true
                              - text: '1994'
                                row_index: 5
                                col_index: 2
                                row_span: 1
                                col_span: 1
                                confidence: 0.92626953125
                                bounding_box:
                                  left: 0.6732715964317322
                                  top: 0.04957498610019684
                                  width: 0.12487487494945526
                                  height: 0.07757185399532318
                                is_header: true
                              - text: '2012'
                                row_index: 6
                                col_index: 2
                                row_span: 1
                                col_span: 1
                                confidence: 0.92822265625
                                bounding_box:
                                  left: 0.7981421947479248
                                  top: 0.04976525157690048
                                  width: 0.11183039098978043
                                  height: 0.07755837589502335
                                is_header: true
                              - text: '2013'
                                row_index: 7
                                col_index: 2
                                row_span: 1
                                col_span: 1
                                confidence: 0.93994140625
                                bounding_box:
                                  left: 0.9099613428115845
                                  top: 0.049935635179281235
                                  width: 0.08991801738739014
                                  height: 0.07753013074398041
                                is_header: true
                            - cells:
                              - text: Kishngarh
                                row_index: 1
                                col_index: 3
                                row_span: 1
                                col_span: 1
                                confidence: 0.91845703125
                                bounding_box:
                                  left: 0.0002619712904561311
                                  top: 0.12588554620742798
                                  width: 0.17374050617218018
                                  height: 0.10720978677272797
                                is_header: false
                              - text: '27.82'
                                row_index: 2
                                col_index: 3
                                row_span: 1
                                col_span: 1
                                confidence: 0.90673828125
                                bounding_box:
                                  left: 0.1739543080329895
                                  top: 0.12616011500358582
                                  width: 0.17416997253894806
                                  height: 0.10722427815198898
                                is_header: false
                              - text: '76.72'
                                row_index: 3
                                col_index: 3
                                row_span: 1
                                col_span: 1
                                confidence: 0.92724609375
                                bounding_box:
                                  left: 0.348091185092926
                                  top: 0.12643539905548096
                                  width: 0.19887696206569672
                                  height: 0.10727910697460175
                                is_header: false
                              - text: '563.5'
                                row_index: 4
                                col_index: 3
                                row_span: 1
                                col_span: 1
                                confidence: 0.916015625
                                bounding_box:
                                  left: 0.5469522476196289
                                  top: 0.12674975395202637
                                  width: 0.12631933391094208
                                  height: 0.10717443376779556
                                is_header: false
                              - text: '563.5'
                                row_index: 5
                                col_index: 3
                                row_span: 1
                                col_span: 1
                                confidence: 0.9072265625
                                bounding_box:
                                  left: 0.6732666492462158
                                  top: 0.12694942951202393
                                  width: 0.124885693192482
                                  height: 0.10718206316232681
                                is_header: false
                              - text: '490'
                                row_index: 6
                                col_index: 3
                                row_span: 1
                                col_span: 1
                                confidence: 0.90869140625
                                bounding_box:
                                  left: 0.7981464862823486
                                  top: 0.12714684009552002
                                  width: 0.11184171587228775
                                  height: 0.10717029124498367
                                is_header: false
                              - text: '804'
                                row_index: 7
                                col_index: 3
                                row_span: 1
                                col_span: 1
                                confidence: 0.92041015625
                                bounding_box:
                                  left: 0.909972608089447
                                  top: 0.12732362747192383
                                  width: 0.08993012458086014
                                  height: 0.10714275389909744
                                is_header: false
                            - cells:
                              - text: Bansur
                                row_index: 1
                                col_index: 4
                                row_span: 1
                                col_span: 1
                                confidence: 0.91455078125
                                bounding_box:
                                  left: 0.00020009603758808225
                                  top: 0.2328070104122162
                                  width: 0.17375421524047852
                                  height: 0.10496626049280167
                                is_header: false
                              - text: '27.70'
                                row_index: 2
                                col_index: 4
                                row_span: 1
                                col_span: 1
                                confidence: 0.90283203125
                                bounding_box:
                                  left: 0.17390714585781097
                                  top: 0.23309533298015594
                                  width: 0.17418403923511505
                                  height: 0.10498049855232239
                                is_header: false
                              - text: '76.35'
                                row_index: 3
                                col_index: 4
                                row_span: 1
                                col_span: 1
                                confidence: 0.92333984375
                                bounding_box:
                                  left: 0.3480587899684906
                                  top: 0.2333844006061554
                                  width: 0.1988934874534607
                                  height: 0.10503695905208588
                                is_header: false
                              - text: '780.7'
                                row_index: 4
                                col_index: 4
                                row_span: 1
                                col_span: 1
                                confidence: 0.912109375
                                bounding_box:
                                  left: 0.5469367504119873
                                  top: 0.2337145060300827
                                  width: 0.1263299435377121
                                  height: 0.10492632538080215
                                is_header: false
                              - text: '580'
                                row_index: 5
                                col_index: 4
                                row_span: 1
                                col_span: 1
                                confidence: 0.9033203125
                                bounding_box:
                                  left: 0.6732618808746338
                                  top: 0.23392418026924133
                                  width: 0.12489628791809082
                                  height: 0.10493364185094833
                                is_header: false
                              - text: '776'
                                row_index: 6
                                col_index: 4
                                row_span: 1
                                col_span: 1
                                confidence: 0.9052734375
                                bounding_box:
                                  left: 0.7981523871421814
                                  top: 0.23413148522377014
                                  width: 0.11185108125209808
                                  height: 0.1049206480383873
                                is_header: false
                              - text: '720'
                                row_index: 7
                                col_index: 4
                                row_span: 1
                                col_span: 1
                                confidence: 0.9169921875
                                bounding_box:
                                  left: 0.9099881649017334
                                  top: 0.2343171387910843
                                  width: 0.08993742614984512
                                  height: 0.10489123314619064
                                is_header: false
                            - cells:
                              - text: Tijara
                                row_index: 1
                                col_index: 5
                                row_span: 1
                                col_span: 1
                                confidence: 0.904296875
                                bounding_box:
                                  left: 0.0001382103218929842
                                  top: 0.33747148513793945
                                  width: 0.17376893758773804
                                  height: 0.10499747842550278
                                is_header: false
                              - text: '27.95'
                                row_index: 2
                                col_index: 5
[...]
