openapi: 3.2.0
info:
  title: Video Features Shot Change Detection Async API
  version: '2.0'
  description: Your project description
servers:
- url: https://api.edenai.run/v2
tags:
- name: Shot Change Detection Async
paths:
  /video/shot_change_detection_async/:
    get:
      operationId: video_shot_change_detection_async_retrieve
      description: 'Get a list of all jobs launched for this feature. You''ll then be able to use the ID of each one to get its status and results.


        Please note that a **job status doesn''t get updated until a get request** is sent.'
      summary: Video Shot Change Detection List Jobs
      tags:
      - Shot Change Detection Async
      security:
      - FeatureApiAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAsyncJobResponse'
              examples:
                ResponseExample:
                  value:
                    jobs:
                    - providers: '[''google'']'
                      nb: 1
                      nb_ok: 1
                      public_id: 7d16b1ca-6605-413f-a591-c2a4e8da4e48
                      state: finished
                      created_at: '2026-09-06T00:05:23.658957'
                    - providers: '[''google'']'
                      nb: 1
                      nb_ok: 1
                      public_id: dc2583a8-066e-4758-b848-ab8b1f6c5ae8
                      state: finished
                      created_at: '2026-09-05T23:05:23.658972'
                    - providers: '[''google'']'
                      nb: 1
                      nb_ok: 1
                      public_id: d3894d4a-2e0b-4b14-b711-78c57159051c
                      state: finished
                      created_at: '2026-09-05T22:05:23.658980'
                  summary: Response Example
          description: ''
    post:
      operationId: video_shot_change_detection_async_create
      description: 'Available Providers


        |Provider|Version|Price|Billing unit|

        |----|-------|-----|------------|

        |**google**|`Video intelligence v1`|0.05 (per 1 minute)|1 minute'
      summary: Shot Change Detection Launch Job
      tags:
      - Shot Change Detection Async
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AsyncVideoAnalysisRequest'
            examples:
              RequestExample:
                value:
                  providers: google
                  file: /edenai/edenai/features/video/samples/data/shot.mp4
                summary: Request Example
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncVideoAnalysisRequest'
            examples:
              RequestExample:
                value:
                  providers: google
                  file_url: http://edenai-resource-example.mp4
                summary: Request Example
        required: true
      security:
      - FeatureApiAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaunchAsyncJobResponse'
              examples:
                ResponseExample:
                  value:
                    public_id: 4ca46463-329d-44d4-85ff-a02d7a872d7c
                  summary: Response Example
          description: ''
    delete:
      operationId: video_shot_change_detection_async_destroy
      description: 'Generic class to handle method GET all async job for user


        Attributes:

        feature (str): EdenAI feature

        subfeature (str): EdenAI subfeature'
      summary: Video Shot Change Detection delete Jobs
      tags:
      - Shot Change Detection Async
      security:
      - FeatureApiAuth: []
      - {}
      responses:
        '204':
          description: No response body
  /video/shot_change_detection_async/{public_id}/:
    get:
      operationId: video_shot_change_detection_async_retrieve_2
      description: Get the status and results of an async job given its ID.
      summary: Video Shot Change Detection Get Job Results
      parameters:
      - in: path
        name: public_id
        schema:
          type: string
        required: true
      - in: query
        name: response_as_dict
        schema:
          type: boolean
          default: true
      - in: query
        name: show_base_64
        schema:
          type: boolean
          default: true
      - in: query
        name: show_original_response
        schema:
          type: boolean
          default: false
      tags:
      - Shot Change Detection Async
      security:
      - FeatureApiAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asyncvideoshot_change_detection_asyncResponseModel'
              examples:
                ResponseExample:
                  value:
                    public_id: 7dc0e8a2-5d4a-4572-93bc-b89b19a1936b
                    status: finished
                    error: null
                    results:
                      google:
                        error: null
                        id: 0cb7715a-4546-4d93-b35e-b5ec0d2fb6b2
                        final_status: finished
                        shotAnnotations:
                        - startTimeOffset: 0.0
                          endTimeOffset: 1.0
                        - startTimeOffset: 1.04
                          endTimeOffset: 3.4
                        - startTimeOffset: 3.44
                          endTimeOffset: 5.28
                        - startTimeOffset: 5.32
                          endTimeOffset: 6.8
                        - startTimeOffset: 6.84
                          endTimeOffset: 10.96
                        - startTimeOffset: 11.0
                          endTimeOffset: 13.08
                  summary: Response Example
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: ''
components:
  schemas:
    BadRequest:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/NestedBadRequest'
      required:
      - error
    StateEnum:
      enum:
      - finished
      - failed
      - Timeout error
      - processing
      type: string
      description: '* `finished` - finished

        * `failed` - failed

        * `Timeout error` - Timeout error

        * `processing` - processing'
    NotFoundResponse:
      type: object
      properties:
        details:
          type: string
          default: Not Found
    FieldError:
      type: object
      properties:
        <parameter_name>:
          type: array
          items:
            type: string
      required:
      - <parameter_name>
    Error:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/NestedError'
      required:
      - error
    ListAsyncJobResponse:
      type: object
      properties:
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/AsyncJobList'
      required:
      - jobs
    videoshot_change_detection_asyncModel:
      properties:
        google:
          $ref: '#/components/schemas/videoshot_change_detection_asyncShotChangeDetectionAsyncDataClass'
          default: null
      title: videoshot_change_detection_asyncModel
      type: object
    videoshot_change_detection_asyncShotChangeDetectionAsyncDataClass:
      properties:
        shotAnnotations:
          items:
            $ref: '#/components/schemas/ShotFrame'
          title: Shotannotations
          type: array
        original_response:
          default: null
          description: original response sent by the provider, hidden by default, show it by passing the `show_original_response` field to `true` in your request
          title: Original Response
        id:
          title: Id
          type: string
        final_status:
          allOf:
          - $ref: '#/components/schemas/FinalStatusEnum'
          title: Final Status
        error:
          additionalProperties: true
          default: null
          title: Error
          type: object
      required:
      - id
      - final_status
      title: videoshot_change_detection_asyncShotChangeDetectionAsyncDataClass
      type: object
    asyncvideoshot_change_detection_asyncResponseModel:
      properties:
        results:
          $ref: '#/components/schemas/videoshot_change_detection_asyncModel'
        error:
          title: Error
          type: string
        public_id:
          format: uuid
          title: Public Id
          type: string
        status:
          title: Status
          type: string
      required:
      - results
      - error
      - public_id
      - status
      title: asyncvideoshot_change_detection_asyncResponseModel
      type: object
    AsyncJobList:
      type: object
      properties:
        providers:
          type: string
        nb:
          type: integer
        nb_ok:
          type: integer
        public_id:
          type: string
          format: uuid
        state:
          $ref: '#/components/schemas/StateEnum'
        created_at:
          type: string
          format: date-time
      required:
      - created_at
      - nb
      - nb_ok
      - providers
      - public_id
      - state
    FinalStatusEnum:
      enum:
      - sucess
      - fail
      type: string
    AsyncVideoAnalysisRequest:
      type: object
      properties:
        settings:
          type: string
          default: {}
          description: "A dictionnary or a json object to specify specific models to use for some providers. <br>                     It can be in the following format: {\"google\" : \"google_model\", \"ibm\": \"ibm_model\"...}.\n                     "
        providers:
          type: array
          items:
            type: string
            minLength: 1
          description: 'It can be one (ex: **''amazon''** or **''google''**) or multiple provider(s) (ex: **''amazon,microsoft,google''**)             that the data will be redirected to in order to get the processed results.<br>             Providers can also be invoked with specific models (ex: providers: **''amazon/model1, amazon/model2, google/model3''**)'
        fallback_providers:
          type: array
          items:
            type: string
          default: []
          description: "Providers in this list will be used as fallback if the call to provider in `providers` parameter fails.\n    To use this feature, you must input **only one** provider in the `providers` parameter. but you can put up to 5 fallbacks.\n\nThey will be tried in the same order they are input, and it will stop to the first provider who doesn't fail.\n\n\n*Doesn't work with async subfeatures.*\n    "
          maxItems: 5
        show_original_response:
          type: boolean
          default: false
          description: "Optional : Shows the original response of the provider.<br>\n        When set to **true**, a new attribute *original_response* will appear in the response object."
        webhook_receiver:
          type: string
          format: uri
          minLength: 1
          description: 'Webhook receiver should be a valid https URL (ex : https://your.listner.com/endpoint).             After the processing is done, the webhook endpoint will receive a POST request with the result.'
        users_webhook_parameters:
          description: 'Json data that contains of additional parameters that will be sent back to the webhook receiver             (ex: api key for security or client''s data ID to link the result internally).             Will only be used when webhook_receiver is set.'
        send_webhook_data:
          type: boolean
          default: true
          description: If set to false the webhook will not contain the result data. Use if your webhook receiver has a request size limit.
        show_base_64:
          type: boolean
          default: true
        file:
          type: string
          format: binary
          description: 'File to analyse in binary format to be used with *content-type*: **multipart/form-data** <br> **Does not work with application/json !**'
          pattern: (?:mov|mp4|avi)$
        file_url:
          type:
          - string
          - 'null'
          format: uri
          description: 'File **URL** to analyse to be used with with *content-type*: **application/json**.'
      required:
      - providers
    LaunchAsyncJobResponse:
      type: object
      properties:
        public_id:
          type: string
          format: uuid
      required:
      - public_id
    ShotFrame:
      properties:
        startTimeOffset:
          title: Starttimeoffset
          type: integer
        endTimeOffset:
          title: Endtimeoffset
          type: integer
      required:
      - startTimeOffset
      - endTimeOffset
      title: ShotFrame
      type: object
    NestedError:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
      required:
      - message
      - type
    NestedBadRequest:
      type: object
      properties:
        type:
          type: string
        message:
          $ref: '#/components/schemas/FieldError'
      required:
      - message
      - type
  securitySchemes:
    FeatureApiAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
