openapi: 3.2.0
info:
  title: Video Features Label Detection Async API
  version: '2.0'
  description: Your project description
servers:
- url: https://api.edenai.run/v2
tags:
- name: Label Detection Async
paths:
  /video/label_detection_async/:
    get:
      operationId: video_label_detection_async_retrieve
      description: 'Get a list of all jobs launched for this feature. You''ll then be able to use the ID of each one to get its status and results.


        Please note that a **job status doesn''t get updated until a get request** is sent.'
      summary: Label Detection List Jobs
      tags:
      - Label Detection Async
      security:
      - FeatureApiAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAsyncJobResponse'
              examples:
                ResponseExample:
                  value:
                    jobs:
                    - providers: '[''amazon'', ''google'']'
                      nb: 2
                      nb_ok: 2
                      public_id: bb03d369-7e22-418b-af7c-e1a9af7357bb
                      state: finished
                      created_at: '2026-09-06T00:05:17.571472'
                    - providers: '[''amazon'', ''google'']'
                      nb: 2
                      nb_ok: 2
                      public_id: f01c3ce2-9bc1-4a13-bc2d-8a706e8f8805
                      state: finished
                      created_at: '2026-09-05T23:05:17.571485'
                    - providers: '[''amazon'', ''google'']'
                      nb: 2
                      nb_ok: 2
                      public_id: d001fb23-cdd9-48f7-8f98-2877518bd5c7
                      state: finished
                      created_at: '2026-09-05T22:05:17.571491'
                  summary: Response Example
          description: ''
    post:
      operationId: video_label_detection_async_create
      description: 'Available Providers


        |Provider|Version|Price|Billing unit|

        |----|-------|-----|------------|

        |**amazon**|`boto3`|0.1 (per 60 seconde)|60 seconde

        |**google**|`Video intelligence v1`|0.1 (per 60 seconde)|1 seconde'
      summary: Label Detection Launch Job
      tags:
      - Label Detection Async
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AsyncVideoAnalysisRequest'
            examples:
              RequestExample:
                value:
                  providers: amazon,google
                  file: /edenai/edenai/features/video/samples/data/labels.mp4
                summary: Request Example
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncVideoAnalysisRequest'
            examples:
              RequestExample:
                value:
                  providers: amazon,google
                  file_url: http://edenai-resource-example.mp4
                summary: Request Example
        required: true
      security:
      - FeatureApiAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaunchAsyncJobResponse'
              examples:
                ResponseExample:
                  value:
                    public_id: f06546bf-05fd-4caf-8246-f21a3d32b92c
                  summary: Response Example
          description: ''
    delete:
      operationId: video_label_detection_async_destroy
      description: 'Generic class to handle method GET all async job for user


        Attributes:

        feature (str): EdenAI feature

        subfeature (str): EdenAI subfeature'
      summary: Label Detection delete Jobs
      tags:
      - Label Detection Async
      security:
      - FeatureApiAuth: []
      - {}
      responses:
        '204':
          description: No response body
  /video/label_detection_async/{public_id}/:
    get:
      operationId: video_label_detection_async_retrieve_2
      description: Get the status and results of an async job given its ID.
      summary: Label Detection Get Job Results
      parameters:
      - in: path
        name: public_id
        schema:
          type: string
        required: true
      - in: query
        name: response_as_dict
        schema:
          type: boolean
          default: true
      - in: query
        name: show_base_64
        schema:
          type: boolean
          default: true
      - in: query
        name: show_original_response
        schema:
          type: boolean
          default: false
      tags:
      - Label Detection Async
      security:
      - FeatureApiAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asyncvideolabel_detection_asyncResponseModel'
              examples:
                ResponseExample:
                  value:
                    public_id: b947b746-fcda-4ed2-ab44-4f5bdbe30e05
                    status: finished
                    error: null
                    results:
                      amazon:
                        error: null
                        id: 21e85dc5-b623-461f-babb-2fd7207a5c7a
                        final_status: finished
                        labels:
                        - name: Aerial View
                          confidence: 0.5543865966796875
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Outdoors
                          bounding_box: []
                        - name: Architecture
                          confidence: 0.8299862670898438
                          timestamp:
                          - start: 0.0
                            end: null
                          category: []
                          bounding_box: []
                        - name: Bench
                          confidence: 0.8146657562255859
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Furniture
                          bounding_box:
                          - top: 0.6018825769424438
                            left: 0.8727523684501648
                            height: 0.05592741817235947
                            width: 0.03193823620676994
                        - name: Building
                          confidence: 0.8299862670898438
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Architecture
                          bounding_box: []
                        - name: Bus
                          confidence: 0.9278840637207031
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Transportation
                          - Vehicle
                          bounding_box:
                          - top: 0.3808082938194275
                            left: 0.1667904555797577
                            height: 0.22148454189300537
                            width: 0.10182129591703415
                          - top: 0.29497453570365906
                            left: 0.27861788868904114
                            height: 0.14256863296031952
                            width: 0.06955181807279587
                          - top: 0.2759459912776947
                            left: 0.31799834966659546
                            height: 0.10203275084495544
                            width: 0.04590361937880516
                        - name: Bus Stop
                          confidence: 0.5210459518432617
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Outdoors
                          bounding_box: []
                        - name: Car
                          confidence: 0.8884062957763672
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Transportation
                          - Vehicle
                          bounding_box:
                          - top: 0.2779603600502014
                            left: 0.413693904876709
                            height: 0.03523149713873863
                            width: 0.020195070654153824
                          - top: 0.33312588930130005
                            left: 0.38899174332618713
                            height: 0.042886435985565186
                            width: 0.024209212511777878
                          - top: 0.9558485150337219
                            left: 0.4358382225036621
                            height: 0.04415147751569748
                            width: 0.11474663764238358
                          - top: 0.39818793535232544
                            left: 0.37071043252944946
                            height: 0.061605215072631836
                            width: 0.0386580154299736
                          - top: 0.36119544506073
                            left: 0.4555418789386749
                            height: 0.05126221105456352
                            width: 0.037453874945640564
                          - top: 0.34751370549201965
                            left: 0.4068182706832886
                            height: 0.05367683246731758
                            width: 0.03092619590461254
                          - top: 0.2890753149986267
                            left: 0.48620888590812683
                            height: 0.03448797017335892
                            width: 0.018666870892047882
                          - top: 0.43107739090919495
                            left: 0.4261581003665924
                            height: 0.08509213477373123
                            width: 0.05511344224214554
                        - name: City
                          confidence: 0.5784530258178711
                          timestamp:
                          - start: 0.0
                            end: null
                          category: []
                          bounding_box: []
                        - name: Cityscape
                          confidence: 0.8299862670898438
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Architecture
                          - Building
                          - Urban
                          bounding_box: []
                        - name: Clothing
                          confidence: 0.7226602935791016
                          timestamp:
                          - start: 0.0
                            end: null
                          category: []
                          bounding_box: []
                        - name: Fog
                          confidence: 0.5140438842773437
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Nature
                          - Outdoors
                          - Weather
                          bounding_box: []
                        - name: Footwear
                          confidence: 0.7226602935791016
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Clothing
                          bounding_box: []
                        - name: Freeway
                          confidence: 0.994931869506836
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Road
                          bounding_box: []
                        - name: Furniture
                          confidence: 0.8146657562255859
                          timestamp:
                          - start: 0.0
                            end: null
                          category: []
                          bounding_box: []
                        - name: Helmet
                          confidence: 0.9033992004394531
                          timestamp:
                          - start: 0.0
                            end: null
                          category: []
                          bounding_box:
                          - top: 0.593178391456604
                            left: 0.6908859014511108
                            height: 0.025919370353221893
                            width: 0.014323743060231209
                        - name: Highway
                          confidence: 0.9874596405029297
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Freeway
                          - Road
                          bounding_box: []
                        - name: Intersection
                          confidence: 0.5009707641601563
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Road
                          bounding_box: []
                        - name: Metropolis
                          confidence: 0.5076001358032226
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - City
                          - Urban
                          bounding_box: []
                        - name: Moped
                          confidence: 0.5300067138671875
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Motor Scooter
                          - Motorcycle
                          - Transportation
                          - Vehicle
                          bounding_box: []
                        - name: Motor Scooter
                          confidence: 0.5300067138671875
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Motorcycle
                          - Transportation
                          - Vehicle
                          bounding_box: []
                        - name: Motorcycle
                          confidence: 0.9508199310302734
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Transportation
                          - Vehicle
                          bounding_box:
                          - top: 0.8455833792686462
                            left: 0.2699427008628845
                            height: 0.14223603904247284
                            width: 0.04993174970149994
                          - top: 0.5801880359649658
                            left: 0.5073404312133789
                            height: 0.07656390964984894
                            width: 0.029215939342975616
                          - top: 0.539693295955658
                            left: 0.4754166901111603
                            height: 0.07795692980289459
                            width: 0.02654183655977249
                          - top: 0.4901975393295288
                            left: 0.5201584696769714
                            height: 0.06919578462839127
                            width: 0.023738892748951912
                          - top: 0.4681755602359772
                            left: 0.495817095041275
                            height: 0.05875546485185623
                            width: 0.021600786596536636
                          - top: 0.4438552260398865
                            left: 0.49572139978408813
                            height: 0.0430552177131176
                            width: 0.017897892743349075
                          - top: 0.6267226338386536
                            left: 0.6843322515487671
                            height: 0.09363719820976257
                            width: 0.03386605530977249
                          - top: 0.41543981432914734
                            left: 0.5283429026603699
                            height: 0.04909789562225342
                            width: 0.01784038543701172
                          - top: 0.6266026496887207
                            left: 0.5588056445121765
                            height: 0.08731955289840698
                            width: 0.029648907482624054
                          - top: 0.4469575583934784
                            left: 0.5502038598060608
                            height: 0.06045368313789368
                            width: 0.017438380047678947
                          - top: 0.3970327079296112
                            left: 0.5489575266838074
                            height: 0.0475265234708786
                            width: 0.02016754075884819
                          - top: 0.49864429235458374
                            left: 0.49537351727485657
                            height: 0.06979663670063019
                            width: 0.02272256277501583
                          - top: 0.4304577112197876
                            left: 0.4966651499271393
                            height: 0.037564199417829514
                            width: 0.014836088754236698
                          - top: 0.4153845012187958
                            left: 0.5104445815086365
                            height: 0.05400828644633293
                            width: 0.016283512115478516
                          - top: 0.3846731185913086
                            left: 0.5129997134208679
                            height: 0.034000907093286514
                            width: 0.013912073336541653
                          - top: 0.36546462774276733
                            left: 0.5168042182922363
                            height: 0.03563811630010605
                            width: 0.012221208773553371
                          - top: 0.40258389711380005
                            left: 0.4879502058029175
                            height: 0.048048343509435654
                            width: 0.01561905536800623
                          - top: 0.38819801807403564
                            left: 0.636519193649292
                            height: 0.029774587601423264
                            width: 0.020467884838581085
                          - top: 0.42365074157714844
                            left: 0.48897096514701843
                            height: 0.05295432731509209
                            width: 0.018425751477479935
                          - top: 0.37650421261787415
                            left: 0.5141767263412476
                            height: 0.03023650497198105
                            width: 0.014357058331370354
                          - top: 0.37774330377578735
                            left: 0.4861031472682953
                            height: 0.033827804028987885
                            width: 0.014173158444464207
                          - top: 0.39753037691116333
                            left: 0.5315862894058228
                            height: 0.03391570970416069
                            width: 0.012582938186824322
                        - name: Moving Van
                          confidence: 0.6850808715820312
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Transportation
                          - Van
                          - Vehicle
                          bounding_box:
                          - top: 0.5683923959732056
                            left: 0.2736845314502716
                            height: 0.1586957573890686
                            width: 0.0843549445271492
                        - name: Nature
                          confidence: 0.5797334289550782
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Outdoors
                          bounding_box: []
                        - name: Outdoors
                          confidence: 0.9737535095214844
                          timestamp:
                          - start: 0.0
                            end: null
                          category: []
                          bounding_box: []
                        - name: Path
                          confidence: 0.5151793289184571
                          timestamp:
                          - start: 0.0
                            end: null
                          category: []
                          bounding_box: []
                        - name: Pedestrian
                          confidence: 0.5075665664672852
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Person
                          bounding_box: []
                        - name: Person
                          confidence: 0.9691816711425781
                          timestamp:
                          - start: 0.0
                            end: null
                          category: []
                          bounding_box:
                          - top: 0.5928474068641663
                            left: 0.6840779185295105
                            height: 0.10691285133361816
                            width: 0.03397025913000107
                          - top: 0.4769774377346039
                            left: 0.18378302454948425
                            height: 0.02051781490445137
                            width: 0.01666366308927536
                          - top: 0.3041967451572418
                            left: 0.36967629194259644
                            height: 0.03501225262880325
                            width: 0.00863377284258604
                          - top: 0.5478842258453369
                            left: 0.507344663143158
                            height: 0.09222869575023651
                            width: 0.029586346819996834
                          - top: 0.7961805462837219
                            left: 0.2708718180656433
                            height: 0.16222409904003143
                            width: 0.05330820009112358
                          - top: 0.30805671215057373
                            left: 0.4013371169567108
                            height: 0.026994211599230766
                            width: 0.010017712600529194
                          - top: 0.3657125234603882
                            left: 0.6525959372520447
                            height: 0.04149633273482323
                            width: 0.012516912072896957
                          - top: 0.3358670175075531
                            left: 0.44930437207221985
                            height: 0.038623638451099396
                            width: 0.009467633441090584
                          - top: 0.5984940528869629
                            left: 0.5590456128120422
                            height: 0.11212853342294693
                            width: 0.029454421252012253
                          - top: 0.3801165819168091
                            left: 0.3679051995277405
                            height: 0.049322593957185745
                            width: 0.014827442355453968
                          - top: 0.44142359495162964
                            left: 0.23214219510555267
                            height: 0.04487378150224686
                            width: 0.017180411145091057
                          - top: 0.3408220410346985
                            left: 0.4825902581214905
                            height: 0.03676602244377136
                            width: 0.009708944708108902
                          - top: 0.3815714716911316
                            left: 0.5473998188972473
                            height: 0.028999753296375275
                            width: 0.01129938755184412
                        - name: Road
                          confidence: 0.9999989318847656
                          timestamp:
                          - start: 0.0
                            end: null
                          category: []
                          bounding_box: []
                        - name: Shoe
                          confidence: 0.7226602935791016
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Clothing
                          - Footwear
                          bounding_box:
                          - top: 0.686497688293457
                            left: 0.6832802295684814
                            height: 0.009406422264873981
                            width: 0.007472038269042969
                          - top: 0.6844380497932434
                            left: 0.7127478122711182
                            height: 0.011556497775018215
                            width: 0.00529111223295331
                        - name: Sidewalk
                          confidence: 0.5151793289184571
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Path
                          bounding_box: []
                        - name: Smog
                          confidence: 0.503845329284668
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Fog
                          - Nature
                          - Outdoors
                          - Smoke
                          - Weather
                          bounding_box: []
                        - name: Smoke
                          confidence: 0.503845329284668
                          timestamp:
                          - start: 0.0
                            end: null
                          category: []
                          bounding_box: []
                        - name: Street
                          confidence: 0.5448061752319336
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - City
                          - Road
                          - Urban
                          bounding_box: []
                        - name: Tarmac
                          confidence: 0.5714275741577148
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Road
                          bounding_box: []
                        - name: Traffic Jam
                          confidence: 0.52404052734375
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Road
                          - Transportation
                          - Vehicle
                          bounding_box: []
                        - name: Transportation
                          confidence: 0.9912942504882812
                          timestamp:
                          - start: 0.0
                            end: null
                          category: []
                          bounding_box: []
                        - name: Truck
                          confidence: 0.9911174011230469
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Transportation
                          - Vehicle
                          bounding_box:
                          - top: 0.4453766345977783
                            left: 0.5602338910102844
                            height: 0.19645069539546967
                            width: 0.08271770179271698
                        - name: Urban
                          confidence: 0.8299862670898438
                          timestamp:
                          - start: 0.0
                            end: null
                          category: []
                          bounding_box: []
                        - name: Van
                          confidence: 0.6850808715820312
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Transportation
                          - Vehicle
                          bounding_box: []
                        - name: Vehicle
                          confidence: 0.9912942504882812
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Transportation
                          bounding_box: []
                        - name: Weather
                          confidence: 0.5140438842773437
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Nature
                          - Outdoors
                          bounding_box: []
                        - name: Zebra Crossing
                          confidence: 0.5024431228637696
                          timestamp:
                          - start: 0.0
                            end: null
                          category:
                          - Road
                          - Tarmac
                          bounding_box: []
                        - name: Aerial View
                          confidence: 0.5687136459350586
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Outdoors
                          bounding_box: []
                        - name: Architecture
                          confidence: 0.8814840698242188
                          timestamp:
                          - start: 0.5
                            end: null
                          category: []
                          bounding_box: []
                        - name: Bench
                          confidence: 0.7929580688476563
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Furniture
                          bounding_box:
                          - top: 0.5993189215660095
                            left: 0.8726209998130798
                            height: 0.0636349692940712
                            width: 0.032471656799316406
                        - name: Building
                          confidence: 0.8814840698242188
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Architecture
                          bounding_box: []
                        - name: Bus
                          confidence: 0.9272500610351563
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Transportation
                          - Vehicle
                          bounding_box:
                          - top: 0.3850029706954956
                            left: 0.1559823453426361
                            height: 0.23014453053474426
                            width: 0.10497894138097763
                          - top: 0.30056458711624146
                            left: 0.276059627532959
                            height: 0.13850368559360504
                            width: 0.060907650738954544
                          - top: 0.2902894914150238
                            left: 0.30549734830856323
                            height: 0.11627129465341568
                            width: 0.04492219164967537
                          - top: 0.2743319272994995
                            left: 0.3196489214897156
                            height: 0.10152856260538101
                            width: 0.04662386700510979
                        - name: Bus Stop
                          confidence: 0.5188432693481445
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Outdoors
                          bounding_box: []
                        - name: Car
                          confidence: 0.873614273071289
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Transportation
                          - Vehicle
                          bounding_box:
                          - top: 0.27742141485214233
                            left: 0.4122573137283325
                            height: 0.03551839292049408
                            width: 0.02059224434196949
                          - top: 0.33390605449676514
                            left: 0.38954249024391174
                            height: 0.042885757982730865
                            width: 0.024430369958281517
                          - top: 0.509846568107605
                            left: 0.4173356592655182
                            height: 0.11037348955869675
                            width: 0.07056369632482529
                          - top: 0.3473094403743744
                            left: 0.4038664996623993
                            height: 0.05704037845134735
                            width: 0.031154854223132133
                          - top: 0.40238088369369507
                            left: 0.36892351508140564
                            height: 0.06267544627189636
                            width: 0.03992786258459091
                          - top: 0.26926881074905396
                            left: 0.43967485427856445
                            height: 0.04399764537811279
                            width: 0.02583293989300728
                          - top: 0.4608042538166046
                            left: 0.3411179780960083
                            height: 0.11414707452058792
                            width: 0.06846494972705841
                        - name: City
                          confidence: 0.57673095703125
                          timestamp:
                          - start: 0.5
                            end: null
                          category: []
                          bounding_box: []
                        - name: Cityscape
                          confidence: 0.8814840698242188
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Architecture
                          - Building
                          - Urban
                          bounding_box: []
                        - name: Clothing
                          confidence: 0.7363296508789062
                          timestamp:
                          - start: 0.5
                            end: null
                          category: []
                          bounding_box: []
                        - name: Fog
                          confidence: 0.5077847290039063
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Nature
                          - Outdoors
                          - Weather
                          bounding_box: []
                        - name: Footwear
                          confidence: 0.7363296508789062
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Clothing
                          bounding_box: []
                        - name: Freeway
                          confidence: 0.9887284851074218
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Road
                          bounding_box: []
                        - name: Furniture
                          confidence: 0.7929580688476563
                          timestamp:
                          - start: 0.5
                            end: null
                          category: []
                          bounding_box: []
                        - name: Helmet
                          confidence: 0.8354033660888672
                          timestamp:
                          - start: 0.5
                            end: null
                          category: []
                          bounding_box:
                          - top: 0.6025203466415405
                            left: 0.6976240277290344
                            height: 0.026892654597759247
                            width: 0.015142885968089104
                        - name: Highway
                          confidence: 0.9750868225097656
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Freeway
                          - Road
                          bounding_box: []
                        - name: Metropolis
                          confidence: 0.5118552017211914
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - City
                          - Urban
                          bounding_box: []
                        - name: Moped
                          confidence: 0.5119795989990235
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Motor Scooter
                          - Motorcycle
                          - Transportation
                          - Vehicle
                          bounding_box: []
                        - name: Motor Scooter
                          confidence: 0.5119795989990235
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Motorcycle
                          - Transportation
                          - Vehicle
                          bounding_box: []
                        - name: Motorcycle
                          confidence: 0.9596663665771484
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Transportation
                          - Vehicle
                          bounding_box:
                          - top: 0.8830422759056091
                            left: 0.2572457194328308
                            height: 0.11669469624757767
                            width: 0.055315591394901276
                          - top: 0.5872790217399597
                            left: 0.5157272219657898
                            height: 0.08772780746221542
                            width: 0.030619652941823006
                          - top: 0.5488339066505432
                            left: 0.48198843002319336
                            height: 0.08454166352748871
                            width: 0.02976967580616474
                          - top: 0.449741929769516
                            left: 0.5484829545021057
                            height: 0.06398103386163712
                            width: 0.019747989252209663
                          - top: 0.4143766462802887
                            left: 0.5297076106071472
                            height: 0.05374854803085327
                            width: 0.01764434203505516
                          - top: 0.41766253113746643
                            left: 0.5141869783401489
                            height: 0.05654327943921089
                            width: 0.01668618433177471
                          - top: 0.6450641751289368
                            left: 0.6902830600738525
                            height: 0.08936084061861038
                            width: 0.03652407228946686
                          - top: 0.3930041491985321
                            left: 0.5505867600440979
                            height: 0.05649349093437195
                            width: 0.022020721808075905
                          - top: 0.46608108282089233
                            left: 0.4969988763332367
                            height: 0.04741504788398743
                            width: 0.020372264087200165
                          - top: 0.395463764667511
                            left: 0.5139846801757812
                            height: 0.05420280620455742
                            width: 0.01604175567626953
                          - top: 0.3467165529727936
                            left: 0.5176540613174438
                            height: 0.0541783943772316
                            width: 0.014602470211684704
                          - top: 0.3376549780368805
                            left: 0.449099600315094
                            height: 0.03810012340545654
                            width: 0.009914811700582504
                          - top: 0.6192126870155334
                            left: 0.5795700550079346
                            height: 0.11952842772006989
                            width: 0.03134549409151077
                          - top: 0.4808722138404846
                            left: 0.4965319335460663
                            height: 0.05598568543791771
                            width: 0.021290238946676254
                          - top: 0.4933108389377594
                            left: 0.5167903304100037
                            height: 0.0731329470872879
                            width: 0.022465134039521217
                          - top: 0.5181031227111816
                            left: 0.49712324142456055
                            height: 0.058739274740219116
                            width: 0.021794255822896957
                          - top: 0.37276342511177063
                            left: 0.4931688904762268
                            height: 0.04220736399292946
                            width: 0.015065129846334457
                          - top: 0.4081422686576843
                            left: 0.48834288120269775
                            height: 0.050984304398298264
                            width: 0.016303284093737602
                          - top: 0.3272998034954071
                            left: 0.5081287622451782
                            height: 0.038445647805929184
                            width: 0.010362434200942516
                          - top: 0.38080939650535583
                            left: 0.5500269532203674
                            height: 0.046590253710746765
                            width: 0.021576818078756332
                          - top: 0.3847748339176178
                            left: 0.46480581164360046
                            height: 0.04120076447725296
                            width: 0.023788070306181908
                          - top: 0.38519877195358276
                            left: 0.5144888758659363
                            height: 0.041680172085762024
                            width: 0.016003036871552467
                          - top: 0.3367431163787842
                            left: 0.48166754841804504
                            height: 0.035847727209329605
                            width: 0.009800148196518421
                          - top: 0.3846662640571594
                            left: 0.48802655935287476
                            height: 0.05475212261080742
                            width: 0.019294006749987602
                          - top: 0.30934301018714905
                            left: 0.40596771240234375
                            height: 0.02994181402027607
                            width: 0.010776519775390625
                          - top: 0.4296799898147583
                            left: 0.4912671148777008
                            height: 0.04805535078048706
                            width: 0.018250655382871628
                          - top: 0.44664478302001953
                            left: 0.49467313289642334
                            height: 0.04842373728752136
                            width: 0.019289938732981682
                          - top: 0.3355598449707031
                            left: 0.5193214416503906
                            height: 0.03859772905707359
                            width: 0.015314293093979359
                        - name: Moving Van
                          confidence: 0.6001819992065429
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Transportation
                          - Van
                          - Vehicle
                          bounding_box:
                          - top: 0.5886245965957642
                            left: 0.2633298933506012
                            height: 0.16927269101142883
                            width: 0.0907033160328865
                        - name: Nature
                          confidence: 0.5787560272216797
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Outdoors
                          bounding_box: []
                        - name: Outdoors
                          confidence: 0.980156478881836
                          timestamp:
                          - start: 0.5
                            end: null
                          category: []
                          bounding_box: []
                        - name: Path
                          confidence: 0.511716651916504
                          timestamp:
                          - start: 0.5
                            end: null
                          category: []
                          bounding_box: []
                        - name: Pedestrian
                          confidence: 0.5053482818603515
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Person
                          bounding_box: []
                        - name: Person
                          confidence: 0.9574537658691407
                          timestamp:
                          - start: 0.5
                            end: null
                          category: []
                          bounding_box:
                          - top: 0.6029843091964722
                            left: 0.6905947327613831
                            height: 0.11158972978591919
                            width: 0.03574371337890625
                          - top: 0.4844294786453247
                            left: 0.17384251952171326
                            height: 0.020421119406819344
                            width: 0.017177104949951172
                          - top: 0.3017743229866028
                            left: 0.3778260052204132
                            height: 0.03620585799217224
                            width: 0.008762582205235958
                          - top: 0.38286370038986206
                            left: 0.36674416065216064
                            height: 0.05004125460982323
                            width: 0.015909163281321526
                          - top: 0.36349350214004517
                            left: 0.6525071859359741
                            height: 0.04047037661075592
                            width: 0.013610394671559334
                          - top: 0.5612534284591675
                            left: 0.5156222581863403
                            height: 0.09876539558172226
                            width: 0.03128563612699509
                          - top: 0.40056076645851135
                            left: 0.5328527092933655
                            height: 0.0358145534992218
                            width: 0.010935052298009396
                          - top: 0.28862592577934265
                            left: 0.4719989001750946
                            height: 0.04253458231687546
                            width: 0.008669916540384293
                          - top: 0.35747864842414856
                            left: 0.607067883014679
                            height: 0.028651852160692215
                            width: 0.011714172549545765
                        - name: Road
                          confidence: 0.9999990844726563
                          timestamp:
                          - start: 0.5
                            end: null
                          category: []
                          bounding_box: []
                        - name: Shoe
                          confidence: 0.7363296508789062
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Clothing
                          - Footwear
                          bounding_box:
                          - top: 0.716453492641449
                            left: 0.6953907608985901
                            height: 0.0037566572427749634
                            width: 0.005118115805089474
                        - name: Sidewalk
                          confidence: 0.511716651916504
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Path
                          bounding_box: []
                        - name: Street
                          confidence: 0.5451940536499024
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - City
                          - Road
                          - Urban
                          bounding_box: []
                        - name: Tarmac
                          confidence: 0.5722315979003906
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Road
                          bounding_box: []
                        - name: Traffic Jam
                          confidence: 0.5287197494506836
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Road
                          - Transportation
                          - Vehicle
                          bounding_box: []
                        - name: Transportation
                          confidence: 0.9823265075683594
                          timestamp:
                          - start: 0.5
                            end: null
                          category: []
                          bounding_box: []
                        - name: Truck
                          confidence: 0.9816725158691406
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Transportation
                          - Vehicle
                          bounding_box:
                          - top: 0.44687843322753906
                            left: 0.5602332353591919
                            height: 0.19964271783828735
                            width: 0.0860503539443016
                        - name: Urban
                          confidence: 0.8814840698242188
                          timestamp:
                          - start: 0.5
                            end: null
                          category: []
                          bounding_box: []
                        - name: Van
                          confidence: 0.6001819992065429
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Transportation
                          - Vehicle
                          bounding_box: []
                        - name: Vehicle
                          confidence: 0.9823265075683594
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Transportation
                          bounding_box: []
                        - name: Weather
                          confidence: 0.5077847290039063
                          timestamp:
                          - start: 0.5
                            end: null
                          category:
                          - Nature
                          - Outdoors
                          bounding_box: []
                        - name: Aerial View
                          confidence: 0.567910041809082
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Outdoors
                          bounding_box: []
                        - name: Architecture
                          confidence: 0.9264427947998047
                          timestamp:
                          - start: 1.001
                            end: null
                          category: []
                          bounding_box: []
                        - name: Bench
                          confidence: 0.8930517578125
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Furniture
                          bounding_box:
                          - top: 0.5976706743240356
                            left: 0.8723727464675903
                            height: 0.06371307373046875
                            width: 0.03266410902142525
                        - name: Building
                          confidence: 0.9264427947998047
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Architecture
                          bounding_box: []
                        - name: Bus
                          confidence: 0.924765853881836
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Transportation
                          - Vehicle
                          bounding_box:
                          - top: 0.38946864008903503
                            left: 0.14519615471363068
                            height: 0.23891830444335938
                            width: 0.10875226557254791
                          - top: 0.30143192410469055
                            left: 0.2740536332130432
                            height: 0.13966700434684753
                            width: 0.06015698239207268
                          - top: 0.2883400321006775
                            left: 0.30370235443115234
                            height: 0.11682787537574768
                            width: 0.046093907207250595
                          - top: 0.2721538543701172
                            left: 0.31926459074020386
                            height: 0.10192345827817917
                            width: 0.04504241794347763
                        - name: Bus Stop
                          confidence: 0.5230881881713867
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Outdoors
                          bounding_box: []
                        - name: Car
                          confidence: 0.8901907348632813
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Transportation
                          - Vehicle
                          bounding_box:
                          - top: 0.40735185146331787
                            left: 0.3665558993816376
                            height: 0.06446290016174316
                            width: 0.041646480560302734
                          - top: 0.3335679769515991
                            left: 0.39017045497894287
                            height: 0.04350656643509865
                            width: 0.0252100620418787
                          - top: 0.2751230299472809
                            left: 0.4103993773460388
                            height: 0.03767799213528633
                            width: 0.020800208672881126
                          - top: 0.3490445017814636
                            left: 0.3996078073978424
                            height: 0.058056894689798355
                            width: 0.033638764172792435
                          - top: 0.36576157808303833
                            left: 0.45705097913742065
                            height: 0.05830242112278938
                            width: 0.038132891058921814
                          - top: 0.5228830575942993
                            left: 0.4091150462627411
                            height: 0.11492360383272171
                            width: 0.07440897822380066
                          - top: 0.46835237741470337
                            left: 0.3354959487915039
                            height: 0.12320268154144287
                            width: 0.0716085433959961
                          - top: 0.2678704559803009
                            left: 0.44303423166275024
                            height: 0.040636077523231506
                            width: 0.02221231535077095
                        - name: City
                          confidence: 0.5829042816162109
                          timestamp:
                          - start: 1.001
                            end: null
                          category: []
                          bounding_box: []
                        - name: Cityscape
                          confidence: 0.9264427947998047
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Architecture
                          - Building
                          - Urban
                          bounding_box: []
                        - name: Clothing
                          confidence: 0.758791732788086
                          timestamp:
                          - start: 1.001
                            end: null
                          category: []
                          bounding_box: []
                        - name: Fog
                          confidence: 0.5066787719726562
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Nature
                          - Outdoors
                          - Weather
                          bounding_box: []
                        - name: Footwear
                          confidence: 0.758791732788086
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Clothing
                          bounding_box: []
                        - name: Freeway
                          confidence: 0.9866207885742188
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Road
                          bounding_box: []
                        - name: Furniture
                          confidence: 0.8930517578125
                          timestamp:
                          - start: 1.001
                            end: null
                          category: []
                          bounding_box: []
                        - name: Helmet
                          confidence: 0.8616635131835938
                          timestamp:
                          - start: 1.001
                            end: null
                          category: []
                          bounding_box:
                          - top: 0.6148447394371033
                            left: 0.7046549320220947
                            height: 0.023234276100993156
                            width: 0.01605275459587574
                        - name: Highway
                          confidence: 0.9552349853515625
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Freeway
                          - Road
                          bounding_box: []
                        - name: Intersection
                          confidence: 0.500679702758789
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Road
                          bounding_box: []
                        - name: License Plate
                          confidence: 0.5019369506835938
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Transportation
                          - Vehicle
                          bounding_box: []
                        - name: Metropolis
                          confidence: 0.5144857025146484
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - City
                          - Urban
                          bounding_box: []
                        - name: Moped
                          confidence: 0.5180717849731445
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Motor Scooter
                          - Motorcycle
                          - Transportation
                          - Vehicle
                          bounding_box: []
                        - name: Motor Scooter
                          confidence: 0.5180717849731445
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Motorcycle
                          - Transportation
                          - Vehicle
                          bounding_box: []
                        - name: Motorcycle
                          confidence: 0.9635723876953125
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Transportation
                          - Vehicle
                          bounding_box:
                          - top: 0.6073648929595947
                            left: 0.525607168674469
                            height: 0.0879746600985527
                            width: 0.03246456757187843
                          - top: 0.5710701942443848
                            left: 0.4912427067756653
                            height: 0.08053430914878845
                            width: 0.032173190265893936
                          - top: 0.4584204852581024
                            left: 0.5464988946914673
                            height: 0.0641346126794815
                            width: 0.021405983716249466
                          - top: 0.6636707186698914
                            left: 0.6014139652252197
                            height: 0.1031791940331459
                            width: 0.034391529858112335
                          - top: 0.9251562356948853
                            left: 0.2438800036907196
                            height: 0.07386977225542068
                            width: 0.060079652816057205
                          - top: 0.6533194184303284
                            left: 0.6978009939193726
                            height: 0.09705177694559097
                            width: 0.03669681400060654
                          - top: 0.3514373302459717
                            left: 0.5203273296356201
                            height: 0.044124431908130646
                            width: 0.01280822791159153
                          - top: 0.4231224060058594
                            left: 0.5333318710327148
                            height: 0.050604503601789474
                            width: 0.01649036444723606
                          - top: 0.425135999917984
                            left: 0.5195115208625793
                            height: 0.056591883301734924
                            width: 0.01728534698486328
                          - top: 0.3973028361797333
                            left: 0.5521113276481628
                            height: 0.05247833952307701
                            width: 0.02454764023423195
                          - top: 0.3726186454296112
                            left: 0.5053130984306335
                            height: 0.044976864010095596
                            width: 0.01401529274880886
                          - top: 0.51680988073349
                            left: 0.5107160210609436
                            height: 0.06856870651245117
                            width: 0.02264312095940113
                          - top: 0.41043680906295776
                            left: 0.48860183358192444
                            height: 0.043943703174591064
                            width: 0.015559895895421505
                          - top: 0.3916781544685364
                            left: 0.5628935098648071
                            height: 0.057610828429460526
                            width: 0.015362611971795559
                          - top: 0.3405505418777466
                            left: 0.4483990967273712
                            height: 0.03608635812997818
                            width: 0.011165523901581764
                          - top: 0.40103092789649963
                            left: 0.5177794694900513
                            height: 0.0416543185710907
                            width: 0.015511449426412582
                          - top: 0.4817526936531067
                            left: 0.4977227747440338
                            height: 0.056656111031770706
                            width: 0.02227722853422165
                          - top: 0.306941956281662
                            left: 0.4103502035140991
                            height: 0.039539139717817307
                            width: 0.010812696069478989
                          - top: 0.37732580304145813
                            left: 0.6369108557701111
                            height: 0.03716832026839256
                            width: 0.02853596955537796
                          - top: 0.41859811544418335
                            left: 0.4900677502155304
                            height: 0.057885996997356415
                            width: 0.016649659723043442
                          - top: 0.33837375044822693
                            left: 0.48170799016952515
                            height: 0.03160114958882332
                            width: 0.009893099777400494
                          - top: 0.3398832678794861
                            left: 0.5206125378608704
                            height: 0.04257877543568611
                            width: 0.015163770876824856
                          - top: 0.46260178089141846
                            left: 0.496832937002182
                            height: 0.049924157559871674
                            width: 0.02315845526754856
                          - top: 0.4517216384410858
                            left: 0.49787718057632446
                            height: 0.04611652344465256
                            width: 0.018800480291247368
                          - top: 0.334629088640213
                            left: 0.5097651481628418
                            height: 0.031072573736310005
                            width: 0.010157394222915173
                        - name: Moving Van
                          confidence: 0.6665193176269532
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Transportation
                          - Van
                          - Vehicle
                          bounding_box:
                          - top: 0.6105933785438538
                            left: 0.25003278255462646
                            height: 0.1807662397623062
                            width: 0.09770441055297852
                        - name: Nature
                          confidence: 0.6036647415161133
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Outdoors
                          bounding_box: []
                        - name: Outdoors
                          confidence: 0.9798394012451171
                          timestamp:
                          - start: 1.001
                            end: null
                          category: []
                          bounding_box: []
                        - name: Path
                          confidence: 0.5153163528442383
                          timestamp:
                          - start: 1.001
                            end: null
                          category: []
                          bounding_box: []
                        - name: Pedestrian
                          confidence: 0.5056674194335937
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Person
                          bounding_box: []
                        - name: Person
                          confidence: 0.9610716247558594
                          timestamp:
                          - start: 1.001
                            end: null
                          category: []
                          bounding_box:
                          - top: 0.6149519681930542
                            left: 0.6987020373344421
                            height: 0.11915452778339386
                            width: 0.03549664840102196
                          - top: 0.49173876643180847
                            left: 0.16242605447769165
                            height: 0.024199817329645157
                            width: 0.0208464153110981
                          - top: 0.3416118025779724
                            left: 0.5205965042114258
                            height: 0.040135983377695084
                            width: 0.012377262115478516
                          - top: 0.36062517762184143
                            left: 0.6535110473632812
                            height: 0.04183033108711243
                            width: 0.01248321495950222
                          - top: 0.29900240898132324
                            left: 0.37037304043769836
                            height: 0.034376103430986404
                            width: 0.010422134771943092
                          - top: 0.6416475176811218
                            left: 0.6018723249435425
                            height: 0.11436326801776886
                            width: 0.033785440027713776
                          - top: 0.38636258244514465
                            left: 0.3651405870914459
                            height: 0.04866194725036621
                            width: 0.01729116402566433
                          - top: 0.5781581997871399
                            left: 0.5262556672096252
                            height: 0.09930736571550369
                            width: 0.030704276636242867
                          - top: 0.30054959654808044
                            left: 0.3866965174674988
                            height: 0.037443965673446655
                            width: 0.009857654571533203
                          - top: 0.8716463446617126
                            left: 0.2446974366903305
                            height: 0.12756776809692383
                            width: 0.05756467208266258
                          - top: 0.5312938690185547
                            left: 0.617497444152832
                            height: 0.03133590146899223
                            width: 0.01704896241426468
                        - name: Road
                          confidence: 0.9999983215332031
                          timestamp:
                          - start: 1.001
                            end: null
                          category: []
                          bounding_box: []
                        - name: Shoe
                          confidence: 0.758791732788086
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Clothing
                          - Footwear
                          bounding_box:
                          - top: 0.7154207229614258
                            left: 0.6979842782020569
                            height: 0.010272782295942307
                            width: 0.008094342425465584
                          - top: 0.7128480076789856
                            left: 0.7282270193099976
                            height: 0.010899240151047707
                            width: 0.007298024371266365
                        - name: Sidewalk
                          confidence: 0.5153163528442383
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Path
                          bounding_box: []
                        - name: Smog
                          confidence: 0.5015361785888672
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Fog
                          - Nature
                          - Outdoors
                          - Smoke
                          - Weather
                          bounding_box: []
                        - name: Smoke
                          confidence: 0.5015361785888672
                          timestamp:
                          - start: 1.001
                            end: null
                          category: []
                          bounding_box: []
                        - name: Street
                          confidence: 0.5466576766967773
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - City
                          - Road
                          - Urban
                          bounding_box: []
                        - name: Tarmac
                          confidence: 0.5686442184448243
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Road
                          bounding_box: []
                        - name: Traffic Jam
                          confidence: 0.5310886764526367
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Road
                          - Transportation
                          - Vehicle
                          bounding_box: []
                        - name: Transportation
                          confidence: 0.9678118896484375
                          timestamp:
                          - start: 1.001
                            end: null
                          category: []
                          bounding_box: []
                        - name: Truck
                          confidence: 0.9631476593017578
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Transportation
                          - Vehicle
                          bounding_box:
                          - top: 0.4480735659599304
                            left: 0.5616839528083801
                            height: 0.2024829089641571
                            width: 0.08816929161548615
                        - name: Urban
                          confidence: 0.9264427947998047
                          timestamp:
                          - start: 1.001
                            end: null
                          category: []
                          bounding_box: []
                        - name: Van
                          confidence: 0.6675741577148437
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Transportation
                          - Vehicle
                          bounding_box: []
                        - name: Vehicle
                          confidence: 0.9678118896484375
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Transportation
                          bounding_box: []
                        - name: Weather
                          confidence: 0.5066787719726562
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Nature
                          - Outdoors
                          bounding_box: []
                        - name: Zebra Crossing
                          confidence: 0.500781135559082
                          timestamp:
                          - start: 1.001
                            end: null
                          category:
                          - Road
                          - Tarmac
                          bounding_box: []
                        - name: Aerial View
                          confidence: 0.5706308364868165
                          timestamp:
                          - start: 1.501
                            end: null
                          category:
                          - Outdoors
                          bounding_box: []
                        - name: Architecture
                          confidence: 0.894121322631836
                          timestamp:
                          - start: 1.501
                            end: null
                          category: []
                          bounding_box: []
                        - name: Bench
                          confidence: 0.8908110809326172
                          timestamp:
                          - start: 1.501
                            end: null
                          category:
                          - Furniture
                          bounding_box:
                          - top: 0.5955125689506531
                            left: 0.8727594614028931
                            height: 0.06393636018037796
                            width: 0.032390277832746506
                        - name: Building
                          confidence: 0.894121322631836
                          timestamp:
                          - start: 1.501
                            end: null
                          category:
                          - Architecture
                          bounding_box: []
                        - name: Bus
                          confidence: 0.9125767517089843
                          timestamp:
                          - start: 1.501
                            end: null
                          category:
                          - Transportation
                          - Vehicle
                          bounding_box:
                          - top: 0.29941317439079285
                            left: 0.2716204524040222
                            height: 0.1427057385444641
                            width: 0.062333423644304276
                          - top: 0.39656442403793335
                            left: 0.13598254323005676
                            height: 0.245597243309021
                            width: 0.11203958094120026
                          - top: 0.2871969938278198
                            left: 0.30223023891448975
                            height: 0.11729451268911362
                            width: 0.04741417616605759
                          - top: 0.27049726247787476
                            left: 0.32091599702835083
                            height: 0.1028158962726593
                            width: 0.04391114041209221
                        - name: Bus Stop
                          confidence: 0.5311030960083007
                          timestamp:
                          - start: 1.501
                            end: null
                          category:
                          - Outdoors
                          bounding_box: []
                        - name: Car
                          confidence: 0.8705683898925781
                          timestamp:
                          - start: 1.501
                            end: null
                          category:
                          - Transportation
                          - Vehicle
                          bounding_box:
                          - top: 0.33359602093696594
                            left: 0.39033058285713196
                            height: 0.04400942847132683
                            width: 0.025582026690244675
                          - top: 0.2757957875728607
                            left: 0.40836939215660095
                            height: 0.03733469545841217
                            width: 0.021429793909192085
                          - top: 0.41150158643722534
                            left: 0.363179087638855
                            height: 0.06726659089326859
                            width: 0.0430474616587162
                          - top: 0.3501816987991333
                            left: 0.39681246876716614
                            height: 0.061340246349573135
                            width: 0.03383401408791542
                        - name: City
                          confidence: 0.6153995513916015
                          timestamp:
                          - start: 1.501
                            end: null
                          category: []
                          bounding_box: []
                        - name: Cityscape
                          confidence: 0.894121322631836
                          timestamp:
                          - start: 1.501
                            end: null
                          category:
                          - Architecture
                          - Building
                          - Urban
                          bounding_box: []
                        - name: Clothing
                          confidence: 0.5910092544555664
                          timestamp:
                          - start: 1.501
                            end: null
                          category: []
                          bounding_box: []
                        - name: Fog
                          confidence: 0.5130271148681641
                          timestamp:
                          - start: 1.501
                            end: null
                          category:
                          - Nature
                          - Outdoors
                          - Weather
                          bounding_box: []
                        - name: Footwear
                          confidence: 0.5910092544555664
                          timestamp:
                          - start: 1.501
                            end: null
                          category:
                          - Clothing
                          bounding_box: []
                        - name: Freeway
                          confidence: 0.9718574523925781
                          timestamp:
                          - start: 1.501
                            end: null
                          category:
                          - Road
                          bounding_box: []
                        - name: Furniture
                          confidence: 0.8908110809326172
                          timestamp:
                          - start: 1.501
                            end: null
                          category: []
                          bounding_box: []
                        - name: Helmet
                          confidence: 0.8219971466064453
                          timestamp:
                          - start: 1.501
                            end: null
                          category: []
                          bounding_box:
                          - top: 0.6269314289093018
                            left: 0.7109566926956177
                            height: 0.0211953055113554
                            width: 0.013272603042423725
                          - top: 0.629716694355011
                            left: 0.7198917269706726
                            height: 0.026373686268925667
                            width: 0.009746933355927467
                        - name: Highway
                          confidence: 0.9323581695556641
                          timestamp:
                          - start: 1.501
                            end: null
                          category:
                          - Freeway
                          - Road
                          bounding_box: []
                        - name: Intersection
                          confidence: 0.5030394744873047
                          timestamp:
                          - start: 1.501
                            end: null
                          category:
                          - Road
                          bounding_box: []
                        - name: License Plate
                          confidence: 0.5122179412841796
                          timestamp:
                          - start: 1.501
                            end: null
                          category:
                          - Transportation
                          - Vehicle
                          bounding_box: []
                        - name: Metropolis
                          confidence: 0.5062423324584961
                          timestamp:
                          - start: 1.501
                            end: null
                          category:
                          - City
                          - Urban
                          bounding_box: []
                        - name: Minibus
                          confidence: 0.5008040618896484
                          timestamp:
                          - start: 1.501
                            end: null
                          category:
                          - Bus
                          - Transportation
                          - Van
                          - Vehicle
                          bounding_box: []
                        - name: Moped
                          confidence: 0.5187741470336914
                          timestamp:
                          - start: 1.501
                            end: null
                          category:
                          - Motor Scooter
                          - Motorcycle
                          - Transportation
                          - Vehicle
                          bounding_box: []
                        - name: Motor Scooter
                          confidence: 0.5187741470336914
                          timestamp:
                          - start: 1.501
                            end: null
                          category:
                          - Motorcycle
                          - Transportation
                          - Vehicle
                          bounding_box: []
                        - name: Motorcycle
                          confidence: 0.9591555786132813
                          timestamp:
                          - start: 1.501
                            end: null
                          category:
                          - Transportation
                          - Vehicle
                          bounding_box:
                          - top: 0.6922284960746765
                            left: 0.625226616859436
                            height: 0.10494124889373779
                            width: 0.035795338451862335
                          - top: 0.4630107879638672
                            left: 0.5454707741737366
                            height: 0.06784486770629883
                            width: 0.022561073303222656
                          - top: 0.6228452324867249
                            left: 0.5356150269508362
                            height: 0.09168944507837296
                            width: 0.0327313095331192
                          - top: 0.5778764486312866
                            left: 0.49913981556892395
                            height: 0.09234466403722763
                            width: 0.03495696559548378
                          - top: 0.43171262741088867
                            left: 0.5258730053901672
                            height: 0.05748584866523743
                            width: 0.024024231359362602
                          - top: 0.6632301807403564
                            left: 0.7056049108505249
                            height: 0.10292726010084152
                            width: 0.03711128234863281
                          - top: 0.9150976538658142
                            left: 0.2335890382528305
                            height: 0.08421172946691513
                            width: 0.055444683879613876
                          - top: 0.39481866359710693
                            left: 0.5647657513618469
                            height: 0.05719500035047531
                            width: 0.018799718469381332
                          - top: 0.37826791405677795
                            left: 0.5147679448127747
                            height: 0.03972622752189636
                            width: 0.012143834494054317
                          - top: 0.41603195667266846
                            left: 0.4896830916404724
                            height: 0.04465591907501221
                            width: 0.015929222106933594
                          - top: 0.39641711115837097
                            left: 0.5533646941184998
                            height: 0.04986654222011566
                            width: 0.016650835052132607
                          - top: 0.3108152449131012
                            left: 0.4131321310997009
                            height: 0.03316664695739746
                            width: 0.012076250277459621
                          - top: 0.3411288857460022
                            left: 0.4827241599559784
                            height: 0.030986983329057693
                            width: 0.009447479620575905
                          - top: 0.34580233693122864
                            left: 0.4484156370162964
                            height: 0.03212768957018852
                            width: 0.011159769259393215
                          - top: 0.45767152309417725
                            left: 0.4963245987892151
                            height: 0.05082869529724121
                            width: 0.023633098229765892
                          - top: 0.4038110375404358
                            left: 0.5226643085479736
                            height: 0.043560706079006195
                            width: 0.0152066545560956
                          - top: 0.5375876426696777
                            left: 0.4964861571788788
                            height: 0.061353784054517746
                            width: 0.02935638464987278
                          - top: 0.37189871072769165
                            left: 0.6375651955604553
                            height: 0.04129133000969887
                            width: 0.028577296063303947
                          - top: 0.32965269684791565
                            left: 0.5087911486625671
                            height: 0.03670337796211243
                            width: 0.011299164965748787
                          - top: 0.3198651969432831
                            left: 0.5286993980407715
                            height: 0.04154391959309578
                            width: 0.01183099765330553
                          - top: 0.48402372002601624
                            left: 0.49901625514030457
                            height: 0.04968849569559097
                            width: 0.022372087463736534
                          - top: 0.35975614190101624
                            left: 0.5212201476097107
                            height: 0.04619976878166199
                            width: 0.01407588366419077
                          - top: 0.4060501456260681
                            left: 0.5364349484443665
                            height: 0.041478052735328674
                            width: 0.014460118487477303
                          - top: 0.42393866181373596
                            left: 0.5377227067947388
                            height: 0.045385006815195084
                            width: 0.01408208254724741
                          - top: 0.3386620879173279
                            left: 0.5229279398918152
                            height: 0.03138235583901405
                            width: 0.015006573870778084
                        - name: Moving Van
                          confidence: 0.685865249633789
                          timestamp:
                          - start: 1.501
                            end: null
                          category:
                          - Transportation
                          - Van
                          - Vehicle
                          bounding_box:
                          - top: 0.6369797587394714
                            left: 0.23699308931827545
                            height: 0.19575200974941254
                            width: 0.10584751516580582
                        - name: Nature
                          confidence: 0.630506591796875
                          timestamp:
                          - start: 1.501
                            end: null
                          category:
                          - Outdoors
                          bounding_box: []
                        - name: Outdoors
                          confidence: 0.9786961364746094
                          timestamp:
                          - start: 1.501
                            end: null
                          category: []
                          bounding_box: []
                        - name: Path
                          confidence: 0.5167679595947265
                          timestamp:
                          - start: 1.501
                            end: null
                          category: []
                          bounding_box: []
                        - name: Person
                          confidence: 0.9449306488037109
                          timestamp:
                          - start: 1.501
                            end: null
                          category: []
                          bounding_box:
                          - top: 0.6279031038284302
                            left: 0.7064028382301331
                            height: 0.1216023787856102
[...]
