openapi: 3.2.0
info:
  title: Text Features Topic Extraction API
  version: '2.0'
  description: Your project description
servers:
- url: https://api.edenai.run/v2
tags:
- name: Topic Extraction
paths:
  /text/topic_extraction/:
    post:
      operationId: text_topic_extraction_create
      description: 'Available Providers


        |Provider|Model|Version|Price|Billing unit|

        |----|----|-------|-----|------------|

        |**google**|-|`v1`|0.6 (per 1000000 char)|1 char

        |**openai**|**gpt-4o**|`v1`|10.0 (per 1000000 token)|1 token

        |**openai**|-|`v1`|10.0 (per 1000000 token)|1 token

        |**tenstorrent**|-|`v1.0.0`|2.0 (per 1000000 char)|1000 char


        Supported Languages


        |Name|Value|

        |----|-----|

        |**English**|`en`|


        Supported Detailed Languages


        |Name|Value|

        |----|-----|

        |**Auto detection**|`auto-detect`|


        Supported Models


        Default Models


        |Name|Value|

        |----|-----|

        |**openai**|`gpt-4o`|'
      summary: Topic Extraction
      tags:
      - Topic Extraction
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/texttopic_extractiontextanonymizationtextmoderationtextnamed_entity_recognitiontextkeyword_extractiontextsyntax_analysistextsentiment_analysisTextAnalysisRequest'
            examples:
              RequestExample:
                value:
                  providers: tenstorrent,google,openai
                  language: en
                  text: That actor on TV makes movies in Hollywood and also stars in a variety of popular new TV shows.
                summary: Request Example
        required: true
      security:
      - FeatureApiAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/texttopic_extractionResponseModel'
              examples:
                ResponseExample:
                  value:
                    tenstorrent:
                      items:
                      - category: Film Tv & Video
                        importance: 0.99
                      - category: Celebrity & Pop Culture
                        importance: 0.79
                      cost: 0.0
                    google:
                      items:
                      - category: /Arts & Entertainment/Tv & Video/Tv Shows & Programs
                        importance: 0.52
                      cost: 0.0
                    openai:
                      items:
                      - category: Entertainment
                        importance: 0.9
                      - category: Film Industry
                        importance: 0.8
                      - category: Television
                        importance: 0.7
                      cost: 0.0
                  summary: Response Example
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: ''
components:
  schemas:
    BadRequest:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/NestedBadRequest'
      required:
      - error
    NotFoundResponse:
      type: object
      properties:
        details:
          type: string
          default: Not Found
    FieldError:
      type: object
      properties:
        <parameter_name>:
          type: array
          items:
            type: string
      required:
      - <parameter_name>
    texttopic_extractionResponseModel:
      properties:
        xai:
          $ref: '#/components/schemas/texttopic_extractionTopicExtractionDataClass'
          default: null
        google:
          $ref: '#/components/schemas/texttopic_extractionTopicExtractionDataClass'
          default: null
        openai:
          $ref: '#/components/schemas/texttopic_extractionTopicExtractionDataClass'
          default: null
        tenstorrent:
          $ref: '#/components/schemas/texttopic_extractionTopicExtractionDataClass'
          default: null
      title: texttopic_extractionResponseModel
      type: object
    Error:
      type: object
      properties:
        error:
          $ref: '#/components/schemas/NestedError'
      required:
      - error
    texttopic_extractionTopicExtractionDataClass:
      properties:
        items:
          items:
            $ref: '#/components/schemas/ExtractedTopic'
          title: Items
          type: array
        original_response:
          default: null
          description: original response sent by the provider, hidden by default, show it by passing the `show_original_response` field to `true` in your request
          title: Original Response
        status:
          allOf:
          - $ref: '#/components/schemas/StatusEnum'
          title: Status
      required:
      - status
      title: texttopic_extractionTopicExtractionDataClass
      type: object
    ExtractedTopic:
      properties:
        category:
          title: Category
          type: string
        importance:
          title: Importance
          type: integer
      required:
      - category
      - importance
      title: ExtractedTopic
      type: object
    StatusEnum:
      enum:
      - sucess
      - fail
      type: string
    NestedBadRequest:
      type: object
      properties:
        type:
          type: string
        message:
          $ref: '#/components/schemas/FieldError'
      required:
      - message
      - type
    NestedError:
      type: object
      properties:
        type:
          type: string
        message:
          type: string
      required:
      - message
      - type
    ? texttopic_extractiontextanonymizationtextmoderationtextnamed_entity_recognitiontextkeyword_extractiontextsyntax_analysistextsentiment_analysisTextAnalysisRequest
    : type: object
      properties:
        settings:
          type: string
          default: {}
          description: "A dictionnary or a json object to specify specific models to use for some providers. <br>                     It can be in the following format: {\"google\" : \"google_model\", \"ibm\": \"ibm_model\"...}.\n                     "
        providers:
          type: array
          items:
            type: string
            minLength: 1
          description: 'It can be one (ex: **''amazon''** or **''google''**) or multiple provider(s) (ex: **''amazon,microsoft,google''**)             that the data will be redirected to in order to get the processed results.<br>             Providers can also be invoked with specific models (ex: providers: **''amazon/model1, amazon/model2, google/model3''**)'
        fallback_providers:
          type: array
          items:
            type: string
          default: []
          description: "Providers in this list will be used as fallback if the call to provider in `providers` parameter fails.\n    To use this feature, you must input **only one** provider in the `providers` parameter. but you can put up to 5 fallbacks.\n\nThey will be tried in the same order they are input, and it will stop to the first provider who doesn't fail.\n\n\n*Doesn't work with async subfeatures.*\n    "
          maxItems: 5
        response_as_dict:
          type: boolean
          default: true
          description: "Optional : When set to **true** (default), the response is an object of responses with providers names as keys : <br> \n                  ``` {\"google\" : { \"status\": \"success\", ... }, } ``` <br>\n                When set to **false** the response structure is a list of response objects : <br> \n                   ``` [{\"status\": \"success\", \"provider\": \"google\" ... }, ] ```. <br>\n                  "
        attributes_as_list:
          type: boolean
          default: false
          description: "Optional : When set to **false** (default) the structure of the extracted items is list of objects having different attributes : <br>\n     ```{'items': [{\"attribute_1\": \"x1\",\"attribute_2\": \"y2\"}, ... ]}``` <br>\n     When it is set to **true**, the response contains an object with each attribute as a list : <br>\n     ```{ \"attribute_1\": [\"x1\",\"x2\", ...], \"attribute_2\": [y1, y2, ...]}``` "
        show_base_64:
          type: boolean
          default: true
        show_original_response:
          type: boolean
          default: false
          description: "Optional : Shows the original response of the provider.<br>\n        When set to **true**, a new attribute *original_response* will appear in the response object."
        text:
          type: string
          minLength: 1
          description: Text to analyze
        language:
          type:
          - string
          - 'null'
          description: 'Language code for the language the input text is written in (eg: en, fr).'
      required:
      - providers
      - text
  securitySchemes:
    FeatureApiAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
