openapi: 3.2.0
info:
  title: Eden Ai Chat API
  version: '1.0'
  description: 'Operations tagged Chat across 4 of this provider''s published API definitions: eden-ai-llm-features-openapi.json, eden-ai-multimodal-features-openapi.json, eden-ai-text-features-openapi.json, eden-ai-v3-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.edenai.run/v2
- url: https://api.edenai.run
  description: Production server
tags:
- name: Chat
paths:
  /llm/chat/:
    post:
      operationId: llm_chat_create
      description: 'Available Providers


        |Provider|Model|Version|Price|Billing unit|

        |----|----|-------|-----|------------|

        |**amazon**|**amazon.nova-lite-v1:0**|`llmengine (v2)`|0.24 (per 1000000 token)|1 token

        |**amazon**|**amazon.nova-micro-v1:0**|`llmengine (v2)`|0.14 (per 1000000 token)|1 token

        |**amazon**|**amazon.nova-pro-v1:0**|`llmengine (v2)`|3.2 (per 1000000 token)|1 token

        |**anthropic**|**claude-opus-4-6**|`v1`|5e-06 (per 1 token)|1 token

        |**anthropic**|**claude-sonnet-4-20250514**|`v1`|1.5e-05 (per 1 token)|1 token

        |**anthropic**|**claude-opus-4-1-20250805**|`v1`|7.5e-05 (per 1 token)|1 token

        |**anthropic**|**claude-opus-4-5**|`v1`|2.5e-05 (per 1 token)|1 token

        |**anthropic**|**claude-3-7-sonnet-latest**|`v1`|1.5e-05 (per 1 token)|1 token

        |**anthropic**|**claude-3-5-haiku-20241022**|`v1`|4e-06 (per 1 token)|1 token

        |**anthropic**|**claude-3-5-haiku-latest**|`v1`|5e-06 (per 1 token)|1 token

        |**anthropic**|**claude-haiku-4-5-20251001**|`v1`|5e-06 (per 1 token)|1 token

        |**anthropic**|**claude-haiku-4-5**|`v1`|5e-06 (per 1 token)|1 token

        |**anthropic**|**claude-3-7-sonnet-20250219**|`v1`|1.5e-05 (per 1 token)|1 token

        |**anthropic**|**claude-3-haiku-20240307**|`v1`|1.25e-06 (per 1 token)|1 token

        |**anthropic**|**claude-4-opus-20250514**|`v1`|7.5e-05 (per 1 token)|1 token

        |**anthropic**|**claude-4-sonnet-20250514**|`v1`|1.5e-05 (per 1 token)|1 token

        |**anthropic**|**claude-sonnet-4-5**|`v1`|1.5e-05 (per 1 token)|1 token

        |**anthropic**|**claude-sonnet-4-5-20250929**|`v1`|1.5e-05 (per 1 token)|1 token

        |**anthropic**|**claude-opus-4-1**|`v1`|7.5e-05 (per 1 token)|1 token

        |**anthropic**|**claude-opus-4-20250514**|`v1`|7.5e-05 (per 1 token)|1 token

        |**anthropic**|**claude-opus-4-5-20251101**|`v1`|2.5e-05 (per 1 token)|1 token

        |**cohere**|**command-r7b-12-2024**|`llmengine (v2)`|0.15 (per 1000000 token)|1 token

        |**cohere**|**command-r-08-2024**|`llmengine (v2)`|0.6 (per 1000000 token)|1 token

        |**deepseek**|**deepseek-chat**|`llmengine (v2)`|1.1e-06 (per 1 token)|1 token

        |**deepseek**|**deepseek-reasoner**|`llmengine (v2)`|2.19e-06 (per 1 token)|1 token

        |**deepseek**|**deepseek-coder**|`llmengine (v2)`|2.8e-07 (per 1 token)|1 token

        |**meta**|**meta.llama3-1-405b-instruct-v1:0**|`llmengine (v2)`|2.4 (per 1000000 token)|1 token

        |**meta**|**meta.llama3-1-70b-instruct-v1:0**|`llmengine (v2)`|0.72 (per 1000000 token)|1 token

        |**meta**|**meta.llama3-1-8b-instruct-v1:0**|`llmengine (v2)`|0.22 (per 1000000 token)|1 token

        |**mistral**|**magistral-medium-2506**|`llmengine (v2)`|5e-06 (per 1 token)|1 token

        |**mistral**|**magistral-small-2506**|`llmengine (v2)`|1.5e-06 (per 1 token)|1 token

        |**mistral**|**mistral-medium-latest**|`llmengine (v2)`|2e-06 (per 1 token)|1 token

        |**mistral**|**pixtral-large-latest**|`llmengine (v2)`|6e-06 (per 1 token)|1 token

        |**mistral**|**mistral-small-latest**|`llmengine (v2)`|3e-07 (per 1 token)|1 token

        |**mistral**|**codestral-latest**|`llmengine (v2)`|3e-06 (per 1 token)|1 token

        |**mistral**|**mistral-large-latest**|`llmengine (v2)`|6e-06 (per 1 token)|1 token

        |**mistral**|**codestral-2405**|`llmengine (v2)`|3e-06 (per 1 token)|1 token

        |**mistral**|**codestral-2508**|`llmengine (v2)`|9e-07 (per 1 token)|1 token

        |**mistral**|**devstral-medium-2507**|`llmengine (v2)`|2e-06 (per 1 token)|1 token

        |**mistral**|**devstral-small-2505**|`llmengine (v2)`|3e-07 (per 1 token)|1 token

        |**mistral**|**devstral-small-2507**|`llmengine (v2)`|3e-07 (per 1 token)|1 token

        |**mistral**|**labs-devstral-small-2512**|`llmengine (v2)`|3e-07 (per 1 token)|1 token

        |**mistral**|**devstral-2512**|`llmengine (v2)`|2e-06 (per 1 token)|1 token

        |**mistral**|**magistral-medium-2509**|`llmengine (v2)`|5e-06 (per 1 token)|1 token

        |**mistral**|**magistral-medium-latest**|`llmengine (v2)`|5e-06 (per 1 token)|1 token

        |**mistral**|**magistral-small-latest**|`llmengine (v2)`|1.5e-06 (per 1 token)|1 token

        |**mistral**|**mistral-large-2402**|`llmengine (v2)`|1.2e-05 (per 1 token)|1 token

        |**mistral**|**mistral-large-2407**|`llmengine (v2)`|9e-06 (per 1 token)|1…'
      summary: Chat
      tags:
      - Chat
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/llmchatllmchatChatRequest'
            examples:
              RequestExample:
                value:
                  providers: together_ai,qwen,bytedance,anthropic,minimax,cohere,openai,xai,databricks,perplexityai,azure,deepinfra,nebius,ovhcloud,fireworks_ai,lilac,scaleway,compactifai,google,groq,cloudflare,meta,deepseek,vertex,mistral,amazon,microsoft,moonshot,flexai,infomaniak,ionos,xiaomi,zai,cerebras,tensorx
                  model: gpt-4o-mini
                  messages:
                  - role: system
                    content: Always reply like a pirate
                  - role: user
                    content:
                    - type: text
                      text: Describe this image please!
                    - type: image_url
                      image_url:
                        url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg
                  temperature: 0
                  max_tokens: 200
                  stop_sequences: []
                  top_k: 0
                  top_p: 0
                summary: Request Example
        required: true
      security:
      - FeatureApiAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/llmchatResponseModel'
              examples:
                ResponseExample:
                  value:
                    together_ai/gpt-4o-mini-2024-07-18:
                      id: chatcmpl-B71qqu4Y7m1ZVuF5YGqxz7LXzgf0Y
                      created: 1741015112
                      object: chat.completion
                      system_fingerprint: fp_7fcd609668
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Arrr, matey! What ye be seein’ in this here image is a grand pathway, made of wooden planks, weavin' its way through a lush and green landscape. The verdant grass sways in the gentle breeze, and the sky above be a brilliant blue, decorated with fluffy white clouds. Ye can spot trees and bushes on either side, makin' it a perfect setting for a stroll amongst nature. A peaceful place for a pirate at heart, aye!
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3692885792
                      edenai_time: null
                      usage:
                        completion_tokens: 99
                        prompt_tokens: 1170
                        total_tokens: 1269
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: 99
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 1024
                          text_tokens: null
                          image_tokens: null
                      service_tier: default
                      cost: 0.0
                    qwen/gpt-4o-mini-2024-07-18:
                      id: chatcmpl-B71qqu4Y7m1ZVuF5YGqxz7LXzgf0Y
                      created: 1741015112
                      object: chat.completion
                      system_fingerprint: fp_7fcd609668
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Arrr, matey! What ye be seein’ in this here image is a grand pathway, made of wooden planks, weavin' its way through a lush and green landscape. The verdant grass sways in the gentle breeze, and the sky above be a brilliant blue, decorated with fluffy white clouds. Ye can spot trees and bushes on either side, makin' it a perfect setting for a stroll amongst nature. A peaceful place for a pirate at heart, aye!
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3692885792
                      edenai_time: null
                      usage:
                        completion_tokens: 99
                        prompt_tokens: 1170
                        total_tokens: 1269
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: 99
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 1024
                          text_tokens: null
                          image_tokens: null
                      service_tier: default
                      cost: 0.0
                    bytedance/gpt-4o-mini-2024-07-18:
                      id: chatcmpl-B71qqu4Y7m1ZVuF5YGqxz7LXzgf0Y
                      created: 1741015112
                      object: chat.completion
                      system_fingerprint: fp_7fcd609668
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Arrr, matey! What ye be seein’ in this here image is a grand pathway, made of wooden planks, weavin' its way through a lush and green landscape. The verdant grass sways in the gentle breeze, and the sky above be a brilliant blue, decorated with fluffy white clouds. Ye can spot trees and bushes on either side, makin' it a perfect setting for a stroll amongst nature. A peaceful place for a pirate at heart, aye!
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3692885792
                      edenai_time: null
                      usage:
                        completion_tokens: 99
                        prompt_tokens: 1170
                        total_tokens: 1269
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: 99
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 1024
                          text_tokens: null
                          image_tokens: null
                      service_tier: default
                      cost: 0.0
                    anthropic/gpt-4o-mini-2024-07-18:
                      id: chatcmpl-B71qqu4Y7m1ZVuF5YGqxz7LXzgf0Y
                      created: 1741015112
                      object: chat.completion
                      system_fingerprint: fp_7fcd609668
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Arrr, matey! What ye be seein’ in this here image is a grand pathway, made of wooden planks, weavin' its way through a lush and green landscape. The verdant grass sways in the gentle breeze, and the sky above be a brilliant blue, decorated with fluffy white clouds. Ye can spot trees and bushes on either side, makin' it a perfect setting for a stroll amongst nature. A peaceful place for a pirate at heart, aye!
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3692885792
                      edenai_time: null
                      usage:
                        completion_tokens: 99
                        prompt_tokens: 1170
                        total_tokens: 1269
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: 99
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 1024
                          text_tokens: null
                          image_tokens: null
                      service_tier: default
                      cost: 0.0
                    minimax/gpt-4o-mini-2024-07-18:
                      id: chatcmpl-B71qqu4Y7m1ZVuF5YGqxz7LXzgf0Y
                      created: 1741015112
                      object: chat.completion
                      system_fingerprint: fp_7fcd609668
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Arrr, matey! What ye be seein’ in this here image is a grand pathway, made of wooden planks, weavin' its way through a lush and green landscape. The verdant grass sways in the gentle breeze, and the sky above be a brilliant blue, decorated with fluffy white clouds. Ye can spot trees and bushes on either side, makin' it a perfect setting for a stroll amongst nature. A peaceful place for a pirate at heart, aye!
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3692885792
                      edenai_time: null
                      usage:
                        completion_tokens: 99
                        prompt_tokens: 1170
                        total_tokens: 1269
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: 99
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 1024
                          text_tokens: null
                          image_tokens: null
                      service_tier: default
                      cost: 0.0
                    cohere/gpt-4o-mini-2024-07-18:
                      id: chatcmpl-B71RkHwax2QEWCrZXYl3mZh20fC5y
                      created: 1741013556
                      object: chat.completion
                      system_fingerprint: fp_7fcd609668
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Arrr matey! In this fine image, ye be seein' a wooden pathway leadin' through a grand expanse of green grass and wild foliage. The sky above be painted in shades of blue, with fluffy clouds driftin' lazily. The boardwalk be settin' sail through this scenic wonder, invitin' ye to wander and explore the treasures of nature that lie ahead. Aye, 'tis a sight to behold for any landlubber or sea dog!
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3751955066
                      edenai_time: null
                      usage:
                        completion_tokens: 100
                        prompt_tokens: 1170
                        total_tokens: 1270
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: null
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 0
                          text_tokens: null
                          image_tokens: null
                      service_tier: default
                      cost: 0.0
                    openai/gpt-4o-mini-2024-07-18:
                      id: chatcmpl-B71qqu4Y7m1ZVuF5YGqxz7LXzgf0Y
                      created: 1741015112
                      object: chat.completion
                      system_fingerprint: fp_7fcd609668
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Arrr, matey! What ye be seein’ in this here image is a grand pathway, made of wooden planks, weavin' its way through a lush and green landscape. The verdant grass sways in the gentle breeze, and the sky above be a brilliant blue, decorated with fluffy white clouds. Ye can spot trees and bushes on either side, makin' it a perfect setting for a stroll amongst nature. A peaceful place for a pirate at heart, aye!
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3692885792
                      edenai_time: null
                      usage:
                        completion_tokens: 99
                        prompt_tokens: 1170
                        total_tokens: 1269
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: 99
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 1024
                          text_tokens: null
                          image_tokens: null
                      service_tier: default
                      cost: 0.0
                    xai/gpt-4o-mini-2024-07-18:
                      id: chatcmpl-B71qqu4Y7m1ZVuF5YGqxz7LXzgf0Y
                      created: 1741015112
                      object: chat.completion
                      system_fingerprint: fp_7fcd609668
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Arrr, matey! What ye be seein’ in this here image is a grand pathway, made of wooden planks, weavin' its way through a lush and green landscape. The verdant grass sways in the gentle breeze, and the sky above be a brilliant blue, decorated with fluffy white clouds. Ye can spot trees and bushes on either side, makin' it a perfect setting for a stroll amongst nature. A peaceful place for a pirate at heart, aye!
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3692885792
                      edenai_time: null
                      usage:
                        completion_tokens: 99
                        prompt_tokens: 1170
                        total_tokens: 1269
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: 99
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 1024
                          text_tokens: null
                          image_tokens: null
                      service_tier: default
                      cost: 0.0
                    databricks/gpt-4o-mini-2024-07-18:
                      id: chatcmpl-B71qqu4Y7m1ZVuF5YGqxz7LXzgf0Y
                      created: 1741015112
                      object: chat.completion
                      system_fingerprint: fp_7fcd609668
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Arrr, matey! What ye be seein’ in this here image is a grand pathway, made of wooden planks, weavin' its way through a lush and green landscape. The verdant grass sways in the gentle breeze, and the sky above be a brilliant blue, decorated with fluffy white clouds. Ye can spot trees and bushes on either side, makin' it a perfect setting for a stroll amongst nature. A peaceful place for a pirate at heart, aye!
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3692885792
                      edenai_time: null
                      usage:
                        completion_tokens: 99
                        prompt_tokens: 1170
                        total_tokens: 1269
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: 99
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 1024
                          text_tokens: null
                          image_tokens: null
                      service_tier: default
                      cost: 0.0
                    perplexityai/gpt-4o-mini-2024-07-18:
                      id: chatcmpl-B71qqu4Y7m1ZVuF5YGqxz7LXzgf0Y
                      created: 1741015112
                      object: chat.completion
                      system_fingerprint: fp_7fcd609668
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Arrr, matey! What ye be seein’ in this here image is a grand pathway, made of wooden planks, weavin' its way through a lush and green landscape. The verdant grass sways in the gentle breeze, and the sky above be a brilliant blue, decorated with fluffy white clouds. Ye can spot trees and bushes on either side, makin' it a perfect setting for a stroll amongst nature. A peaceful place for a pirate at heart, aye!
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3692885792
                      edenai_time: null
                      usage:
                        completion_tokens: 99
                        prompt_tokens: 1170
                        total_tokens: 1269
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: 99
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 1024
                          text_tokens: null
                          image_tokens: null
                      service_tier: default
                      cost: 0.0
                    azure/gpt-4o-mini-2024-07-18:
                      id: chatcmpl-B71qqu4Y7m1ZVuF5YGqxz7LXzgf0Y
                      created: 1741015112
                      object: chat.completion
                      system_fingerprint: fp_7fcd609668
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Arrr, matey! What ye be seein’ in this here image is a grand pathway, made of wooden planks, weavin' its way through a lush and green landscape. The verdant grass sways in the gentle breeze, and the sky above be a brilliant blue, decorated with fluffy white clouds. Ye can spot trees and bushes on either side, makin' it a perfect setting for a stroll amongst nature. A peaceful place for a pirate at heart, aye!
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3692885792
                      edenai_time: null
                      usage:
                        completion_tokens: 99
                        prompt_tokens: 1170
                        total_tokens: 1269
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: 99
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 1024
                          text_tokens: null
                          image_tokens: null
                      service_tier: default
                      cost: 0.0
                    deepinfra/gpt-4o-mini-2024-07-18:
                      id: chatcmpl-B71qqu4Y7m1ZVuF5YGqxz7LXzgf0Y
                      created: 1741015112
                      object: chat.completion
                      system_fingerprint: fp_7fcd609668
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Arrr, matey! What ye be seein’ in this here image is a grand pathway, made of wooden planks, weavin' its way through a lush and green landscape. The verdant grass sways in the gentle breeze, and the sky above be a brilliant blue, decorated with fluffy white clouds. Ye can spot trees and bushes on either side, makin' it a perfect setting for a stroll amongst nature. A peaceful place for a pirate at heart, aye!
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3692885792
                      edenai_time: null
                      usage:
                        completion_tokens: 99
                        prompt_tokens: 1170
                        total_tokens: 1269
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: 99
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 1024
                          text_tokens: null
                          image_tokens: null
                      service_tier: default
                      cost: 0.0
                    nebius/gpt-4o-mini-2024-07-18:
                      id: chatcmpl-B71qqu4Y7m1ZVuF5YGqxz7LXzgf0Y
                      created: 1741015112
                      object: chat.completion
                      system_fingerprint: fp_7fcd609668
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Arrr, matey! What ye be seein’ in this here image is a grand pathway, made of wooden planks, weavin' its way through a lush and green landscape. The verdant grass sways in the gentle breeze, and the sky above be a brilliant blue, decorated with fluffy white clouds. Ye can spot trees and bushes on either side, makin' it a perfect setting for a stroll amongst nature. A peaceful place for a pirate at heart, aye!
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3692885792
                      edenai_time: null
                      usage:
                        completion_tokens: 99
                        prompt_tokens: 1170
                        total_tokens: 1269
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: 99
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 1024
                          text_tokens: null
                          image_tokens: null
                      service_tier: default
                      cost: 0.0
                    ovhcloud/gpt-4o-mini-2024-07-18:
                      id: chatcmpl-B71qqu4Y7m1ZVuF5YGqxz7LXzgf0Y
                      created: 1741015112
                      object: chat.completion
                      system_fingerprint: fp_7fcd609668
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Arrr, matey! What ye be seein’ in this here image is a grand pathway, made of wooden planks, weavin' its way through a lush and green landscape. The verdant grass sways in the gentle breeze, and the sky above be a brilliant blue, decorated with fluffy white clouds. Ye can spot trees and bushes on either side, makin' it a perfect setting for a stroll amongst nature. A peaceful place for a pirate at heart, aye!
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3692885792
                      edenai_time: null
                      usage:
                        completion_tokens: 99
                        prompt_tokens: 1170
                        total_tokens: 1269
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: 99
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 1024
                          text_tokens: null
                          image_tokens: null
                      service_tier: default
                      cost: 0.0
                    fireworks_ai/fireworks_ai/accounts/fireworks/models/minimax-m2p1:
                      id: 92c68e43-c433-4ded-9d2a-e1ad314e34ce
                      created: 1769078717
                      object: chat.completion
                      system_fingerprint: null
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: "Hello! I'm MiniMax-M2.1, nice to meet you! \n\nI'm here and ready to help with whatever you need - whether that's coding, answering questions, brainstorming ideas, writing, analyzing information, or just having a conversation.\n\nWhat can I assist you with today?"
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 5499940850
                      edenai_time: null
                      usage:
                        completion_tokens: 144
                        prompt_tokens: 38
                        total_tokens: 182
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: null
                        prompt_tokens_details:
                          audio_tokens: null
                          cached_tokens: 0
                          text_tokens: null
                          image_tokens: null
                      service_tier: null
                      cost: 0.0
                    lilac/moonshotai/kimi-k2.6:
                      id: chatcmpl-8e650c36-0ac6-4297-be14-05ed2b75c123
                      created: 1779719760
                      object: chat.completion
                      system_fingerprint: null
                      choices:
                      - finish_reason: length
                        index: 0
                        message:
                          content: ' I think you might have my'
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3326167884
                      edenai_time: null
                      usage:
                        completion_tokens: 200
                        prompt_tokens: 17
                        total_tokens: 217
                        completion_tokens_details:
                          accepted_prediction_tokens: null
                          audio_tokens: null
                          reasoning_tokens: 0
                          rejected_prediction_tokens: null
                          text_tokens: null
                        prompt_tokens_details:
                          audio_tokens: null
                          cached_tokens: 0
                          text_tokens: null
                          image_tokens: null
                      service_tier: null
                      cost: 0.0
                    scaleway/moonshotai/kimi-k2.6:
                      id: chatcmpl-8e650c36-0ac6-4297-be14-05ed2b75c123
                      created: 1779719760
                      object: chat.completion
                      system_fingerprint: null
                      choices:
                      - finish_reason: length
                        index: 0
                        message:
                          content: ' I think you might have my'
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3326167884
                      edenai_time: null
                      usage:
                        completion_tokens: 200
                        prompt_tokens: 17
                        total_tokens: 217
                        completion_tokens_details:
                          accepted_prediction_tokens: null
                          audio_tokens: null
                          reasoning_tokens: 0
                          rejected_prediction_tokens: null
                          text_tokens: null
                        prompt_tokens_details:
                          audio_tokens: null
                          cached_tokens: 0
                          text_tokens: null
                          image_tokens: null
                      service_tier: null
                      cost: 0.0
                    compactifai/quasar-438b:
                      id: chatcmpl-7c2a1f04-9b3d-4e6a-8f21-1d5c9a4e2b70
                      created: 1772712000
                      object: chat.completion
                      system_fingerprint: null
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Hello. How can I help you today?
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 31284551200
                      edenai_time: null
                      usage:
                        completion_tokens: 140
                        prompt_tokens: 36
                        total_tokens: 176
                        completion_tokens_details:
                          accepted_prediction_tokens: null
                          audio_tokens: null
                          reasoning_tokens: 130
                          rejected_prediction_tokens: null
                          text_tokens: null
                        prompt_tokens_details:
                          audio_tokens: null
                          cached_tokens: 0
                          text_tokens: null
                          image_tokens: null
                      service_tier: null
                      cost: 0.0
                    google/gpt-4o-mini-2024-07-18:
                      id: chatcmpl-B71qqu4Y7m1ZVuF5YGqxz7LXzgf0Y
                      created: 1741015112
                      object: chat.completion
                      system_fingerprint: fp_7fcd609668
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Arrr, matey! What ye be seein’ in this here image is a grand pathway, made of wooden planks, weavin' its way through a lush and green landscape. The verdant grass sways in the gentle breeze, and the sky above be a brilliant blue, decorated with fluffy white clouds. Ye can spot trees and bushes on either side, makin' it a perfect setting for a stroll amongst nature. A peaceful place for a pirate at heart, aye!
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3692885792
                      edenai_time: null
                      usage:
                        completion_tokens: 99
                        prompt_tokens: 1170
                        total_tokens: 1269
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: 99
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 1024
                          text_tokens: null
                          image_tokens: null
                      service_tier: default
                      cost: 0.0
                    groq/gpt-4o-mini-2024-07-18:
                      id: chatcmpl-B71qqu4Y7m1ZVuF5YGqxz7LXzgf0Y
                      created: 1741015112
                      object: chat.completion
                      system_fingerprint: fp_7fcd609668
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Arrr, matey! What ye be seein’ in this here image is a grand pathway, made of wooden planks, weavin' its way through a lush and green landscape. The verdant grass sways in the gentle breeze, and the sky above be a brilliant blue, decorated with fluffy white clouds. Ye can spot trees and bushes on either side, makin' it a perfect setting for a stroll amongst nature. A peaceful place for a pirate at heart, aye!
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3692885792
                      edenai_time: null
                      usage:
                        completion_tokens: 99
                        prompt_tokens: 1170
                        total_tokens: 1269
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: 99
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 1024
                          text_tokens: null
                          image_tokens: null
                      service_tier: default
                      cost: 0.0
                    cloudflare/cloudflare/@cf/meta/llama-2-7b-chat-fp16:
                      id: chatcmpl-40da733f-4466-470d-85aa-575cf1b58abd
                      created: 1769088979
                      object: chat.completion
                      system_fingerprint: null
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: '  Hello! It''s nice to meet you. Is there something I can help you with or would you like to chat?'
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 2623900184
                      edenai_time: null
                      usage:
                        completion_tokens: 25
                        prompt_tokens: 10
                        total_tokens: 35
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: null
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 0
                          text_tokens: null
                          image_tokens: null
                      service_tier: null
                      cost: 0.0
                    meta/gpt-4o-mini-2024-07-18:
                      id: chatcmpl-B71qqu4Y7m1ZVuF5YGqxz7LXzgf0Y
                      created: 1741015112
                      object: chat.completion
                      system_fingerprint: fp_7fcd609668
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Arrr, matey! What ye be seein’ in this here image is a grand pathway, made of wooden planks, weavin' its way through a lush and green landscape. The verdant grass sways in the gentle breeze, and the sky above be a brilliant blue, decorated with fluffy white clouds. Ye can spot trees and bushes on either side, makin' it a perfect setting for a stroll amongst nature. A peaceful place for a pirate at heart, aye!
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3692885792
                      edenai_time: null
                      usage:
                        completion_tokens: 99
                        prompt_tokens: 1170
                        total_tokens: 1269
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: 99
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 1024
                          text_tokens: null
                          image_tokens: null
                      service_tier: default
                      cost: 0.0
                    deepseek/gpt-4o-mini-2024-07-18:
                      id: chatcmpl-B71qqu4Y7m1ZVuF5YGqxz7LXzgf0Y
                      created: 1741015112
                      object: chat.completion
                      system_fingerprint: fp_7fcd609668
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Arrr, matey! What ye be seein’ in this here image is a grand pathway, made of wooden planks, weavin' its way through a lush and green landscape. The verdant grass sways in the gentle breeze, and the sky above be a brilliant blue, decorated with fluffy white clouds. Ye can spot trees and bushes on either side, makin' it a perfect setting for a stroll amongst nature. A peaceful place for a pirate at heart, aye!
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3692885792
                      edenai_time: null
                      usage:
                        completion_tokens: 99
                        prompt_tokens: 1170
                        total_tokens: 1269
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: 99
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 1024
                          text_tokens: null
                          image_tokens: null
                      service_tier: default
                      cost: 0.0
                    vertex/gpt-4o-mini-2024-07-18:
                      id: chatcmpl-B71qqu4Y7m1ZVuF5YGqxz7LXzgf0Y
                      created: 1741015112
                      object: chat.completion
                      system_fingerprint: fp_7fcd609668
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Arrr, matey! What ye be seein’ in this here image is a grand pathway, made of wooden planks, weavin' its way through a lush and green landscape. The verdant grass sways in the gentle breeze, and the sky above be a brilliant blue, decorated with fluffy white clouds. Ye can spot trees and bushes on either side, makin' it a perfect setting for a stroll amongst nature. A peaceful place for a pirate at heart, aye!
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3692885792
                      edenai_time: null
                      usage:
                        completion_tokens: 99
                        prompt_tokens: 1170
                        total_tokens: 1269
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: 99
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 1024
                          text_tokens: null
                          image_tokens: null
                      service_tier: default
                      cost: 0.0
                    mistral/gpt-4o-mini-2024-07-18:
                      id: chatcmpl-B71qqu4Y7m1ZVuF5YGqxz7LXzgf0Y
                      created: 1741015112
                      object: chat.completion
                      system_fingerprint: fp_7fcd609668
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Arrr, matey! What ye be seein’ in this here image is a grand pathway, made of wooden planks, weavin' its way through a lush and green landscape. The verdant grass sways in the gentle breeze, and the sky above be a brilliant blue, decorated with fluffy white clouds. Ye can spot trees and bushes on either side, makin' it a perfect setting for a stroll amongst nature. A peaceful place for a pirate at heart, aye!
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3692885792
                      edenai_time: null
                      usage:
                        completion_tokens: 99
                        prompt_tokens: 1170
                        total_tokens: 1269
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: 99
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 1024
                          text_tokens: null
                          image_tokens: null
                      service_tier: default
                      cost: 0.0
                    amazon/gpt-4o-mini-2024-07-18:
                      id: chatcmpl-B71qqu4Y7m1ZVuF5YGqxz7LXzgf0Y
                      created: 1741015112
                      object: chat.completion
                      system_fingerprint: fp_7fcd609668
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Arrr, matey! What ye be seein’ in this here image is a grand pathway, made of wooden planks, weavin' its way through a lush and green landscape. The verdant grass sways in the gentle breeze, and the sky above be a brilliant blue, decorated with fluffy white clouds. Ye can spot trees and bushes on either side, makin' it a perfect setting for a stroll amongst nature. A peaceful place for a pirate at heart, aye!
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3692885792
                      edenai_time: null
                      usage:
                        completion_tokens: 99
                        prompt_tokens: 1170
                        total_tokens: 1269
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: 99
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 1024
                          text_tokens: null
                          image_tokens: null
                      service_tier: default
                      cost: 0.0
                    microsoft/gpt-4o-mini-2024-07-18:
                      id: chatcmpl-B71qqu4Y7m1ZVuF5YGqxz7LXzgf0Y
                      created: 1741015112
                      object: chat.completion
                      system_fingerprint: fp_7fcd609668
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Arrr, matey! What ye be seein’ in this here image is a grand pathway, made of wooden planks, weavin' its way through a lush and green landscape. The verdant grass sways in the gentle breeze, and the sky above be a brilliant blue, decorated with fluffy white clouds. Ye can spot trees and bushes on either side, makin' it a perfect setting for a stroll amongst nature. A peaceful place for a pirate at heart, aye!
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3692885792
                      edenai_time: null
                      usage:
                        completion_tokens: 99
                        prompt_tokens: 1170
                        total_tokens: 1269
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: 99
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 1024
                          text_tokens: null
                          image_tokens: null
                      service_tier: default
                      cost: 0.0
                    moonshot/moonshot/kimi-k2-0905-preview:
                      id: chatcmpl-6f0c1d5a-2b47-4e0e-9c2a-1f7d3a9b8e10
                      created: 1769086004
                      object: chat.completion
                      system_fingerprint: null
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Hello. How can I help you today?
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 468793209
                      edenai_time: null
                      usage:
                        completion_tokens: 10
                        prompt_tokens: 36
                        total_tokens: 46
                        completion_tokens_details:
                          accepted_prediction_tokens: null
                          audio_tokens: null
                          reasoning_tokens: 0
                          rejected_prediction_tokens: null
                          text_tokens: null
                        prompt_tokens_details:
                          audio_tokens: null
                          cached_tokens: 0
                          text_tokens: null
                          image_tokens: null
                      service_tier: null
                      cost: 0.0
                    flexai/Meta-Llama-3.1-8B-Instruct-FP8:
                      id: chatcmpl-9f3e1c62-4d51-4bd7-9c1c-2a5b7e3f9a41
                      created: 1769086500
                      object: chat.completion
                      system_fingerprint: null
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Hello. How can I help you today?
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 512438901
                      edenai_time: null
                      usage:
                        completion_tokens: 10
                        prompt_tokens: 36
                        total_tokens: 46
                        completion_tokens_details:
                          accepted_prediction_tokens: null
                          audio_tokens: null
                          reasoning_tokens: 0
                          rejected_prediction_tokens: null
                          text_tokens: null
                        prompt_tokens_details:
                          audio_tokens: null
                          cached_tokens: 0
                          text_tokens: null
                          image_tokens: null
                      service_tier: null
                      cost: 0.0
                    infomaniak/llama3.3:
                      id: chatcmpl-4c6e8f0a-2b3d-4e5f-9a0b-5c7d9e1f3a4b
                      created: 1769086800
                      object: chat.completion
                      system_fingerprint: null
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Hello. How can I help you today?
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 492731085
                      edenai_time: null
                      usage:
                        completion_tokens: 10
                        prompt_tokens: 36
                        total_tokens: 46
                        completion_tokens_details:
                          accepted_prediction_tokens: null
                          audio_tokens: null
                          reasoning_tokens: 0
                          rejected_prediction_tokens: null
                          text_tokens: null
                        prompt_tokens_details:
                          audio_tokens: null
                          cached_tokens: 0
                          text_tokens: null
                          image_tokens: null
                      service_tier: null
                      cost: 0.0
                    ionos/meta-llama/Meta-Llama-3.1-8B-Instruct:
                      id: chatcmpl-5b7e0f2a-9d34-4c8a-8e2b-6c1f4a3d9e07
                      created: 1769086600
                      object: chat.completion
                      system_fingerprint: null
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Hello. How can I help you today?
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 487213902
                      edenai_time: null
                      usage:
                        completion_tokens: 10
                        prompt_tokens: 36
                        total_tokens: 46
                        completion_tokens_details:
                          accepted_prediction_tokens: null
                          audio_tokens: null
                          reasoning_tokens: 0
                          rejected_prediction_tokens: null
                          text_tokens: null
                        prompt_tokens_details:
                          audio_tokens: null
                          cached_tokens: 0
                          text_tokens: null
                          image_tokens: null
                      service_tier: null
                      cost: 0.0
                    xiaomi/gpt-4o-mini-2024-07-18:
                      id: chatcmpl-B71qqu4Y7m1ZVuF5YGqxz7LXzgf0Y
                      created: 1741015112
                      object: chat.completion
                      system_fingerprint: fp_7fcd609668
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Arrr, matey! What ye be seein’ in this here image is a grand pathway, made of wooden planks, weavin' its way through a lush and green landscape. The verdant grass sways in the gentle breeze, and the sky above be a brilliant blue, decorated with fluffy white clouds. Ye can spot trees and bushes on either side, makin' it a perfect setting for a stroll amongst nature. A peaceful place for a pirate at heart, aye!
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3692885792
                      edenai_time: null
                      usage:
                        completion_tokens: 99
                        prompt_tokens: 1170
                        total_tokens: 1269
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: 99
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 1024
                          text_tokens: null
                          image_tokens: null
                      service_tier: default
                      cost: 0.0
                    zai/gpt-4o-mini-2024-07-18:
                      id: chatcmpl-B71qqu4Y7m1ZVuF5YGqxz7LXzgf0Y
                      created: 1741015112
                      object: chat.completion
                      system_fingerprint: fp_7fcd609668
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Arrr, matey! What ye be seein’ in this here image is a grand pathway, made of wooden planks, weavin' its way through a lush and green landscape. The verdant grass sways in the gentle breeze, and the sky above be a brilliant blue, decorated with fluffy white clouds. Ye can spot trees and bushes on either side, makin' it a perfect setting for a stroll amongst nature. A peaceful place for a pirate at heart, aye!
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 3692885792
                      edenai_time: null
                      usage:
                        completion_tokens: 99
                        prompt_tokens: 1170
                        total_tokens: 1269
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                          text_tokens: 99
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 1024
                          text_tokens: null
                          image_tokens: null
                      service_tier: default
                      cost: 0.0
                    cerebras/cerebras/llama-3.3-70b:
                      id: chatcmpl-b4b7664b-325f-43d9-95a8-b94028c0d9f7
                      created: 1769086004
                      object: chat.completion
                      system_fingerprint: fp_e6a9e35b42fe424f8074
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Hello. How can I help you today?
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 468793209
                      edenai_time: null
                      usage:
                        completion_tokens: 10
                        prompt_tokens: 36
                        total_tokens: 46
                        completion_tokens_details:
                          accepted_prediction_tokens: null
                          audio_tokens: null
                          reasoning_tokens: 0
                          rejected_prediction_tokens: null
                          text_tokens: null
                        prompt_tokens_details:
                          audio_tokens: null
                          cached_tokens: 0
                          text_tokens: null
                          image_tokens: null
                      service_tier: null
                      cost: 0.0
                    tensorx/moonshotai/kimi-k3:
                      id: 224be80b91b545f88371ca79693f4030
                      created: 1786913673
                      object: chat.completion
                      system_fingerprint: null
                      choices:
                      - finish_reason: stop
                        index: 0
                        message:
                          content: Hello! I’m doing well, thank you. How are you today?
                          role: assistant
                          tool_calls: null
                          function_call: null
                      provider_time: 1952078236
                      edenai_time: null
                      usage:
                        completion_tokens: 50
                        prompt_tokens: 129
                        total_tokens: 179
                        completion_tokens_details:
                          accepted_prediction_tokens: null
                          audio_tokens: null
                          reasoning_tokens: 25
                          rejected_prediction_tokens: null
                          text_tokens: 25
                        prompt_tokens_details:
                          audio_tokens: null
                          cached_tokens: null
                          text_tokens: null
                          image_tokens: null
                      service_tier: null
                      cost: 0.0
                  summary: Response Example
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: ''
    servers:
    - url: https://api.edenai.run/v2
  /multimodal/chat/:
    post:
      operationId: multimodal_multimodal_chat_create
      description: 'Available Providers


        |Provider|Model|Version|Price|Billing unit|

        |----|----|-------|-----|------------|

        |**anthropic**|**claude-3-5-haiku-latest**|`bedrock-2023-05-31`|4.0 (per 1000000 token)|1 token

        |**anthropic**|-|`bedrock-2023-05-31`|15.0 (per 1000000 token)|1 token

        |**anthropic**|**claude-3-7-sonnet-20250219**|`bedrock-2023-05-31`|15.0 (per 1000000 token)|1 token

        |**google**|**gemini-1.5-flash**|`v1`|0.6 (per 1000000 token)|1 token

        |**google**|**gemini-1.5-pro**|`v1`|10.0 (per 1000000 token)|1 token

        |**google**|**gemini-1.5-flash-latest**|`v1`|0.6 (per 1000000 token)|1 token

        |**google**|-|`v1`|0.6 (per 1000000 token)|1 token

        |**google**|**gemini-2.0-flash-lite**|`v1`|0.3 (per 1000000 token)|1 token

        |**google**|**gemini-2.5-flash**|`v1`|2.5 (per 1000000 token)|1 token

        |**google**|**gemini-3-pro-preview**|`v1`|18.0 (per 1000000 token)|1 token

        |**google**|**gemini-2.0-flash**|`v1`|0.4 (per 1000000 token)|1 token

        |**google**|**gemini-2.5-pro**|`v1`|15.0 (per 1000000 token)|1 token

        |**google**|**gemini-2.5-pro-preview-03-25**|`v1`|15.0 (per 1000000 token)|1 token

        |**google**|**gemini-1.5-pro-latest**|`v1`|10.0 (per 1000000 token)|1 token

        |**google**|**gemini-2.0-flash-exp**|`v1`|10.0 (per 1000000 token)|1 token

        |**google**|**gemini-2.5-pro-exp-03-25**|`v1`|0.0 (per 1000000 token)|1 token

        |**openai**|**o1**|`v1Beta`|60.0 (per 1000000 token)|1 token

        |**openai**|**gpt-4o**|`v1Beta`|10.0 (per 1000000 token)|1 token

        |**openai**|**gpt-4-turbo**|`v1Beta`|30.0 (per 1000000 token)|1 token

        |**openai**|-|`v1Beta`|10.0 (per 1000000 token)|1 token

        |**openai**|**gpt-4.1-2025-04-14**|`v1Beta`|8.0 (per 1000000 token)|1 token

        |**openai**|**gpt-4.1-mini-2025-04-14**|`v1Beta`|1.6 (per 1000000 token)|1 token

        |**openai**|**gpt-4.1-nano-2025-04-14**|`v1Beta`|0.4 (per 1000000 token)|1 token

        |**openai**|**gpt-4o-mini**|`v1Beta`|0.6 (per 1000000 token)|1 token

        |**openai**|**gpt-5.2**|`v1Beta`|14.0 (per 1000000 token)|1 token

        |**openai**|**gpt-5**|`v1Beta`|10.0 (per 1000000 token)|1 token

        |**openai**|**gpt-5-mini**|`v1Beta`|2.0 (per 1000000 token)|1 token

        |**openai**|**gpt-5-nano**|`v1Beta`|0.4 (per 1000000 token)|1 token

        |**openai**|**gpt-5-chat-latest**|`v1Beta`|10.0 (per 1000000 token)|1 token

        |**openai**|**o1-mini**|`v1Beta`|12.0 (per 1000000 token)|1 token

        |**openai**|**o1-2024-12-17**|`v1Beta`|60.0 (per 1000000 token)|1 token

        |**xai**|-|`v1`|10.0 (per 1000000 token)|1 token

        |**xai**|**grok-2-vision**|`v1`|10.0 (per 1000000 token)|1 token

        |**xai**|**grok-2-vision-latest**|`v1`|10.0 (per 1000000 token)|1 token

        |**xai**|**grok-2-vision-1212**|`v1`|10.0 (per 1000000 token)|1 token

        |**amazon**|-|`boto3 (v1.29.6)`|3.2 (per 1000000 token)|1 token

        |**amazon**|**amazon.nova-pro-v1:0**|`boto3 (v1.29.6)`|3.2 (per 1000000 token)|1 token

        |**mistral**|-|`v0.0.1`|6.0 (per 1000000 token)|1 token

        |**mistral**|**pixtral-large-latest**|`v0.0.1`|6.0 (per 1000000 token)|1 token

        |**microsoft**|**gpt-4o**|`Azure AI Foundry`|15.0 (per 1000000 token)|1 token


        Supported Models


        Default Models


        |Name|Value|

        |----|-----|

        |**anthropic**|`claude-3-5-sonnet-latest`|

        |**google**|`gemini-2.0-flash`|

        |**openai**|`gpt-4o`|

        |**xai**|`grok-2-vision-latest`|

        |**amazon**|`amazon.nova-pro-v1:0`|

        |**mistral**|`pixtral-large-latest`|

        |**microsoft**|`gpt-4o`|'
      summary: Chat
      tags:
      - Chat
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/multimodalchatChatRequest'
            examples:
              RequestExample:
                value:
                  providers: google,microsoft,openai,anthropic,xai,amazon,mistral
                  messages:
                  - role: user
                    content:
                    - type: text
                      content:
                        text: 'Describe this image please ! '
                    - type: media_url
                      content:
                        media_url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg
                        media_type: image/jpeg
                  chatbot_global_action: ''
                  temperature: 0
                  max_tokens: 200
                  stop_sequences: []
                  top_k: 0
                  top_p: 0
                summary: Request Example
        required: true
      security:
      - FeatureApiAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/multimodalchatResponseModel'
              examples:
                ResponseExample:
                  value:
                    google:
                      generated_text: 'Ahoy, matey!  Shiver me timbers, that there''s a picture of a fine wooden boardwalk cuttin'' through a field o'' tall, green grass under a sky as blue as a mermaid''s eye!  The sun be shinin'' bright, and there ain''t a cloud in sight, except for a few fluffy ones driftin'' lazily about.  Looks like a peaceful spot fer a stroll, aye?  Avast ye, and enjoy the view!

                        '
                      messages:
                      - role: user
                        content:
                        - type: text
                          content:
                            media_url: null
                            media_base64: null
                            text: 'Describe this image please ! '
                            media_type: null
                        - type: media_url
                          content:
                            media_url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg
                            media_base64: null
                            text: null
                            media_type: image/jpeg
                      - role: assistant
                        content:
                        - type: text
                          content:
                            media_url: null
                            media_base64: null
                            text: 'Ahoy, matey!  Shiver me timbers, that there''s a picture of a fine wooden boardwalk cuttin'' through a field o'' tall, green grass under a sky as blue as a mermaid''s eye!  The sun be shinin'' bright, and there ain''t a cloud in sight, except for a few fluffy ones driftin'' lazily about.  Looks like a peaceful spot fer a stroll, aye?  Avast ye, and enjoy the view!

                              '
                            media_type: null
                      usage:
                        completion_tokens: 101
                        prompt_tokens: 270
                        total_tokens: 371
                        completion_tokens_details: null
                        prompt_tokens_details: null
                      cost: 0.0
                    microsoft:
                      generated_text: Arrr, matey! What we have here be a fine scene of nature's bounty! A wooden plank path stretches straight ahead, leadin' through a lush green meadow filled with tall grass swayin' in the gentle breeze. The sky above be painted with a brilliant blue, streaked with soft, wispy clouds, as if the heavens themselves be smilin' down on this tranquil land. In the distance, ye can spy a line of trees and bushes, addin' depth to this peaceful landscape. Aye, 'tis a place where a pirate might rest his weary bones and dream of treasure!
                      messages:
                      - role: user
                        content:
                        - type: text
                          content:
                            media_url: null
                            media_base64: null
                            text: 'Describe this image please ! '
                            media_type: null
                        - type: media_url
                          content:
                            media_url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg
                            media_base64: null
                            text: null
                            media_type: image/jpeg
                      - role: assistant
                        content:
                        - type: text
                          content:
                            media_url: null
                            media_base64: null
                            text: Arrr, matey! What we have here be a fine scene of nature's bounty! A wooden plank path stretches straight ahead, leadin' through a lush green meadow filled with tall grass swayin' in the gentle breeze. The sky above be painted with a brilliant blue, streaked with soft, wispy clouds, as if the heavens themselves be smilin' down on this tranquil land. In the distance, ye can spy a line of trees and bushes, addin' depth to this peaceful landscape. Aye, 'tis a place where a pirate might rest his weary bones and dream of treasure!
                            media_type: null
                      usage:
                        completion_tokens: 124
                        prompt_tokens: 930
                        total_tokens: 1054
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 0
                      cost: 0.0
                    openai:
                      generated_text: Ahoy! What we have here be a splendid vista, me hearty! A wooden plank path cuts through a sea of lush green grass, leading ye towards the horizon under a sky painted with soft clouds. The land be flanked by wild shrubbery and trees, a true haven for any landlubber or pirate lookin' for a bit o' peace away from the roarin' seas. It's a fine day with the sun shinin' bright, makin' the greens look vibrant and the path invitin' for a leisurely stroll or a treasure hunt, should ye be so inclined!
                      messages:
                      - role: user
                        content:
                        - type: text
                          content:
                            media_url: null
                            media_base64: null
                            text: 'Describe this image please ! '
                            media_type: null
                        - type: media_url
                          content:
                            media_url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg
                            media_base64: null
                            text: null
                            media_type: image/jpeg
                      - role: assistant
                        content:
                        - type: text
                          content:
                            media_url: null
                            media_base64: null
                            text: Ahoy! What we have here be a splendid vista, me hearty! A wooden plank path cuts through a sea of lush green grass, leading ye towards the horizon under a sky painted with soft clouds. The land be flanked by wild shrubbery and trees, a true haven for any landlubber or pirate lookin' for a bit o' peace away from the roarin' seas. It's a fine day with the sun shinin' bright, makin' the greens look vibrant and the path invitin' for a leisurely stroll or a treasure hunt, should ye be so inclined!
                            media_type: null
                      usage:
                        completion_tokens: 124
                        prompt_tokens: 1094
                        total_tokens: 1218
                        completion_tokens_details:
                          accepted_prediction_tokens: 0
                          audio_tokens: 0
                          reasoning_tokens: 0
                          rejected_prediction_tokens: 0
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 0
                      cost: 0.0
                    anthropic:
                      generated_text: "Arrr matey! Feast yer eyes on this magnificent sight! \n\n'Tis a wooden boardwalk, straight as an arrow, cuttin' through a sea of emerald grass that be swayin' in the breeze like waves on the ocean! The planks be weathered and gray, just like me old ship's deck, stretching far into the distance.\n\nAbove, the sky be a brilliant blue, with wispy white clouds sailin' across it like ghost ships on the horizon. The sunlight be makin' the grass glow like treasure, and off in the distance, ye can spot trees standin' guard like silent sentinels.\n\nThis here path would make for a fine walk for any landlubber, though it ain't quite as excitin' as walkin' the plank on me ship! The marsh grass be tall and thick on both sides, remindin' me of the reeds"
                      messages:
                      - role: user
                        content:
                        - type: text
                          content:
                            media_url: null
                            media_base64: null
                            text: 'Describe this image please ! '
                            media_type: null
                        - type: media_url
                          content:
                            media_url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg
                            media_base64: null
                            text: null
                            media_type: image/jpeg
                      - role: assistant
                        content:
                        - type: text
                          content:
                            media_url: null
                            media_base64: null
                            text: "Arrr matey! Feast yer eyes on this magnificent sight! \n\n'Tis a wooden boardwalk, straight as an arrow, cuttin' through a sea of emerald grass that be swayin' in the breeze like waves on the ocean! The planks be weathered and gray, just like me old ship's deck, stretching far into the distance.\n\nAbove, the sky be a brilliant blue, with wispy white clouds sailin' across it like ghost ships on the horizon. The sunlight be makin' the grass glow like treasure, and off in the distance, ye can spot trees standin' guard like silent sentinels.\n\nThis here path would make for a fine walk for any landlubber, though it ain't quite as excitin' as walkin' the plank on me ship! The marsh grass be tall and thick on both sides, remindin' me of the reeds"
                            media_type: null
                      usage:
                        completion_tokens: 200
                        prompt_tokens: 1590
                        total_tokens: 1790
                        completion_tokens_details: null
                        prompt_tokens_details:
                          audio_tokens: null
                          cached_tokens: 0
                        cache_creation_input_tokens: 0
                        cache_read_input_tokens: 0
                      cost: 0.0
                    xai:
                      generated_text: Arrr, matey! This here be a fine image o' a wooden boardwalk stretchin' out into a vast sea o' green grass, leadin' ye towards the horizon. The sky above be a brilliant blue, dotted with fluffy white clouds, like sails on the high seas. The path be straight and true, invitin' ye to walk the plank into the heart o' this lush meadow. Aye, 'tis a peaceful sight, perfect fer a pirate lookin' fer a bit o' tranquility on land!
                      messages:
                      - role: user
                        content:
                        - type: text
                          content:
                            media_url: null
                            media_base64: null
                            text: 'Describe this image please ! '
                            media_type: null
                        - type: media_url
                          content:
                            media_url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg
                            media_base64: null
                            text: null
                            media_type: image/jpeg
                      - role: assistant
                        content:
                        - type: text
                          content:
                            media_url: null
                            media_base64: null
                            text: Arrr, matey! This here be a fine image o' a wooden boardwalk stretchin' out into a vast sea o' green grass, leadin' ye towards the horizon. The sky above be a brilliant blue, dotted with fluffy white clouds, like sails on the high seas. The path be straight and true, invitin' ye to walk the plank into the heart o' this lush meadow. Aye, 'tis a peaceful sight, perfect fer a pirate lookin' fer a bit o' tranquility on land!
                            media_type: null
                      usage:
                        completion_tokens: 109
                        prompt_tokens: 277
                        total_tokens: 386
                        completion_tokens_details: null
                        prompt_tokens_details:
                          audio_tokens: 0
                          cached_tokens: 0
                      cost: 0.0
                    amazon:
                      generated_text: 'Ahoy, matey! Shiver me timbers, what a sight for these ol'' pirate eyes!


                        Ye be lookin'' at a right fine stretch o'' land, as green as the emerald seas! There be a wooden walkway, straight as an arrow, cuttin'' through a sea o'' tall grass that''d tickle yer chin if ye were standin'' in it.


                        The sky above, she''s a beauty! Blue as a sapphire with wispy white clouds stretchin'' across like sails on the horizon. Ye can almost feel the warm breeze blowin'' through yer whiskers.


                        Off in the distance, ye can spy some trees standin'' tall, like a crew of landlubbers waitin'' to greet ye at the end of yer journey. The whole scene be as peaceful as a calm day at sea, with nary a storm cloud in sight.


                        This'
                      messages:
                      - role: user
                        content:
                        - type: text
                          content:
                            media_url: null
                            media_base64: null
                            text: 'Describe this image please ! '
                            media_type: null
                        - type: media_url
                          content:
                            media_url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg
                            media_base64: null
                            text: null
                            media_type: image/jpeg
                      - role: assistant
                        content:
                        - type: text
                          content:
                            media_url: null
                            media_base64: null
                            text: 'Ahoy, matey! Shiver me timbers, what a sight for these ol'' pirate eyes!


                              Ye be lookin'' at a right fine stretch o'' land, as green as the emerald seas! There be a wooden walkway, straight as an arrow, cuttin'' through a sea o'' tall grass that''d tickle yer chin if ye were standin'' in it.


                              The sky above, she''s a beauty! Blue as a sapphire with wispy white clouds stretchin'' across like sails on the horizon. Ye can almost feel the warm breeze blowin'' through yer whiskers.


                              Off in the distance, ye can spy some trees standin'' tall, like a crew of landlubbers waitin'' to greet ye at the end of yer journey. The whole scene be as peaceful as a calm day at sea, with nary a storm cloud in sight.


                              This'
                            media_type: null
                      usage:
                        completion_tokens: 200
                        prompt_tokens: 1590
                        total_tokens: 1790
                        completion_tokens_details: null
                        prompt_tokens_details: null
                      cost: 0.0
                    mistral:
                      generated_text: Arr matey, this here image be a sight for sore eyes! It shows a wooden plank walkway, stretchin' into the horizon, invitin' us to explore what lies beyond. The path be flanked by tall, green grasses, swayin' gently in the breeze. The sky above be a clear blue, with wisps of clouds scattered about, like a hidden treasure map. In the distance, ye can see a line of trees standin' tall and proud, guardin' the secrets of the land. The sun be castin' a warm glow over the scene, makin' it feel like a true paradise. It be a perfect place to bury some treasure, savvy?
                      messages:
                      - role: user
                        content:
                        - type: text
                          content:
                            media_url: null
                            media_base64: null
                            text: 'Describe this image please ! '
                            media_type: null
                        - type: media_url
                          content:
                            media_url: https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/Gfp-wisconsin-madison-the-nature-boardwalk.jpg/2560px-Gfp-wisconsin-madison-the-nature-boardwalk.jpg
                            media_base64: null
                            text: null
                            media_type: image/jpeg
                      - role: assistant
                        content:
                        - type: text
                          content:
                            media_url: null
                            media_base64: null
                            text: Arr matey, this here image be a sight for sore eyes! It shows a wooden plank walkway, stretchin' into the horizon, invitin' us to explore what lies beyond. The path be flanked by tall, green grasses, swayin' gently in the breeze. The sky above be a clear blue, with wisps of clouds scattered about, like a hidden treasure map. In the distance, ye can see a line of trees standin' tall and proud, guardin' the secrets of the land. The sun be castin' a warm glow over the scene, makin' it feel like a true paradise. It be a perfect place to bury some treasure, savvy?
                            media_type: null
                      usage:
                        completion_tokens: 149
                        prompt_tokens: 2746
                        total_tokens: 2895
                        completion_tokens_details: null
                        prompt_tokens_details: null
                      cost: 0.0
                  summary: Response Example
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadRequest'
          description: ''
        '500':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundResponse'
          description: ''
    servers:
    - url: https://api.edenai.run/v2
  /text/chat/:
    post:
      operationId: text_chat_create
      description: 'Available Providers


        |Provider|Model|Version|Price|Billing unit|

        |----|----|-------|-----|------------|

        |**openai**|**o3-mini**|`v1Beta`|4.4e-06 (per 1 token)|1 token

        |**openai**|**gpt-4.1-2025-04-14**|`v1Beta`|8e-06 (per 1 token)|1 token

        |**openai**|**gpt-4.1-nano-2025-04-14**|`v1Beta`|4e-07 (per 1 token)|1 token

        |**openai**|**gpt-4o-mini**|`v1Beta`|6e-07 (per 1 token)|1 token

        |**openai**|-|`v1Beta`|10.0 (per 1000000 token)|1 token

        |**openai**|**o1-preview**|`v1Beta`|6e-05 (per 1 token)|1 token

        |**openai**|**o1-mini**|`v1Beta`|4.4e-06 (per 1 token)|1 token

        |**openai**|**gpt-4o-2024-05-13**|`v1Beta`|1.5e-05 (per 1 token)|1 token

        |**openai**|**gpt-5**|`v1Beta`|1e-05 (per 1 token)|1 token

        |**openai**|**gpt-5-chat-latest**|`v1Beta`|1e-05 (per 1 token)|1 token

        |**openai**|**gpt-5-mini**|`v1Beta`|2e-06 (per 1 token)|1 token

        |**openai**|**gpt-5-nano**|`v1Beta`|4e-07 (per 1 token)|1 token

        |**openai**|**gpt-4-turbo**|`v1Beta`|3e-05 (per 1 token)|1 token

        |**openai**|**o1-2024-12-17**|`v1Beta`|6e-05 (per 1 token)|1 token

        |**openai**|**gpt-5.2**|`v1Beta`|1.4e-05 (per 1 token)|1 token

        |**openai**|**chatgpt-4o-latest**|`v1Beta`|1.5e-05 (per 1 token)|1 token

        |**openai**|**gpt-3.5-turbo**|`v1Beta`|1.5e-06 (per 1 token)|1 token

        |**openai**|**gpt-3.5-turbo-0125**|`v1Beta`|1.5e-06 (per 1 token)|1 token

        |**openai**|**gpt-3.5-turbo-0301**|`v1Beta`|2e-06 (per 1 token)|1 token

        |**openai**|**gpt-3.5-turbo-0613**|`v1Beta`|2e-06 (per 1 token)|1 token

        |**openai**|**gpt-3.5-turbo-1106**|`v1Beta`|2e-06 (per 1 token)|1 token

        |**openai**|**gpt-3.5-turbo-16k**|`v1Beta`|4e-06 (per 1 token)|1 token

        |**openai**|**gpt-3.5-turbo-16k-0613**|`v1Beta`|4e-06 (per 1 token)|1 token

        |**openai**|**gpt-4**|`v1Beta`|6e-05 (per 1 token)|1 token

        |**openai**|**gpt-4-0125-preview**|`v1Beta`|3e-05 (per 1 token)|1 token

        |**openai**|**gpt-4-0314**|`v1Beta`|6e-05 (per 1 token)|1 token

        |**openai**|**gpt-4-0613**|`v1Beta`|6e-05 (per 1 token)|1 token

        |**openai**|**gpt-4-1106-preview**|`v1Beta`|3e-05 (per 1 token)|1 token

        |**openai**|**gpt-4-1106-vision-preview**|`v1Beta`|3e-05 (per 1 token)|1 token

        |**openai**|**gpt-4-32k**|`v1Beta`|0.00012 (per 1 token)|1 token

        |**openai**|**gpt-4-32k-0314**|`v1Beta`|0.00012 (per 1 token)|1 token

        |**openai**|**gpt-4-32k-0613**|`v1Beta`|0.00012 (per 1 token)|1 token

        |**openai**|**gpt-4-turbo-2024-04-09**|`v1Beta`|3e-05 (per 1 token)|1 token

        |**openai**|**gpt-4-turbo-preview**|`v1Beta`|3e-05 (per 1 token)|1 token

        |**openai**|**gpt-4-vision-preview**|`v1Beta`|3e-05 (per 1 token)|1 token

        |**openai**|**gpt-4.1**|`v1Beta`|8e-06 (per 1 token)|1 token

        |**openai**|**gpt-4.1-mini**|`v1Beta`|1.6e-06 (per 1 token)|1 token

        |**openai**|**gpt-4.1-mini-2025-04-14**|`v1Beta`|1.6e-06 (per 1 token)|1 token

        |**openai**|**gpt-4.1-nano**|`v1Beta`|4e-07 (per 1 token)|1 token

        |**openai**|**gpt-4.5-preview**|`v1Beta`|0.00015 (per 1 token)|1 token

        |**openai**|**gpt-4.5-preview-2025-02-27**|`v1Beta`|0.00015 (per 1 token)|1 token

        |**openai**|**gpt-4o**|`v1Beta`|1e-05 (per 1 token)|1 token

        |**openai**|**gpt-4o-2024-08-06**|`v1Beta`|1e-05 (per 1 token)|1 token

        |**openai**|**gpt-4o-2024-11-20**|`v1Beta`|1e-05 (per 1 token)|1 token

        |**openai**|**gpt-4o-audio-preview**|`v1Beta`|1e-05 (per 1 token)|1 token

        |**openai**|**gpt-4o-audio-preview-2024-10-01**|`v1Beta`|1e-05 (per 1 token)|1 token

        |**openai**|**gpt-4o-audio-preview-2024-12-17**|`v1Beta`|1e-05 (per 1 token)|1 token

        |**openai**|**gpt-4o-audio-preview-2025-06-03**|`v1Beta`|1e-05 (per 1 token)|1 token

        |**openai**|**gpt-4o-mini-2024-07-18**|`v1Beta`|6e-07 (per 1 token)|1 token

        |**openai**|**gpt-4o-mini-audio-preview**|`v1Beta`|6e-07 (per 1 token)|1 token

        |**openai**|**gpt-4o-mini-audio-preview-2024-12-17**|`v1Beta`|6e-07 (per 1 token)|1 token

        |**openai**|**gpt-4o-mini-realtime-preview**|`v1Beta`|2.4e-06 (per 1 token)|1 token

        |**openai**|**gpt-4o-mini-realtime-preview-2024-12-17**|`v1Beta`|2.4e-06 (per 1 token)|1 token

        |**openai**|**gpt-4o-mini-search-preview**|`v1Beta`|6e-07 (per 1 token)|1…'
      summary: Chat
      tags:
      - Chat
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/textchatChatRequest'
            examples:
              RequestExample:
                value:
                  providers: xai,microsoft,deepseek,perplexityai,anthropic,openai,meta,cohere,amazon,together_ai,google,groq,mistral
                  text: Barack Hussein Obama is an American politician who served as the 44th president of the United States from 2009 to 2017. A member of the Democratic Party, Obama was the first African-American president of the United States. He previously served as a U.S. senator from Illinois from 2005 to 2008 and as an Illinois state senator from 1997 to 2004.
                  chatbot_global_action: You are a keyword extractor. Extract Only the word from the text provided.
                  previous_history:
                  - role: user
                    message: Steve Jobs was a co-founder of Apple Inc., a multinational technology company headquartered in Cupertino, California. He was also the CEO and a major shareholder of Pixar Animation Studios, which was later acquired by The Walt Disney Company. Jobs was widely recognized as a visionary entrepreneur and a pioneer in the personal computer industry. In addition to his business ventures, he was also known for his charismatic personality, his signature black turtleneck, and his famous keynote presentations at Apple's product launches.
                  - role: assistant
                    message: steve jobs, apple inc, pixar, california
                  temperature: 0.0
                  max_tokens: 100
                summary: Request Example
        required: true
      security:
      - FeatureApiAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/textchatResponseModel'
              examples:
                ResponseExample:
                  value:
                    xai:
                      generated_text: Barack Hussein Obama, American, politician, 44th president, United States, 2009, 2017, Democratic Party, African-American, U.S. senator, Illinois, 2005, 2008, state senator, 1997, 2004
                      message:
                      - role: user
                        message: Barack Hussein Obama is an American politician who served as the 44th president of the United States from 2009 to 2017. A member of the Democratic Party, Obama was the first African-American president of the United States. He previously served as a U.S. senator from Illinois from 2005 to 2008 and as an Illinois state senator from 1997 to 2004.
[...]
