openapi: 3.2.0
info:
  title: Video Features Object Tracking Async API
  version: '2.0'
  description: Your project description
servers:
- url: https://api.edenai.run/v2
tags:
- name: Object Tracking Async
paths:
  /video/object_tracking_async/:
    get:
      operationId: video_object_tracking_async_retrieve
      description: 'Get a list of all jobs launched for this feature. You''ll then be able to use the ID of each one to get its status and results.


        Please note that a **job status doesn''t get updated until a get request** is sent.'
      summary: Video Object Tracking List Jobs
      tags:
      - Object Tracking Async
      security:
      - FeatureApiAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAsyncJobResponse'
              examples:
                ResponseExample:
                  value:
                    jobs:
                    - providers: '[''google'']'
                      nb: 1
                      nb_ok: 1
                      public_id: 5d612417-d462-4581-a217-51a404dd9634
                      state: finished
                      created_at: '2026-09-06T00:05:21.030987'
                    - providers: '[''google'']'
                      nb: 1
                      nb_ok: 1
                      public_id: e47719fb-f081-41e5-b676-fa76658cd4a2
                      state: finished
                      created_at: '2026-09-05T23:05:21.031000'
                    - providers: '[''google'']'
                      nb: 1
                      nb_ok: 1
                      public_id: 94c7b447-80b9-4ec5-a6c2-d908d64322ef
                      state: finished
                      created_at: '2026-09-05T22:05:21.031006'
                  summary: Response Example
          description: ''
    post:
      operationId: video_object_tracking_async_create
      description: 'Available Providers


        |Provider|Version|Price|Billing unit|

        |----|-------|-----|------------|

        |**google**|`Video intelligence v1`|0.15 (per 60 seconde)|1 seconde'
      summary: Video Object Tracking Launch Job
      tags:
      - Object Tracking Async
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AsyncVideoAnalysisRequest'
            examples:
              RequestExample:
                value:
                  providers: google
                  file: /edenai/edenai/features/video/samples/data/faces.mp4
                summary: Request Example
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncVideoAnalysisRequest'
            examples:
              RequestExample:
                value:
                  providers: google
                  file_url: http://edenai-resource-example.mp4
                summary: Request Example
        required: true
      security:
      - FeatureApiAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaunchAsyncJobResponse'
              examples:
                ResponseExample:
                  value:
                    public_id: d9f7a091-3b71-4c95-a080-97ff22d6e80b
                  summary: Response Example
          description: ''
    delete:
      operationId: video_object_tracking_async_destroy
      description: 'Generic class to handle method GET all async job for user


        Attributes:

        feature (str): EdenAI feature

        subfeature (str): EdenAI subfeature'
      summary: Video Object Tracking delete Jobs
      tags:
      - Object Tracking Async
      security:
      - FeatureApiAuth: []
      - {}
      responses:
        '204':
          description: No response body
  /video/object_tracking_async/{public_id}/:
    get:
      operationId: video_object_tracking_async_retrieve_2
      description: Get the status and results of an async job given its ID.
      summary: Video Object Tracking Get Job Results
      parameters:
      - in: path
        name: public_id
        schema:
          type: string
        required: true
      - in: query
        name: response_as_dict
        schema:
          type: boolean
          default: true
      - in: query
        name: show_base_64
        schema:
          type: boolean
          default: true
      - in: query
        name: show_original_response
        schema:
          type: boolean
          default: false
      tags:
      - Object Tracking Async
      security:
      - FeatureApiAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asyncvideoobject_tracking_asyncResponseModel'
              examples:
                ResponseExample:
                  value:
                    public_id: 39a54186-278e-40ac-9382-621e38f4ec07
                    status: finished
                    error: null
                    results:
                      google:
                        error: null
                        id: 78067963-a325-4a28-879f-448e2b09677d
                        final_status: finished
                        objects:
                        - description: car
                          confidence: 0.0098700136
                          frames:
                          - timestamp: 0.0
                            bounding_box:
                              top: 0.5714935
                              left: 0.3558693
                              height: 0.15909130000000005
                              width: 0.0
                          - timestamp: 0.125125
                            bounding_box:
                              top: 0.575457
                              left: 0.3546893
                              height: 0.15879675999999998
                              width: 0.0
                          - timestamp: 0.25025
                            bounding_box:
                              top: 0.578798
                              left: 0.35510278
                              height: 0.16612445999999992
                              width: 0.0
                          - timestamp: 0.375375
                            bounding_box:
                              top: 0.58629143
                              left: 0.35353163
                              height: 0.16545237000000002
                              width: 0.0
                          - timestamp: 0.5005
                            bounding_box:
                              top: 0.59182304
                              left: 0.3519171
                              height: 0.16528982000000003
                              width: 0.0
                          - timestamp: 0.625625
                            bounding_box:
                              top: 0.5978286
                              left: 0.35020047
                              height: 0.16527863999999992
                              width: 0.0
                          - timestamp: 0.75075
                            bounding_box:
                              top: 0.59709185
                              left: 0.34884906
                              height: 0.17779845000000005
                              width: 0.0
                          - timestamp: 0.875875
                            bounding_box:
                              top: 0.6016302
                              left: 0.34713376
                              height: 0.17863989999999996
                              width: 0.0
                          - timestamp: 1.001
                            bounding_box:
                              top: 0.60386455
                              left: 0.34724978
                              height: 0.18688614999999997
                              width: 0.0
                          - timestamp: 1.126125
                            bounding_box:
                              top: 0.6149121
                              left: 0.34388742
                              height: 0.18200534000000002
                              width: 0.0
                          - timestamp: 1.25125
                            bounding_box:
                              top: 0.62280315
                              left: 0.3416401
                              height: 0.18151748
                              width: 0.0
                          - timestamp: 1.376375
                            bounding_box:
                              top: 0.63125926
                              left: 0.34000427
                              height: 0.18148399000000004
                              width: 0.0
                          - timestamp: 1.5015
                            bounding_box:
                              top: 0.6329866
                              left: 0.33901313
                              height: 0.19670560000000004
                              width: 0.0
                          - timestamp: 1.626625
                            bounding_box:
                              top: 0.6403681
                              left: 0.33642915
                              height: 0.197616
                              width: 0.0
                          - timestamp: 1.75175
                            bounding_box:
                              top: 0.6502415
                              left: 0.3333132
                              height: 0.19768034999999995
                              width: 0.0
                          - timestamp: 1.876875
                            bounding_box:
                              top: 0.6561407
                              left: 0.33220568
                              height: 0.20552824000000003
                              width: 0.0
                          - timestamp: 2.002
                            bounding_box:
                              top: 0.6644703
                              left: 0.32982254
                              height: 0.2059842500000001
                              width: 0.0
                          - timestamp: 2.127125
                            bounding_box:
                              top: 0.673827
                              left: 0.32723314
                              height: 0.20601610000000004
                              width: 0.0
                          - timestamp: 2.25225
                            bounding_box:
                              top: 0.68183994
                              left: 0.32652575
                              height: 0.214028
                              width: 0.0
                          - timestamp: 2.377375
                            bounding_box:
                              top: 0.69187206
                              left: 0.32424462
                              height: 0.21432918
                              width: 0.0
                          - timestamp: 2.5025
                            bounding_box:
                              top: 0.70366484
                              left: 0.3211648
                              height: 0.21435026000000001
                              width: 0.0
                          - timestamp: 2.627625
                            bounding_box:
                              top: 0.7126915
                              left: 0.3227896
                              height: 0.22121165999999992
                              width: 0.0
                          - timestamp: 2.75275
                            bounding_box:
                              top: 0.72334987
                              left: 0.3210592
                              height: 0.22129043000000004
                              width: 0.0
                          - timestamp: 2.877875
                            bounding_box:
                              top: 0.7357822
                              left: 0.31807733
                              height: 0.2212959
                              width: 0.0
                          - timestamp: 3.003
                            bounding_box:
                              top: 0.7436072
                              left: 0.31690836
                              height: 0.23142905999999996
                              width: 0.0
                          - timestamp: 3.128125
                            bounding_box:
                              top: 0.75533295
                              left: 0.31390056
                              height: 0.23190831999999995
                              width: 0.0
                          - timestamp: 3.25325
                            bounding_box:
                              top: 0.7680954
                              left: 0.3103385
                              height: 0.23194190000000003
                              width: 0.0
                          - timestamp: 3.378375
                            bounding_box:
                              top: 0.78069717
                              left: 0.31030756
                              height: 0.21682172999999993
                              width: 0.0
                          - timestamp: 3.5035
                            bounding_box:
                              top: 0.78824216
                              left: 0.30663913
                              height: 0.21538264000000007
                              width: 0.0
                          - timestamp: 3.628625
                            bounding_box:
                              top: 0.8009182
                              left: 0.30175337
                              height: 0.2152850999999999
                              width: 0.0
                          - timestamp: 3.75375
                            bounding_box:
                              top: 0.8188158
                              left: 0.30207306
                              height: 0.18128719999999998
                              width: 0.0
                          - timestamp: 3.878875
                            bounding_box:
                              top: 0.8255588
                              left: 0.29922998
                              height: 0.17887340000000007
                              width: 0.0
                          - timestamp: 4.004
                            bounding_box:
                              top: 0.8400056
                              left: 0.29473138
                              height: 0.17871539999999997
                              width: 0.0
                        - description: bus
                          confidence: 0.0098125225
                          frames:
                          - timestamp: 0.0
                            bounding_box:
                              top: 0.38457495
                              left: 0.2716799
                              height: 0.21348250000000002
                              width: 0.0
                          - timestamp: 0.125125
                            bounding_box:
                              top: 0.38518426
                              left: 0.27005455
                              height: 0.2134260400000001
                              width: 0.0
                          - timestamp: 0.25025
                            bounding_box:
                              top: 0.38608834
                              left: 0.26827344
                              height: 0.21342591
                              width: 0.0
                          - timestamp: 0.375375
                            bounding_box:
                              top: 0.38597682
                              left: 0.2662561
                              height: 0.22045705000000004
                              width: 0.0
                          - timestamp: 0.5005
                            bounding_box:
                              top: 0.3825586
                              left: 0.26615897
                              height: 0.2311422999999999
                              width: 0.0
                          - timestamp: 0.625625
                            bounding_box:
                              top: 0.38402852
                              left: 0.26426542
                              height: 0.23188818
                              width: 0.0
                          - timestamp: 0.75075
                            bounding_box:
                              top: 0.38947996
                              left: 0.25944197
                              height: 0.22835504000000006
                              width: 0.0
                          - timestamp: 0.875875
                            bounding_box:
                              top: 0.39198124
                              left: 0.25762978
                              height: 0.22781759999999995
                              width: 0.0
                          - timestamp: 1.001
                            bounding_box:
                              top: 0.39334285
                              left: 0.25603148
                              height: 0.22778054999999997
                              width: 0.0
                          - timestamp: 1.126125
                            bounding_box:
                              top: 0.3945389
                              left: 0.25776747
                              height: 0.23621676000000003
                              width: 0.0
                          - timestamp: 1.25125
                            bounding_box:
                              top: 0.3975131
                              left: 0.2561013
                              height: 0.23654909999999996
                              width: 0.0
                          - timestamp: 1.376375
                            bounding_box:
                              top: 0.40006155
                              left: 0.25453186
                              height: 0.23657235
                              width: 0.0
                          - timestamp: 1.5015
                            bounding_box:
                              top: 0.3991174
                              left: 0.24945742
                              height: 0.2397768
                              width: 0.0
                          - timestamp: 1.626625
                            bounding_box:
                              top: 0.39985445
                              left: 0.24759316
                              height: 0.23981215
                              width: 0.0
                          - timestamp: 1.75175
                            bounding_box:
                              top: 0.39488944
                              left: 0.24840045
                              height: 0.25101832
                              width: 0.0
                          - timestamp: 1.876875
                            bounding_box:
                              top: 0.39962062
                              left: 0.24855122
                              height: 0.24984607999999997
                              width: 0.0
                          - timestamp: 2.002
                            bounding_box:
                              top: 0.4028367
                              left: 0.24745347
                              height: 0.24955839999999996
                              width: 0.0
                          - timestamp: 2.127125
                            bounding_box:
                              top: 0.40585035
                              left: 0.24587977
                              height: 0.24953848
                              width: 0.0
                          - timestamp: 2.25225
                            bounding_box:
                              top: 0.40403455
                              left: 0.24353579
                              height: 0.26810641
                              width: 0.0
                          - timestamp: 2.377375
                            bounding_box:
                              top: 0.40704462
                              left: 0.241311
                              height: 0.26935007999999994
                              width: 0.0
                          - timestamp: 2.5025
                            bounding_box:
                              top: 0.41037714
                              left: 0.23905385
                              height: 0.26943790999999995
                              width: 0.0
                          - timestamp: 2.627625
                            bounding_box:
                              top: 0.41397753
                              left: 0.23679504
                              height: 0.26646386999999994
                              width: 0.0
                          - timestamp: 2.75275
                            bounding_box:
                              top: 0.4157261
                              left: 0.23416364
                              height: 0.26622160000000006
                              width: 0.0
                          - timestamp: 2.877875
                            bounding_box:
                              top: 0.41753095
                              left: 0.23125803
                              height: 0.2662049499999999
                              width: 0.0
                          - timestamp: 3.003
                            bounding_box:
                              top: 0.4177679
                              left: 0.23108023
                              height: 0.27627690000000005
                              width: 0.0
                          - timestamp: 3.128125
                            bounding_box:
                              top: 0.4214863
                              left: 0.2286646
                              height: 0.2768117
                              width: 0.0
                          - timestamp: 3.25325
                            bounding_box:
                              top: 0.42480963
                              left: 0.2260274
                              height: 0.2768490699999999
                              width: 0.0
                          - timestamp: 3.378375
                            bounding_box:
                              top: 0.42527398
                              left: 0.22937903
                              height: 0.28461862000000004
                              width: 0.0
                          - timestamp: 3.5035
                            bounding_box:
                              top: 0.42798135
                              left: 0.22728267
                              height: 0.28514565000000003
                              width: 0.0
                          - timestamp: 3.628625
                            bounding_box:
                              top: 0.4320303
                              left: 0.22466102
                              height: 0.28518244000000004
                              width: 0.0
                          - timestamp: 3.75375
                            bounding_box:
                              top: 0.4333809
                              left: 0.22258155
                              height: 0.29627249999999994
                              width: 0.0
                          - timestamp: 3.878875
                            bounding_box:
                              top: 0.4378514
                              left: 0.21994984
                              height: 0.2967252
                              width: 0.0
                          - timestamp: 4.004
                            bounding_box:
                              top: 0.4429525
                              left: 0.21631542
                              height: 0.2967568999999999
                              width: 0.0
                          - timestamp: 4.129125
                            bounding_box:
                              top: 0.44338837
                              left: 0.21484305
                              height: 0.30591867000000006
                              width: 0.0
                          - timestamp: 4.25425
                            bounding_box:
                              top: 0.44651136
                              left: 0.21105146
                              height: 0.30644214000000003
                              width: 0.0
                          - timestamp: 4.379375
                            bounding_box:
                              top: 0.4511446
                              left: 0.20684575
                              height: 0.30647879999999994
                              width: 0.0
                          - timestamp: 4.5045
                            bounding_box:
                              top: 0.4568165
                              left: 0.20282313
                              height: 0.3136764000000001
                              width: 0.0
                          - timestamp: 4.629625
                            bounding_box:
                              top: 0.4636779
                              left: 0.19798549
                              height: 0.31387410000000004
                              width: 0.0
                          - timestamp: 4.75475
                            bounding_box:
                              top: 0.4698429
                              left: 0.19309685
                              height: 0.31388784999999997
                              width: 0.0
                          - timestamp: 4.879875
                            bounding_box:
                              top: 0.4656867
                              left: 0.1903907
                              height: 0.3291771
                              width: 0.0
                          - timestamp: 5.005
                            bounding_box:
                              top: 0.4682315
                              left: 0.18576308
                              height: 0.3300284
                              width: 0.0
                          - timestamp: 5.130125
                            bounding_box:
                              top: 0.4719945
                              left: 0.18166317
                              height: 0.33008815999999996
                              width: 0.0
                          - timestamp: 5.25525
                            bounding_box:
                              top: 0.47203586
                              left: 0.17855328
                              height: 0.34633564000000006
                              width: 0.0
                          - timestamp: 5.380375
                            bounding_box:
                              top: 0.4784955
                              left: 0.17413123
                              height: 0.34716009999999997
                              width: 0.0
                          - timestamp: 5.5055
                            bounding_box:
                              top: 0.4867047
                              left: 0.16833864
                              height: 0.34721789999999997
                              width: 0.0
                          - timestamp: 5.630625
                            bounding_box:
                              top: 0.49166346
                              left: 0.16405727
                              height: 0.3538605400000001
                              width: 0.0
                          - timestamp: 5.75575
                            bounding_box:
                              top: 0.497194
                              left: 0.1610744
                              height: 0.35414534
                              width: 0.0
                          - timestamp: 5.880875
                            bounding_box:
                              top: 0.5015584
                              left: 0.15716091
                              height: 0.35416520000000007
                              width: 0.0
                          - timestamp: 6.006
                            bounding_box:
                              top: 0.49794915
                              left: 0.15028219
                              height: 0.36864849999999993
                              width: 0.0
                          - timestamp: 6.131125
                            bounding_box:
                              top: 0.5009739
                              left: 0.14676392
                              height: 0.36938874
                              width: 0.0
                          - timestamp: 6.25625
                            bounding_box:
                              top: 0.50508875
                              left: 0.1417329
                              height: 0.36944061000000006
                              width: 0.0
                          - timestamp: 6.381375
                            bounding_box:
                              top: 0.50820076
                              left: 0.13571876
                              height: 0.3883072799999999
                              width: 0.0
                          - timestamp: 6.5065
                            bounding_box:
                              top: 0.51708424
                              left: 0.13224182
                              height: 0.38927859
                              width: 0.0
                          - timestamp: 6.631625
                            bounding_box:
                              top: 0.5255399
                              left: 0.12710124
                              height: 0.3893467500000001
                              width: 0.0
                          - timestamp: 6.75675
                            bounding_box:
                              top: 0.5230526
                              left: 0.11893111
                              height: 0.4216409
                              width: 0.0
                          - timestamp: 6.881875
                            bounding_box:
                              top: 0.5303347
                              left: 0.11447057
                              height: 0.42347194
                              width: 0.0
                          - timestamp: 7.007
                            bounding_box:
                              top: 0.5379238
                              left: 0.10994906
                              height: 0.4236014600000001
                              width: 0.0
                          - timestamp: 7.132125
                            bounding_box:
                              top: 0.5432358
                              left: 0.101285204
                              height: 0.4389497
                              width: 0.0
                          - timestamp: 7.25725
                            bounding_box:
                              top: 0.5511774
                              left: 0.09807966
                              height: 0.43975434999999996
                              width: 0.0
                          - timestamp: 7.382375
                            bounding_box:
                              top: 0.55901587
                              left: 0.09458981
                              height: 0.43981063
                              width: 0.0
                          - timestamp: 7.5075
                            bounding_box:
                              top: 0.5677087
                              left: 0.08298267
                              height: 0.43434059999999997
                              width: 0.0
                          - timestamp: 7.632625
                            bounding_box:
                              top: 0.5731803
                              left: 0.07906876
                              height: 0.4338339
                              width: 0.0
                          - timestamp: 7.75775
                            bounding_box:
                              top: 0.5796465
                              left: 0.07501524
                              height: 0.4337989
                              width: 0.0
                        - description: car
                          confidence: 0.0096260566
                          frames:
                          - timestamp: 0.0
                            bounding_box:
                              top: 0.29658672
                              left: 0.34288034
                              height: 0.13995659999999988
                              width: 0.0
                          - timestamp: 0.125125
                            bounding_box:
                              top: 0.29675898
                              left: 0.3427086
                              height: 0.13981502
                              width: 0.0
                          - timestamp: 0.25025
                            bounding_box:
                              top: 0.2967594
                              left: 0.34245443
                              height: 0.13981482
                              width: 0.0
                          - timestamp: 0.375375
                            bounding_box:
                              top: 0.3002656
                              left: 0.3440451
                              height: 0.13627577999999996
                              width: 0.0
                          - timestamp: 0.5005
                            bounding_box:
                              top: 0.30110005
                              left: 0.34406945
                              height: 0.1356913099999999
                              width: 0.0
                          - timestamp: 0.625625
                            bounding_box:
                              top: 0.30127144
                              left: 0.343908
                              height: 0.13565110999999996
                              width: 0.0
                          - timestamp: 0.75075
                            bounding_box:
                              top: 0.2979349
                              left: 0.34422106
                              height: 0.14346559999999997
                              width: 0.0
                          - timestamp: 0.875875
                            bounding_box:
                              top: 0.29792434
                              left: 0.34402996
                              height: 0.14394525999999996
                              width: 0.0
                          - timestamp: 1.001
                            bounding_box:
                              top: 0.29821196
                              left: 0.34381062
                              height: 0.14397899000000014
                              width: 0.0
                          - timestamp: 1.126125
                            bounding_box:
                              top: 0.2987562
                              left: 0.34128714
                              height: 0.14280139999999997
                              width: 0.0
                          - timestamp: 1.25125
                            bounding_box:
                              top: 0.2987678
                              left: 0.33910316
                              height: 0.1426070399999999
                              width: 0.0
                          - timestamp: 1.376375
                            bounding_box:
                              top: 0.2989792
                              left: 0.33783743
                              height: 0.1425936
                              width: 0.0
                          - timestamp: 1.5015
                            bounding_box:
                              top: 0.30159447
                              left: 0.3365063
                              height: 0.14076157999999994
                              width: 0.0
                          - timestamp: 1.626625
                            bounding_box:
                              top: 0.30300665
                              left: 0.3359286
                              height: 0.14031115000000005
                              width: 0.0
                          - timestamp: 1.75175
                            bounding_box:
                              top: 0.30354086
                              left: 0.33555493
                              height: 0.14028008999999997
                              width: 0.0
                          - timestamp: 1.876875
                            bounding_box:
                              top: 0.30609247
                              left: 0.33451122
                              height: 0.13290069000000004
                              width: 0.0
                          - timestamp: 2.002
                            bounding_box:
                              top: 0.30585936
                              left: 0.33508515
                              height: 0.13200964000000004
                              width: 0.0
                          - timestamp: 2.127125
                            bounding_box:
                              top: 0.3052595
                              left: 0.33496904
                              height: 0.13194897000000005
                              width: 0.0
                          - timestamp: 2.25225
                            bounding_box:
                              top: 0.30460328
                              left: 0.33321512
                              height: 0.14030312
                              width: 0.0
                          - timestamp: 2.377375
                            bounding_box:
                              top: 0.3067147
                              left: 0.33126038
                              height: 0.14070998
                              width: 0.0
                          - timestamp: 2.5025
                            bounding_box:
                              top: 0.30811647
                              left: 0.32999167
                              height: 0.14073860000000005
                              width: 0.0
                          - timestamp: 2.627625
                            bounding_box:
                              top: 0.30876788
                              left: 0.32816532
                              height: 0.14005723999999997
                              width: 0.0
                          - timestamp: 2.75275
                            bounding_box:
                              top: 0.3086565
                              left: 0.32663968
                              height: 0.13983160000000006
                              width: 0.0
                          - timestamp: 2.877875
                            bounding_box:
                              top: 0.30892298
                              left: 0.32546404
                              height: 0.13981595000000002
                              width: 0.0
                          - timestamp: 3.003
                            bounding_box:
                              top: 0.3067678
                              left: 0.32506737
                              height: 0.14677319999999994
                              width: 0.0
                          - timestamp: 3.128125
                            bounding_box:
                              top: 0.3068547
                              left: 0.32411206
                              height: 0.14719071000000006
                              width: 0.0
                          - timestamp: 3.25325
                            bounding_box:
                              top: 0.30740896
                              left: 0.32352
                              height: 0.14722003999999989
                              width: 0.0
                          - timestamp: 3.378375
                            bounding_box:
                              top: 0.30857134
                              left: 0.32437295
                              height: 0.14455428999999986
                              width: 0.0
                          - timestamp: 3.5035
                            bounding_box:
                              top: 0.3088893
                              left: 0.3242684
                              height: 0.1440209400000001
                              width: 0.0
                          - timestamp: 3.628625
                            bounding_box:
                              top: 0.30918092
                              left: 0.32363546
                              height: 0.1439841799999999
                              width: 0.0
                          - timestamp: 3.75375
                            bounding_box:
                              top: 0.30658013
                              left: 0.32183874
                              height: 0.1530702100000001
                              width: 0.0
                          - timestamp: 3.878875
                            bounding_box:
                              top: 0.30411056
                              left: 0.32280242
                              height: 0.1609760200000001
                              width: 0.0
                          - timestamp: 4.004
                            bounding_box:
                              top: 0.30535385
                              left: 0.3221894
                              height: 0.1615321300000001
                              width: 0.0
                          - timestamp: 4.129125
                            bounding_box:
                              top: 0.31096902
                              left: 0.31979752
                              height: 0.15279595
                              width: 0.0
                          - timestamp: 4.25425
                            bounding_box:
                              top: 0.31197277
                              left: 0.31833875
                              height: 0.15191619999999995
                              width: 0.0
                          - timestamp: 4.379375
                            bounding_box:
                              top: 0.31268036
                              left: 0.31716347
                              height: 0.15185631
                              width: 0.0
                          - timestamp: 4.5045
                            bounding_box:
                              top: 0.31362355
                              left: 0.3168248
                              height: 0.1543469500000001
                              width: 0.0
                          - timestamp: 4.629625
                            bounding_box:
                              top: 0.31522655
                              left: 0.3158552
                              height: 0.15417922000000006
                              width: 0.0
                          - timestamp: 4.75475
                            bounding_box:
                              top: 0.31259963
                              left: 0.3162393
                              height: 0.16149320999999994
                              width: 0.0
                          - timestamp: 4.879875
                            bounding_box:
                              top: 0.315964
                              left: 0.3148569
                              height: 0.15842131999999998
                              width: 0.0
                          - timestamp: 5.005
                            bounding_box:
                              top: 0.31707457
                              left: 0.31389248
                              height: 0.15790828999999995
                              width: 0.0
                          - timestamp: 5.130125
                            bounding_box:
                              top: 0.3181556
                              left: 0.31297016
                              height: 0.15787296000000006
                              width: 0.0
                          - timestamp: 5.25525
                            bounding_box:
                              top: 0.31790158
                              left: 0.3114267
                              height: 0.16317877000000003
                              width: 0.0
                          - timestamp: 5.380375
                            bounding_box:
                              top: 0.3191986
                              left: 0.3098713
                              height: 0.16340868000000008
                              width: 0.0
                          - timestamp: 5.5055
                            bounding_box:
                              top: 0.32024807
                              left: 0.30847973
                              height: 0.16342473000000002
                              width: 0.0
                          - timestamp: 5.630625
                            bounding_box:
                              top: 0.3202498
                              left: 0.30614555
                              height: 0.16919784999999998
                              width: 0.0
                          - timestamp: 5.75575
                            bounding_box:
                              top: 0.32166135
                              left: 0.30472994
                              height: 0.16942722
                              width: 0.0
                          - timestamp: 5.880875
                            bounding_box:
                              top: 0.32243323
                              left: 0.30365822
                              height: 0.16944324999999993
                              width: 0.0
                          - timestamp: 6.006
                            bounding_box:
                              top: 0.32565716
                              left: 0.3036887
                              height: 0.16228062
                              width: 0.0
                          - timestamp: 6.131125
                            bounding_box:
                              top: 0.32585207
                              left: 0.3024108
                              height: 0.16162242999999998
                              width: 0.0
                          - timestamp: 6.25625
                            bounding_box:
                              top: 0.32685894
                              left: 0.3009887
                              height: 0.1615774000000001
                              width: 0.0
                          - timestamp: 6.381375
                            bounding_box:
                              top: 0.32208738
                              left: 0.29989308
                              height: 0.17090114999999995
                              width: 0.0
                          - timestamp: 6.5065
                            bounding_box:
                              top: 0.32220978
                              left: 0.29905277
                              height: 0.17126852000000004
                              width: 0.0
                          - timestamp: 6.631625
                            bounding_box:
                              top: 0.3270402
                              left: 0.29632726
                              height: 0.16353810000000002
                              width: 0.0
                          - timestamp: 6.75675
                            bounding_box:
                              top: 0.32597294
                              left: 0.29560083
                              height: 0.17634329999999998
                              width: 0.0
                          - timestamp: 6.881875
                            bounding_box:
                              top: 0.3286136
                              left: 0.29374826
                              height: 0.17681597000000004
                              width: 0.0
                          - timestamp: 7.007
                            bounding_box:
                              top: 0.32610434
                              left: 0.29398453
                              height: 0.18503656000000002
                              width: 0.0
                          - timestamp: 7.132125
                            bounding_box:
                              top: 0.33115846
                              left: 0.29097664
                              height: 0.17573054
                              width: 0.0
                          - timestamp: 7.25725
                            bounding_box:
                              top: 0.33170402
                              left: 0.2893606
                              height: 0.17504984
                              width: 0.0
                          - timestamp: 7.382375
                            bounding_box:
                              top: 0.3321914
                              left: 0.2879029
                              height: 0.17500349999999998
                              width: 0.0
                          - timestamp: 7.5075
                            bounding_box:
                              top: 0.3331924
                              left: 0.2890292
                              height: 0.18020075999999996
                              width: 0.0
                          - timestamp: 7.632625
                            bounding_box:
                              top: 0.3359582
                              left: 0.2892844
                              height: 0.1805308
                              width: 0.0
                          - timestamp: 7.75775
                            bounding_box:
                              top: 0.33812562
                              left: 0.28891554
                              height: 0.18055381999999998
                              width: 0.0
                          - timestamp: 7.882875
                            bounding_box:
                              top: 0.33795136
                              left: 0.2851957
                              height: 0.18927734000000007
                              width: 0.0
                          - timestamp: 8.008
                            bounding_box:
                              top: 0.33595604
                              left: 0.28455263
                              height: 0.19838745999999996
                              width: 0.0
                          - timestamp: 8.133125
                            bounding_box:
                              top: 0.3374078
                              left: 0.2827554
                              height: 0.19902595999999995
                              width: 0.0
                          - timestamp: 8.25825
                            bounding_box:
                              top: 0.34262508
                              left: 0.28236198
                              height: 0.19248661999999994
                              width: 0.0
                          - timestamp: 8.383375
                            bounding_box:
                              top: 0.34441867
                              left: 0.28063735
                              height: 0.19172293000000007
                              width: 0.0
                          - timestamp: 8.5085
                            bounding_box:
                              top: 0.34628806
                              left: 0.27888453
                              height: 0.19167053999999994
                              width: 0.0
                          - timestamp: 8.633625
                            bounding_box:
                              top: 0.34891835
                              left: 0.27580476
                              height: 0.19410565000000002
                              width: 0.0
                          - timestamp: 8.75875
                            bounding_box:
                              top: 0.35151926
                              left: 0.27414876
                              height: 0.19399007999999995
                              width: 0.0
                          - timestamp: 8.883875
                            bounding_box:
                              top: 0.35332587
                              left: 0.27220178
                              height: 0.19398209999999994
                              width: 0.0
                          - timestamp: 9.009
                            bounding_box:
                              top: 0.35399333
                              left: 0.27064127
                              height: 0.19862316999999996
                              width: 0.0
                          - timestamp: 9.134125
                            bounding_box:
                              top: 0.35652632
                              left: 0.2675921
                              height: 0.1986119099999999
                              width: 0.0
                          - timestamp: 9.25925
                            bounding_box:
                              top: 0.35863134
                              left: 0.2648934
                              height: 0.19861116
                              width: 0.0
                          - timestamp: 9.384375
                            bounding_box:
                              top: 0.35991496
                              left: 0.26503852
                              height: 0.20652094
                              width: 0.0
                          - timestamp: 9.5095
                            bounding_box:
                              top: 0.36314327
                              left: 0.2641305
                              height: 0.20691483
                              width: 0.0
                          - timestamp: 9.634625
                            bounding_box:
                              top: 0.3658363
                              left: 0.2625685
                              height: 0.20694239999999997
                              width: 0.0
                          - timestamp: 9.75975
                            bounding_box:
                              top: 0.36288452
                              left: 0.26057595
                              height: 0.21354267999999998
                              width: 0.0
                          - timestamp: 9.884875
                            bounding_box:
                              top: 0.36309138
                              left: 0.25784975
                              height: 0.2138647199999999
                              width: 0.0
                          - timestamp: 10.01
                            bounding_box:
                              top: 0.3637623
                              left: 0.2554192
                              height: 0.21388720000000006
                              width: 0.0
                          - timestamp: 10.135125
                            bounding_box:
                              top: 0.3651121
                              left: 0.25437456
                              height: 0.2222478000000001
                              width: 0.0
                          - timestamp: 10.26025
                            bounding_box:
                              top: 0.36883807
                              left: 0.251485
                              height: 0.22265457999999994
                              width: 0.0
                          - timestamp: 10.385375
                            bounding_box:
                              top: 0.3722408
                              left: 0.24907327
                              height: 0.2226830500000001
                              width: 0.0
                          - timestamp: 10.5105
                            bounding_box:
                              top: 0.37626588
                              left: 0.24594018
                              height: 0.22606072
                              width: 0.0
                          - timestamp: 10.635625
                            bounding_box:
                              top: 0.38009173
                              left: 0.243786
                              height: 0.2259352699999999
                              width: 0.0
                          - timestamp: 10.76075
                            bounding_box:
                              top: 0.38256508
                              left: 0.24165936
                              height: 0.22592658
                              width: 0.0
                          - timestamp: 10.885875
                            bounding_box:
                              top: 0.37998226
                              left: 0.24110326
                              height: 0.23440328999999993
                              width: 0.0
                          - timestamp: 11.011
                            bounding_box:
                              top: 0.38160405
                              left: 0.23889482
                              height: 0.23469995
                              width: 0.0
                          - timestamp: 11.136125
                            bounding_box:
                              top: 0.3835245
                              left: 0.23684025
                              height: 0.2347207
                              width: 0.0
                          - timestamp: 11.26125
                            bounding_box:
                              top: 0.3836778
                              left: 0.23561653
                              height: 0.23732577
                              width: 0.0
                          - timestamp: 11.386375
                            bounding_box:
                              top: 0.38555276
                              left: 0.23342499
                              height: 0.23748794000000006
                              width: 0.0
                          - timestamp: 11.5115
                            bounding_box:
                              top: 0.38718718
                              left: 0.23170096
                              height: 0.23749917999999992
                              width: 0.0
                          - timestamp: 11.636625
                            bounding_box:
                              top: 0.38834944
                              left: 0.23120412
                              height: 0.24625549000000002
                              width: 0.0
                          - timestamp: 11.76175
                            bounding_box:
                              top: 0.39164728
                              left: 0.23003052
                              height: 0.24672406999999996
                              width: 0.0
                        - description: car
                          confidence: 0.0097379917
                          frames:
                          - timestamp: 0.0
                            bounding_box:
                              top: 0.4606028
                              left: 0.64254856
                              height: 0.18394967000000007
                              width: 0.0
                          - timestamp: 0.125125
                            bounding_box:
                              top: 0.46157262
                              left: 0.6429681
                              height: 0.18379658
                              width: 0.0
                          - timestamp: 0.25025
                            bounding_box:
                              top: 0.46202654
                              left: 0.64373076
                              height: 0.18379636
                              width: 0.0
                          - timestamp: 0.375375
                            bounding_box:
                              top: 0.49701115
                              left: 0.64344484
                              height: 0.14872364999999999
                              width: 0.0
                          - timestamp: 0.5005
                            bounding_box:
                              top: 0.50363165
                              left: 0.6435441
                              height: 0.14602059
                              width: 0.0
                          - timestamp: 0.625625
                            bounding_box:
                              top: 0.50603807
                              left: 0.6444945
                              height: 0.14584622999999997
                              width: 0.0
                          - timestamp: 0.75075
                            bounding_box:
                              top: 0.50340325
                              left: 0.644874
                              height: 0.15283505000000008
                              width: 0.0
                          - timestamp: 0.875875
                            bounding_box:
                              top: 0.5032518
                              left: 0.6449403
                              height: 0.15321229999999997
                              width: 0.0
                          - timestamp: 1.001
                            bounding_box:
                              top: 0.5031435
                              left: 0.64556634
                              height: 0.15323876000000003
                              width: 0.0
                          - timestamp: 1.126125
                            bounding_box:
                              top: 0.50488925
                              left: 0.6457335
                              height: 0.1499417500000001
                              width: 0.0
                          - timestamp: 1.25125
                            bounding_box:
                              top: 0.50558615
                              left: 0.64583355
                              height: 0.14956485000000008
                              width: 0.0
                          - timestamp: 1.376375
                            bounding_box:
                              top: 0.50635177
                              left: 0.6463709
                              height: 0.14953893000000007
                              width: 0.0
                          - timestamp: 1.5015
                            bounding_box:
                              top: 0.47189614
                              left: 0.648209
                              height: 0.19427070000000002
                              width: 0.0
                          - timestamp: 1.626625
                            bounding_box:
                              top: 0.46405968
                              left: 0.64884424
                              height: 0.19700565999999997
                              width: 0.0
                          - timestamp: 1.75175
                            bounding_box:
                              top: 0.46088037
                              left: 0.64929557
                              height: 0.19720717999999993
                              width: 0.0
                          - timestamp: 1.876875
                            bounding_box:
                              top: 0.4492571
                              left: 0.6490307
                              height: 0.21308090000000002
                              width: 0.0
                          - timestamp: 2.002
                            bounding_box:
                              top: 0.44747955
                              left: 0.6493413
                              height: 0.21383185000000005
                              width: 0.0
                          - timestamp: 2.127125
                            bounding_box:
                              top: 0.44808263
                              left: 0.6497946
                              height: 0.21388497000000006
                              width: 0.0
                          - timestamp: 2.25225
                            bounding_box:
                              top: 0.45054466
                              left: 0.6522932
                              height: 0.21504038000000003
                              width: 0.0
                          - timestamp: 2.377375
                            bounding_box:
                              top: 0.45276406
                              left: 0.65273905
                              height: 0.21483048999999999
                              width: 0.0
                          - timestamp: 2.5025
                            bounding_box:
                              top: 0.45414272
                              left: 0.6530319
                              height: 0.21481587999999996
                              width: 0.0
                          - timestamp: 2.627625
                            bounding_box:
                              top: 0.45257384
                              left: 0.6549329
                              height: 0.21780931999999997
                              width: 0.0
                          - timestamp: 2.75275
                            bounding_box:
                              top: 0.45245472
                              left: 0.6553523
                              height: 0.21760764
                              width: 0.0
                          - timestamp: 2.877875
                            bounding_box:
                              top: 0.45276523
                              left: 0.65577507
                              height: 0.21759366999999996
                              width: 0.0
                          - timestamp: 3.003
                            bounding_box:
                              top: 0.45465845
                              left: 0.6563363
                              height: 0.22024219999999994
                              width: 0.0
                          - timestamp: 3.128125
                            bounding_box:
                              top: 0.45665932
                              left: 0.6571154
                              height: 0.22036148
                              width: 0.0
                          - timestamp: 3.25325
                            bounding_box:
                              top: 0.45810786
                              left: 0.65791917
                              height: 0.22036977999999996
                              width: 0.0
                          - timestamp: 3.378375
                            bounding_box:
                              top: 0.4994357
                              left: 0.66251874
                              height: 0.17131160000000012
                              width: 0.0
                          - timestamp: 3.5035
                            bounding_box:
                              top: 0.5113108
                              left: 0.6629709
                              height: 0.16782995
                              width: 0.0
                          - timestamp: 3.628625
                            bounding_box:
                              top: 0.51566255
                              left: 0.66338253
                              height: 0.16760894999999998
                              width: 0.0
                          - timestamp: 3.75375
                            bounding_box:
                              top: 0.4733507
                              left: 0.6583666
                              height: 0.22144187000000004
                              width: 0.0
                          - timestamp: 3.878875
                            bounding_box:
                              top: 0.4636973
                              left: 0.6572941
                              height: 0.22473814000000003
                              width: 0.0
                          - timestamp: 4.004
                            bounding_box:
                              top: 0.45873043
                              left: 0.6571578
                              height: 0.22498180999999995
                              width: 0.0
                          - timestamp: 4.129125
                            bounding_box:
                              top: 0.455667
                              left: 0.65920985
                              height: 0.23135210000000006
                              width: 0.0
                          - timestamp: 4.25425
                            bounding_box:
                              top: 0.45691317
                              left: 0.66028583
                              height: 0.23147243000000006
                              width: 0.0
                          - timestamp: 4.379375
                            bounding_box:
                              top: 0.45908555
                              left: 0.6613251
                              height: 0.23148085000000007
                              width: 0.0
                          - timestamp: 4.5045
                            bounding_box:
                              top: 0.46588898
                              left: 0.6611882
                              height: 0.22453206000000003
                              width: 0.0
                          - timestamp: 4.629625
                            bounding_box:
                              top: 0.46834025
                              left: 0.66102386
                              height: 0.22367435000000002
                              width: 0.0
                          - timestamp: 4.75475
                            bounding_box:
                              top: 0.4697565
                              left: 0.661213
                              height: 0.22361549999999997
                              width: 0.0
                          - timestamp: 4.879875
                            bounding_box:
                              top: 0.47197652
                              left: 0.6632698
                              height: 0.22597968000000002
                              width: 0.0
                          - timestamp: 5.005
                            bounding_box:
                              top: 0.47450247
                              left: 0.66292214
                              height: 0.22592963
                              width: 0.0
                          - timestamp: 5.130125
                            bounding_box:
                              top: 0.47577378
                              left: 0.6630745
                              height: 0.22592622000000007
                              width: 0.0
                          - timestamp: 5.25525
                            bounding_box:
                              top: 0.4756966
                              left: 0.66391695
                              height: 0.23015019999999997
                              width: 0.0
                          - timestamp: 5.380375
                            bounding_box:
                              top: 0.47691128
                              left: 0.66486025
                              height: 0.23009662000000008
                              width: 0.0
                          - timestamp: 5.5055
                            bounding_box:
                              top: 0.477511
                              left: 0.6657053
                              height: 0.23009289999999993
                              width: 0.0
                          - timestamp: 5.630625
                            bounding_box:
                              top: 0.4788986
                              left: 0.66672105
                              height: 0.22957310000000009
                              width: 0.0
                          - timestamp: 5.75575
                            bounding_box:
                              top: 0.4798549
                              left: 0.66736704
                              height: 0.22919480000000003
                              width: 0.0
                          - timestamp: 5.880875
                            bounding_box:
                              top: 0.48094848
                              left: 0.6678212
                              height: 0.22916861999999993
                              width: 0.0
                          - timestamp: 6.006
                            bounding_box:
                              top: 0.48241305
                              left: 0.6700585
                              height: 0.22134774999999995
                              width: 0.0
                          - timestamp: 6.131125
                            bounding_box:
                              top: 0.48177242
                              left: 0.6706289
                              height: 0.22043741000000006
                              width: 0.0
                          - timestamp: 6.25625
                            bounding_box:
                              top: 0.48215392
                              left: 0.67128664
                              height: 0.22037503000000003
                              width: 0.0
                          - timestamp: 6.381375
                            bounding_box:
                              top: 0.47936678
                              left: 0.6722013
                              height: 0.23403392
                              width: 0.0
                          - timestamp: 6.5065
                            bounding_box:
                              top: 0.48144826
                              left: 0.67362136
                              height: 0.2346738399999999
                              width: 0.0
                          - timestamp: 6.631625
                            bounding_box:
                              top: 0.48826864
                              left: 0.6727476
                              height: 0.22437726000000002
                              width: 0.0
                          - timestamp: 6.75675
                            bounding_box:
                              top: 0.48332328
                              left: 0.6745898
                              height: 0.23953871999999998
                              width: 0.0
                          - timestamp: 6.881875
                            bounding_box:
                              top: 0.48493165
                              left: 0.6745205
                              height: 0.24022575000000002
                              width: 0.0
                          - timestamp: 7.007
                            bounding_box:
                              top: 0.48646605
                              left: 0.6747623
                              height: 0.24027419000000005
                              width: 0.0
                          - timestamp: 7.132125
                            bounding_box:
                              top: 0.48326135
                              left: 0.6750435
                              height: 0.25224555000000004
                              width: 0.0
                          - timestamp: 7.25725
                            bounding_box:
                              top: 0.48496717
                              left: 0.6753976
                              height: 0.25274043
                              width: 0.0
                          - timestamp: 7.382375
                            bounding_box:
                              top: 0.4810967
                              left: 0.6780564
                              height: 0.26440964999999994
                              width: 0.0
                          - timestamp: 7.5075
                            bounding_box:
                              top: 0.4833891
                              left: 0.6775554
                              height: 0.25794295
                              width: 0.0
                          - timestamp: 7.632625
                            bounding_box:
                              top: 0.48370194
                              left: 0.67788863
                              height: 0.25744420999999995
                              width: 0.0
                          - timestamp: 7.75775
                            bounding_box:
                              top: 0.48448747
                              left: 0.67853093
                              height: 0.25740999
                              width: 0.0
                          - timestamp: 7.882875
                            bounding_box:
                              top: 0.49225137
                              left: 0.67882115
                              height: 0.2531878299999999
                              width: 0.0
                          - timestamp: 8.008
                            bounding_box:
                              top: 0.4967706
                              left: 0.67955977
                              height: 0.2528060000000001
                              width: 0.0
                          - timestamp: 8.133125
                            bounding_box:
                              top: 0.4995539
                              left: 0.6801612
                              height: 0.25277974000000003
                              width: 0.0
                          - timestamp: 8.25825
                            bounding_box:
                              top: 0.49890292
                              left: 0.68224335
                              height: 0.25893698
                              width: 0.0
                          - timestamp: 8.383375
                            bounding_box:
                              top: 0.5006476
                              left: 0.6820922
                              height: 0.25923680000000004
                              width: 0.0
                          - timestamp: 8.5085
                            bounding_box:
                              top: 0.50260395
                              left: 0.6822381
                              height: 0.25925774999999995
                              width: 0.0
                          - timestamp: 8.633625
                            bounding_box:
                              top: 0.5056155
                              left: 0.6861585
                              height: 0.25915155
                              width: 0.0
                          - timestamp: 8.75875
                            bounding_box:
                              top: 0.5080423
                              left: 0.68779373
                              height: 0.2588208700000001
                              width: 0.0
                          - timestamp: 8.883875
                            bounding_box:
                              top: 0.5100141
                              left: 0.6889758
                              height: 0.258798
                              width: 0.0
                          - timestamp: 9.009
                            bounding_box:
                              top: 0.5077614
                              left: 0.69083846
                              height: 0.26409039999999995
                              width: 0.0
                          - timestamp: 9.134125
                            bounding_box:
                              top: 0.5086162
                              left: 0.6912974
                              height: 0.26433360000000006
                              width: 0.0
                          - timestamp: 9.25925
                            bounding_box:
                              top: 0.5097562
                              left: 0.6913127
                              height: 0.2643506
                              width: 0.0
                          - timestamp: 9.384375
                            bounding_box:
                              top: 0.5106086
                              left: 0.6890602
                              height: 0.2650880400000001
                              width: 0.0
                          - timestamp: 9.5095
                            bounding_box:
                              top: 0.51170886
                              left: 0.6882923
                              height: 0.26483373999999993
                              width: 0.0
                          - timestamp: 9.634625
                            bounding_box:
                              top: 0.5067968
                              left: 0.6906475
                              height: 0.27731273
                              width: 0.0
                          - timestamp: 9.75975
                            bounding_box:
                              top: 0.5176292
                              left: 0.69426185
                              height: 0.26674264999999997
                              width: 0.0
                          - timestamp: 9.884875
                            bounding_box:
                              top: 0.5218475
                              left: 0.6961326
                              height: 0.26580934
                              width: 0.0
                          - timestamp: 10.01
                            bounding_box:
                              top: 0.5248388
                              left: 0.6973078
                              height: 0.26574549999999997
                              width: 0.0
                          - timestamp: 10.135125
                            bounding_box:
                              top: 0.5189472
                              left: 0.69699425
                              height: 0.2778298699999999
                              width: 0.0
                          - timestamp: 10.26025
                            bounding_box:
                              top: 0.5187553
                              left: 0.6960609
                              height: 0.27864254999999993
                              width: 0.0
                          - timestamp: 10.385375
                            bounding_box:
                              top: 0.51959443
                              left: 0.695934
                              height: 0.27869946999999995
                              width: 0.0
                          - timestamp: 10.5105
                            bounding_box:
                              top: 0.5337261
                              left: 0.6990396
                              height: 0.26604930000000004
                              width: 0.0
                          - timestamp: 10.635625
                            bounding_box:
                              top: 0.5386768
                              left: 0.7000704
                              height: 0.2648992
                              width: 0.0
                          - timestamp: 10.76075
                            bounding_box:
                              top: 0.541863
                              left: 0.70050657
                              height: 0.26482066000000004
                              width: 0.0
                          - timestamp: 10.885875
                            bounding_box:
                              top: 0.53529614
                              left: 0.7039468
                              height: 0.2741077599999999
                              width: 0.0
                          - timestamp: 11.011
                            bounding_box:
                              top: 0.53370893
                              left: 0.7058695
                              height: 0.2745070700000001
                              width: 0.0
                          - timestamp: 11.136125
                            bounding_box:
                              top: 0.5340375
                              left: 0.7073071
                              height: 0.2745348999999999
                              width: 0.0
                          - timestamp: 11.26125
                            bounding_box:
                              top: 0.53339475
                              left: 0.70612127
                              height: 0.28236549999999994
                              width: 0.0
                          - timestamp: 11.386375
                            bounding_box:
                              top: 0.53528726
                              left: 0.7053506
                              height: 0.28283514
                              width: 0.0
                          - timestamp: 11.5115
                            bounding_box:
                              top: 0.53080183
                              left: 0.7075963
                              height: 0.29622591
                              width: 0.0
                          - timestamp: 11.636625
                            bounding_box:
                              top: 0.53592694
                              left: 0.70492816
                              height: 0.2927191600000001
                              width: 0.0
                          - timestamp: 11.76175
                            bounding_box:
                              top: 0.53857154
                              left: 0.7046465
                              height: 0.2921703600000001
                              width: 0.0
                        - description: car
                          confidence: 0.0097286737
                          frames:
                          - timestamp: 0.0
                            bounding_box:
                              top: 0.45450336
                              left: 0.415824
                              height: 0.10979644
                              width: 0.0
                          - timestamp: 0.125125
                            bounding_box:
                              top: 0.4560162
                              left: 0.41510525
                              height: 0.10972236000000002
                              width: 0.0
                          - timestamp: 0.25025
                            bounding_box:
                              top: 0.45917886
                              left: 0.41408804
                              height: 0.10972219999999999
                              width: 0.0
                          - timestamp: 0.375375
                            bounding_box:
                              top: 0.45880646
                              left: 0.41134053
                              height: 0.11560373999999995
                              width: 0.0
                          - timestamp: 0.5005
                            bounding_box:
                              top: 0.4605925
                              left: 0.4099477
                              height: 0.11573110000000009
                              width: 0.0
                          - timestamp: 0.625625
                            bounding_box:
                              top: 0.46234548
                              left: 0.4087369
                              height: 0.11574006000000003
                              width: 0.0
                          - timestamp: 0.75075
                            bounding_box:
                              top: 0.4672236
                              left: 0.40896833
                              height: 0.11648224000000007
                              width: 0.0
                          - timestamp: 0.875875
                            bounding_box:
                              top: 0.47111052
                              left: 0.408267
                              height: 0.11622304000000006
                              width: 0.0
                          - timestamp: 1.001
                            bounding_box:
                              top: 0.4746108
                              left: 0.40744048
                              height: 0.11620503999999998
                              width: 0.0
                          - timestamp: 1.126125
                            bounding_box:
                              top: 0.478961
                              left: 0.40868798
                              height: 0.11648109999999989
                              width: 0.0
                          - timestamp: 1.25125
                            bounding_box:
                              top: 0.48209667
                              left: 0.40827012
                              height: 0.11622292999999995
                              width: 0.0
                          - timestamp: 1.376375
                            bounding_box:
                              top: 0.4847977
                              left: 0.40732682
                              height: 0.116205
                              width: 0.0
                          - timestamp: 1.5015
                            bounding_box:
                              top: 0.48802117
                              left: 0.40827566
                              height: 0.12133267000000003
                              width: 0.0
                          - timestamp: 1.626625
                            bounding_box:
                              top: 0.49223447
                              left: 0.40684626
                              height: 0.12129882999999997
                              width: 0.0
                          - timestamp: 1.75175
                            bounding_box:
                              top: 0.49582332
                              left: 0.40534893
                              height: 0.12129648000000004
                              width: 0.0
                          - timestamp: 1.876875
                            bounding_box:
                              top: 0.4971012
                              left: 0.40338758
                              height: 0.12954009999999994
                              width: 0.0
                          - timestamp: 2.002
                            bounding_box:
                              top: 0.5008966
                              left: 0.40116566
                              height: 0.13005369999999994
                              width: 0.0
                          - timestamp: 2.127125
                            bounding_box:
                              top: 0.50487363
                              left: 0.39929828
                              height: 0.13008987000000005
                              width: 0.0
                          - timestamp: 2.25225
                            bounding_box:
                              top: 0.5073675
                              left: 0.39695126
                              height: 0.13564324000000005
                              width: 0.0
                          - timestamp: 2.377375
                            bounding_box:
                              top: 0.51122516
                              left: 0.39475253
                              height: 0.13564784000000008
                              width: 0.0
                          - timestamp: 2.5025
                            bounding_box:
                              top: 0.51509887
                              left: 0.39285114
                              height: 0.13564812999999998
                              width: 0.0
                          - timestamp: 2.627625
                            bounding_box:
                              top: 0.5172183
                              left: 0.39229736
                              height: 0.14279169999999997
                              width: 0.0
                          - timestamp: 2.75275
                            bounding_box:
                              top: 0.52183276
                              left: 0.39062202
                              height: 0.14303703999999995
                              width: 0.0
                          - timestamp: 2.877875
                            bounding_box:
                              top: 0.526199
                              left: 0.38929796
                              height: 0.14305423000000006
                              width: 0.0
                          - timestamp: 3.003
                            bounding_box:
                              top: 0.53344023
                              left: 0.38666642
                              height: 0.14615857
                              width: 0.0
                          - timestamp: 3.128125
                            bounding_box:
                              top: 0.53956676
                              left: 0.3846966
                              height: 0.14628673999999997
                              width: 0.0
                          - timestamp: 3.25325
                            bounding_box:
                              top: 0.5464299
                              left: 0.3833418
                              height: 0.14629559999999997
                              width: 0.0
                          - timestamp: 3.378375
                            bounding_box:
                              top: 0.55485016
                              left: 0.3821813
                              height: 0.14973204000000007
                              width: 0.0
                          - timestamp: 3.5035
                            bounding_box:
                              top: 0.55820143
                              left: 0.3828252
                              height: 0.15644207
                              width: 0.0
                          - timestamp: 3.628625
                            bounding_box:
                              top: 0.56429255
                              left: 0.38200307
                              height: 0.15690925
                              width: 0.0
                          - timestamp: 3.75375
                            bounding_box:
                              top: 0.5686735
                              left: 0.3809373
                              height: 0.16086509999999998
                              width: 0.0
                          - timestamp: 3.878875
                            bounding_box:
                              top: 0.5734556
                              left: 0.37977105
                              height: 0.1610939
                              width: 0.0
                          - timestamp: 4.004
                            bounding_box:
                              top: 0.5748656
                              left: 0.38107198
                              height: 0.16843525999999998
                              width: 0.0
                          - timestamp: 4.129125
                            bounding_box:
                              top: 0.5868577
                              left: 0.37866467
                              height: 0.16169489999999997
                              width: 0.0
                          - timestamp: 4.25425
                            bounding_box:
                              top: 0.5942892
                              left: 0.37749073
                              height: 0.16115104000000002
                              width: 0.0
                          - timestamp: 4.379375
                            bounding_box:
                              top: 0.60080224
                              left: 0.3766321
                              height: 0.1611139199999999
                              width: 0.0
                          - timestamp: 4.5045
                            bounding_box:
                              top: 0.6082276
                              left: 0.3793867
                              height: 0.16400875000000004
                              width: 0.0
                          - timestamp: 4.629625
                            bounding_box:
                              top: 0.6152919
                              left: 0.37912664
                              height: 0.16389719999999997
                              width: 0.0
                          - timestamp: 4.75475
                            bounding_box:
                              top: 0.62269086
                              left: 0.37858868
                              height: 0.16388944000000005
                              width: 0.0
                          - timestamp: 4.879875
                            bounding_box:
                              top: 0.61973536
                              left: 0.37896064
                              height: 0.18714034000000002
                              width: 0.0
                          - timestamp: 5.005
                            bounding_box:
                              top: 0.62800306
                              left: 0.37766036
                              height: 0.18833399000000006
                              width: 0.0
                          - timestamp: 5.130125
                            bounding_box:
                              top: 0.63757205
                              left: 0.37671462
                              height: 0.18841958000000003
                              width: 0.0
                          - timestamp: 5.25525
                            bounding_box:
                              top: 0.6339688
                              left: 0.37792224
                              height: 0.2090898
                              width: 0.0
                          - timestamp: 5.380375
                            bounding_box:
                              top: 0.6415704
                              left: 0.37773675
                              height: 0.21010740000000006
                              width: 0.0
                          - timestamp: 5.5055
                            bounding_box:
                              top: 0.6460964
                              left: 0.37993085
                              height: 0.22009033999999994
                              width: 0.0
                          - timestamp: 5.630625
                            bounding_box:
                              top: 0.67189354
                              left: 0.38329652
                              height: 0.20717560999999995
                              width: 0.0
                          - timestamp: 5.75575
                            bounding_box:
                              top: 0.68809766
                              left: 0.3831822
                              height: 0.20609723999999996
                              width: 0.0
                          - timestamp: 5.880875
                            bounding_box:
                              top: 0.7038729
                              left: 0.3829408
                              height: 0.20602394999999996
                              width: 0.0
                          - timestamp: 6.006
                            bounding_box:
                              top: 0.71860075
                              left: 0.3848508
                              height: 0.21063195
                              width: 0.0
                          - timestamp: 6.131125
                            bounding_box:
                              top: 0.73298925
                              left: 0.38581872
                              height: 0.21064704999999995
                              width: 0.0
                          - timestamp: 6.25625
                            bounding_box:
                              top: 0.74762064
                              left: 0.38599783
                              height: 0.21064806000000003
                              width: 0.0
                          - timestamp: 6.381375
                            bounding_box:
                              top: 0.7433196
                              left: 0.38727826
                              height: 0.23952415999999999
                              width: 0.0
[...]
