openapi: 3.2.0
info:
  title: Video Features Face Detection Async API
  version: '2.0'
  description: Your project description
servers:
- url: https://api.edenai.run/v2
tags:
- name: Face Detection Async
paths:
  /video/face_detection_async/:
    get:
      operationId: video_face_detection_async_retrieve
      description: 'Get a list of all jobs launched for this feature. You''ll then be able to use the ID of each one to get its status and results.


        Please note that a **job status doesn''t get updated until a get request** is sent.'
      summary: Face Detection List Jobs
      tags:
      - Face Detection Async
      security:
      - FeatureApiAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAsyncJobResponse'
              examples:
                ResponseExample:
                  value:
                    jobs:
                    - providers: '[''google'', ''amazon'']'
                      nb: 2
                      nb_ok: 2
                      public_id: 187c32b2-c545-4799-a531-ca563950a4ba
                      state: finished
                      created_at: '2026-09-06T00:05:19.620813'
                    - providers: '[''google'', ''amazon'']'
                      nb: 2
                      nb_ok: 2
                      public_id: ad2fee92-9380-4d17-a66c-5f4b1e5da89b
                      state: finished
                      created_at: '2026-09-05T23:05:19.620827'
                    - providers: '[''google'', ''amazon'']'
                      nb: 2
                      nb_ok: 2
                      public_id: 31370c2c-3543-4622-8593-3e904358c74c
                      state: finished
                      created_at: '2026-09-05T22:05:19.620834'
                  summary: Response Example
          description: ''
    post:
      operationId: video_face_detection_async_create
      description: 'Available Providers


        |Provider|Version|Price|Billing unit|

        |----|-------|-----|------------|

        |**amazon**|`boto3`|0.1 (per 60 seconde)|60 seconde

        |**google**|`Video intelligence v1`|0.1 (per 60 seconde)|1 seconde'
      summary: Face Detection Launch Job
      tags:
      - Face Detection Async
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AsyncVideoAnalysisRequest'
            examples:
              RequestExample:
                value:
                  providers: google,amazon
                  file: /edenai/edenai/features/video/samples/data/faces.mp4
                summary: Request Example
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncVideoAnalysisRequest'
            examples:
              RequestExample:
                value:
                  providers: google,amazon
                  file_url: http://edenai-resource-example.mp4
                summary: Request Example
        required: true
      security:
      - FeatureApiAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaunchAsyncJobResponse'
              examples:
                ResponseExample:
                  value:
                    public_id: 9fb49584-1f04-482a-9095-a0777562ac6c
                  summary: Response Example
          description: ''
    delete:
      operationId: video_face_detection_async_destroy
      description: 'Generic class to handle method GET all async job for user


        Attributes:

        feature (str): EdenAI feature

        subfeature (str): EdenAI subfeature'
      summary: Face Detection delete Jobs
      tags:
      - Face Detection Async
      security:
      - FeatureApiAuth: []
      - {}
      responses:
        '204':
          description: No response body
  /video/face_detection_async/{public_id}/:
    get:
      operationId: video_face_detection_async_retrieve_2
      description: Get the status and results of an async job given its ID.
      summary: Face Detection Get Job Results
      parameters:
      - in: path
        name: public_id
        schema:
          type: string
        required: true
      - in: query
        name: response_as_dict
        schema:
          type: boolean
          default: true
      - in: query
        name: show_base_64
        schema:
          type: boolean
          default: true
      - in: query
        name: show_original_response
        schema:
          type: boolean
          default: false
      tags:
      - Face Detection Async
      security:
      - FeatureApiAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asyncvideoface_detection_asyncResponseModel'
              examples:
                ResponseExample:
                  value:
                    public_id: 18adaa0a-5001-488f-aa1c-781536365c47
                    status: finished
                    error: null
                    results:
                      google:
                        error: null
                        id: 284fec9e-afac-4065-a3fa-93af38438174
                        final_status: finished
                        faces:
                        - offset: 13.913913
                          bounding_box:
                            top: 0.1361
                            left: 0.5031
                            height: 0.14449999999999996
                            width: 0.07030000000000003
                          attributes:
                            headwear: 0.03838578
                            frontal_gaze: 0.0034457974
                            eyes_visible: 0.025488779
                            glasses: 0.04155526
                            mouth_open: 0.029833443
                            smiling: 0.12223822
                            brightness: null
                            sharpness: null
                            pose:
                              pitch: null
                              roll: null
                              yawn: null
                          landmarks:
                            eye_left: []
                            eye_right: []
                            nose: []
                            mouth_left: []
                            mouth_right: []
                        - offset: 13.313313
                          bounding_box:
                            top: 0.2417
                            left: 0.4938
                            height: 0.16389999999999993
                            width: 0.0796
                          attributes:
                            headwear: 0.05889566
                            frontal_gaze: 0.009465863
                            eyes_visible: 0.06542817
                            glasses: 0.019892093
                            mouth_open: 0.032424375
                            smiling: 0.07588194
                            brightness: null
                            sharpness: null
                            pose:
                              pitch: null
                              roll: null
                              yawn: null
                          landmarks:
                            eye_left: []
                            eye_right: []
                            nose: []
                            mouth_left: []
                            mouth_right: []
                        - offset: 13.113113
                          bounding_box:
                            top: 0.2583
                            left: 0.4047
                            height: 0.16110000000000002
                            width: 0.07810000000000006
                          attributes:
                            headwear: 0.018332532
                            frontal_gaze: 0.019168885
                            eyes_visible: 0.03755694
                            glasses: 0.0072018
                            mouth_open: 0.025600197
                            smiling: 0.4485456
                            brightness: null
                            sharpness: null
                            pose:
                              pitch: null
                              roll: null
                              yawn: null
                          landmarks:
                            eye_left: []
                            eye_right: []
                            nose: []
                            mouth_left: []
                            mouth_right: []
                        - offset: 9.409409
                          bounding_box:
                            top: 0.2667
                            left: 0.625
                            height: 0.1583000000000001
                            width: 0.0766
                          attributes:
                            headwear: 0.0824737
                            frontal_gaze: 0.0037976685
                            eyes_visible: 0.04032786
                            glasses: 0.03795566
                            mouth_open: 0.03625917
                            smiling: 0.073833965
                            brightness: null
                            sharpness: null
                            pose:
                              pitch: null
                              roll: null
                              yawn: null
                          landmarks:
                            eye_left: []
                            eye_right: []
                            nose: []
                            mouth_left: []
                            mouth_right: []
                        - offset: 4.904904
                          bounding_box:
                            top: 0.2194
                            left: 0.6562
                            height: 0.13059999999999994
                            width: 0.06410000000000005
                          attributes:
                            headwear: 0.06838982
                            frontal_gaze: 0.0025200215
                            eyes_visible: 0.03176412
                            glasses: 0.02724113
                            mouth_open: 0.030663162
                            smiling: 0.054266043
                            brightness: null
                            sharpness: null
                            pose:
                              pitch: null
                              roll: null
                              yawn: null
                          landmarks:
                            eye_left: []
                            eye_right: []
                            nose: []
                            mouth_left: []
                            mouth_right: []
                        - offset: 3.803803
                          bounding_box:
                            top: 0.4444
                            left: 0.2266
                            height: 0.13059999999999994
                            width: 0.06399999999999995
                          attributes:
                            headwear: 0.074621975
                            frontal_gaze: 0.00941331
                            eyes_visible: 0.057561494
                            glasses: 0.04538096
                            mouth_open: 0.024297033
                            smiling: 0.0994726
                            brightness: null
                            sharpness: null
                            pose:
                              pitch: null
                              roll: null
                              yawn: null
                          landmarks:
                            eye_left: []
                            eye_right: []
                            nose: []
                            mouth_left: []
                            mouth_right: []
                        - offset: 0.0
                          bounding_box:
                            top: 0.5278
                            left: 0.2359
                            height: 0.14439999999999997
                            width: 0.07030000000000003
                          attributes:
                            headwear: 0.02528641
                            frontal_gaze: 0.0014492692
                            eyes_visible: 0.006023698
                            glasses: 0.047199726
                            mouth_open: 0.016622607
                            smiling: 0.091800384
                            brightness: null
                            sharpness: null
                            pose:
                              pitch: null
                              roll: null
                              yawn: null
                          landmarks:
                            eye_left: []
                            eye_right: []
                            nose: []
                            mouth_left: []
                            mouth_right: []
                        - offset: 0.0
                          bounding_box:
                            top: 0.1694
                            left: 0.5484
                            height: 0.19999999999999996
                            width: 0.09689999999999999
                          attributes:
                            headwear: 0.06057389
                            frontal_gaze: 0.008985922
                            eyes_visible: 0.33887628
                            glasses: 0.013402387
                            mouth_open: 0.9839536
                            smiling: 0.061919898
                            brightness: null
                            sharpness: null
                            pose:
                              pitch: null
                              roll: null
                              yawn: null
                          landmarks:
                            eye_left: []
                            eye_right: []
                            nose: []
                            mouth_left: []
                            mouth_right: []
                        - offset: 0.0
                          bounding_box:
                            top: 0.1944
                            left: 0.3031
                            height: 0.22230000000000005
                            width: 0.10470000000000002
                          attributes:
                            headwear: 0.0037947888
                            frontal_gaze: 0.0022836116
                            eyes_visible: 0.028041847
                            glasses: 0.021305878
                            mouth_open: 0.058450453
                            smiling: 0.9214829
                            brightness: null
                            sharpness: null
                            pose:
                              pitch: null
                              roll: null
                              yawn: null
                          landmarks:
                            eye_left: []
                            eye_right: []
                            nose: []
                            mouth_left: []
                            mouth_right: []
                      amazon:
                        error: null
                        id: 6225fec4-6b31-45c1-92c0-315ad3b20f89
                        final_status: finished
                        faces:
                        - offset: 0.0
                          bounding_box:
                            top: 0.2482253462076187
                            left: 0.3207817077636719
                            height: 0.16308921575546265
                            width: 0.08372516930103302
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.7382650756835938
                            sharpness: 0.07589449882507324
                            pose:
                              pitch: -0.4773397445678711
                              roll: -0.10794975280761719
                              yawn: 0.30112924575805666
                          landmarks:
                            eye_left:
                            - 0.3614456057548523
                            - 0.32598286867141724
                            eye_right:
                            - 0.3878452479839325
                            - 0.3203766942024231
                            nose:
                            - 0.38039281964302063
                            - 0.3649798035621643
                            mouth_left:
                            - 0.35520246624946594
                            - 0.3744484484195709
                            mouth_right:
                            - 0.37745556235313416
                            - 0.36920058727264404
                        - offset: 0.0
                          bounding_box:
                            top: 0.20581381022930145
                            left: 0.5739896893501282
                            height: 0.17640389502048492
                            width: 0.062253713607788086
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.6099150848388671
                            sharpness: 0.1649492073059082
                            pose:
                              pitch: 0.22759347915649414
                              roll: 0.19723281860351563
                              yawn: 0.2834208679199219
                          landmarks:
                            eye_left:
                            - 0.6027644276618958
                            - 0.25605544447898865
                            eye_right:
                            - 0.624937891960144
                            - 0.2680785357952118
                            nose:
                            - 0.6226898431777954
                            - 0.2850388288497925
                            mouth_left:
                            - 0.60139000415802
                            - 0.3189718723297119
                            mouth_right:
                            - 0.6196901202201843
                            - 0.3287646174430847
                        - offset: 0.0
                          bounding_box:
                            top: 0.5568276047706604
                            left: 0.24548324942588806
                            height: 0.10295359045267105
                            width: 0.07366683334112167
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.7270581817626953
                            sharpness: 0.057756686210632326
                            pose:
                              pitch: 0.23707159042358397
                              roll: -0.3917021560668945
                              yawn: 0.7216594696044922
                          landmarks:
                            eye_left:
                            - 0.2801307141780853
                            - 0.5856233239173889
                            eye_right:
                            - 0.2832094728946686
                            - 0.5747376084327698
                            nose:
                            - 0.2961735129356384
                            - 0.5650503635406494
                            mouth_left:
                            - 0.2978937029838562
                            - 0.5993649959564209
                            mouth_right:
                            - 0.30007731914520264
                            - 0.590384304523468
                        - offset: 0.0
                          bounding_box:
                            top: 0.16891653835773468
                            left: 0.6557871103286743
                            height: 0.13050910830497742
                            width: 0.026932334527373314
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.7019806671142578
                            sharpness: 0.04374836921691894
                            pose:
                              pitch: -0.15090816497802734
                              roll: 0.19113454818725586
                              yawn: -0.7477842712402344
                          landmarks:
                            eye_left:
                            - 0.6574704051017761
                            - 0.19500111043453217
                            eye_right:
                            - 0.6598822474479675
                            - 0.19899167120456696
                            nose:
                            - 0.6461970210075378
                            - 0.20388925075531006
                            mouth_left:
                            - 0.6525963544845581
                            - 0.2228042334318161
                            mouth_right:
                            - 0.6543674468994141
                            - 0.22658151388168335
                        - offset: 0.467
                          bounding_box:
                            top: 0.23900972306728363
                            left: 0.3068747818470001
                            height: 0.1742333322763443
                            width: 0.07678725570440292
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.710799560546875
                            sharpness: 0.09912903785705567
                            pose:
                              pitch: -0.3365254592895508
                              roll: -0.07526155471801758
                              yawn: 0.09421463012695312
                          landmarks:
                            eye_left:
                            - 0.3353230655193329
                            - 0.3214784264564514
                            eye_right:
                            - 0.3675922155380249
                            - 0.31333351135253906
                            nose:
                            - 0.35599833726882935
                            - 0.35702604055404663
                            mouth_left:
                            - 0.33787697553634644
                            - 0.3704887330532074
                            mouth_right:
                            - 0.3650642931461334
                            - 0.3635382652282715
                        - offset: 0.467
                          bounding_box:
                            top: 0.21153275668621063
                            left: 0.5614747405052185
                            height: 0.16006986796855927
                            width: 0.06248955801129341
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.6641445922851562
                            sharpness: 0.12848764419555664
                            pose:
                              pitch: 0.22983747482299804
                              roll: 0.1875120544433594
                              yawn: 0.3085787773132324
                          landmarks:
                            eye_left:
                            - 0.5912485122680664
                            - 0.2685014307498932
                            eye_right:
                            - 0.6132656335830688
                            - 0.27813658118247986
                            nose:
                            - 0.6120043396949768
                            - 0.2970026135444641
                            mouth_left:
                            - 0.5910750031471252
                            - 0.3296396732330322
                            mouth_right:
                            - 0.6092085838317871
                            - 0.33727797865867615
                        - offset: 0.967
                          bounding_box:
                            top: 0.2624270021915436
                            left: 0.33634644746780396
                            height: 0.16271178424358368
                            width: 0.07856769859790802
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.7122397613525391
                            sharpness: 0.09912903785705567
                            pose:
                              pitch: -0.3782940292358398
                              roll: -0.016047968864440917
                              yawn: -0.04008260726928711
                          landmarks:
                            eye_left:
                            - 0.3567984998226166
                            - 0.3363436758518219
                            eye_right:
                            - 0.3893800675868988
                            - 0.3327811360359192
                            nose:
                            - 0.37387576699256897
                            - 0.37398427724838257
                            mouth_left:
                            - 0.3633836507797241
                            - 0.3830031454563141
                            mouth_right:
                            - 0.3909211754798889
                            - 0.3802117109298706
                        - offset: 0.967
                          bounding_box:
                            top: 0.2197563201189041
                            left: 0.5439249277114868
                            height: 0.15629111230373383
                            width: 0.05846848338842392
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.3406288528442383
                            sharpness: 0.057756686210632326
                            pose:
                              pitch: 0.16494979858398437
                              roll: 0.12304269790649414
                              yawn: 0.17253198623657226
                          landmarks:
                            eye_left:
                            - 0.5705849528312683
                            - 0.2811462879180908
                            eye_right:
                            - 0.5847407579421997
                            - 0.27993884682655334
                            nose:
                            - 0.588218092918396
                            - 0.2956677973270416
                            mouth_left:
                            - 0.5720670223236084
                            - 0.33149486780166626
                            mouth_right:
                            - 0.5834769010543823
                            - 0.3298807442188263
                        - offset: 1.468
                          bounding_box:
                            top: 0.22829708456993103
                            left: 0.5142980813980103
                            height: 0.16610179841518402
                            width: 0.06518764793872833
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.5502687072753907
                            sharpness: 0.09912903785705567
                            pose:
                              pitch: 0.16134654998779296
                              roll: -0.019574230909347533
                              yawn: 0.21404800415039063
                          landmarks:
                            eye_left:
                            - 0.5391582250595093
                            - 0.2900879383087158
                            eye_right:
                            - 0.5645768046379089
                            - 0.28386855125427246
                            nose:
                            - 0.5623643398284912
                            - 0.309365451335907
                            mouth_left:
                            - 0.546422004699707
                            - 0.34633108973503113
                            mouth_right:
                            - 0.5675109028816223
                            - 0.34087738394737244
                        - offset: 1.468
                          bounding_box:
                            top: 0.2582591474056244
                            left: 0.3656918406486511
                            height: 0.17084762454032898
                            width: 0.07564325630664825
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.7128793334960938
                            sharpness: 0.09912903785705567
                            pose:
                              pitch: -0.29456472396850586
                              roll: 0.043649296760559085
                              yawn: -0.05091113090515137
                          landmarks:
                            eye_left:
                            - 0.3839375972747803
                            - 0.3298777639865875
                            eye_right:
                            - 0.41602951288223267
                            - 0.3328210711479187
                            nose:
                            - 0.39778217673301697
                            - 0.37006640434265137
                            mouth_left:
                            - 0.3871428668498993
                            - 0.38002273440361023
                            mouth_right:
                            - 0.4141921103000641
                            - 0.3827017843723297
                        - offset: 1.968
                          bounding_box:
                            top: 0.24285827577114105
                            left: 0.4890768527984619
                            height: 0.14681750535964966
                            width: 0.0719146728515625
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.691504135131836
                            sharpness: 0.09912903785705567
                            pose:
                              pitch: 0.21001726150512695
                              roll: -0.22833114624023437
                              yawn: 0.14202193260192872
                          landmarks:
                            eye_left:
                            - 0.5120893120765686
                            - 0.3048352301120758
                            eye_right:
                            - 0.5359270572662354
                            - 0.28409242630004883
                            nose:
                            - 0.5366584658622742
                            - 0.30745357275009155
                            mouth_left:
                            - 0.5293897986412048
                            - 0.35068169236183167
                            mouth_right:
                            - 0.5491586327552795
                            - 0.3331648111343384
                        - offset: 1.968
                          bounding_box:
                            top: 0.269928514957428
                            left: 0.35373300313949585
                            height: 0.1706061065196991
                            width: 0.07528109848499298
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.7066082000732422
                            sharpness: 0.09912903785705567
                            pose:
                              pitch: -0.29128150939941405
                              roll: 0.04428085327148437
                              yawn: -0.041585960388183595
                          landmarks:
                            eye_left:
                            - 0.37197810411453247
                            - 0.34051966667175293
                            eye_right:
                            - 0.4041566848754883
                            - 0.3436434864997864
                            nose:
                            - 0.38590943813323975
                            - 0.38056933879852295
                            mouth_left:
                            - 0.37436121702194214
                            - 0.39053913950920105
                            mouth_right:
                            - 0.40148481726646423
                            - 0.3933355510234833
                        - offset: 2.469
                          bounding_box:
                            top: 0.2770231068134308
                            left: 0.4600149691104889
                            height: 0.13326013088226318
                            width: 0.07522072643041611
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.5638811492919922
                            sharpness: 0.057756686210632326
                            pose:
                              pitch: 0.39575096130371096
                              roll: -0.35020965576171875
                              yawn: 0.11719594955444336
                          landmarks:
                            eye_left:
                            - 0.4798644185066223
                            - 0.3309122622013092
                            eye_right:
                            - 0.5030348300933838
                            - 0.3018454909324646
                            nose:
                            - 0.499004065990448
                            - 0.3166872262954712
                            mouth_left:
                            - 0.5005382299423218
                            - 0.3628467917442322
                            mouth_right:
                            - 0.5198382139205933
                            - 0.33861759305000305
                        - offset: 2.469
                          bounding_box:
                            top: 0.289128839969635
                            left: 0.3444349765777588
                            height: 0.15765585005283356
                            width: 0.07150392234325409
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.6991831970214843
                            sharpness: 0.09912903785705567
                            pose:
                              pitch: -0.4089455032348633
                              roll: 0.0746841287612915
                              yawn: -0.09615306854248047
                          landmarks:
                            eye_left:
                            - 0.35834842920303345
                            - 0.35199540853500366
                            eye_right:
                            - 0.3895372152328491
                            - 0.3566133677959442
                            nose:
                            - 0.3702610433101654
                            - 0.3945773243904114
                            mouth_left:
                            - 0.36244910955429077
                            - 0.40005937218666077
                            mouth_right:
                            - 0.38884732127189636
                            - 0.40430232882499695
                        - offset: 2.969
                          bounding_box:
                            top: 0.2809487581253052
                            left: 0.3254140615463257
                            height: 0.1667991280555725
                            width: 0.0777169018983841
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.7149951171875
                            sharpness: 0.09912903785705567
                            pose:
                              pitch: -0.47822879791259765
                              roll: 0.12746990203857422
                              yawn: -0.19659982681274413
                          landmarks:
                            eye_left:
                            - 0.33976876735687256
                            - 0.3473586142063141
                            eye_right:
                            - 0.3685714900493622
                            - 0.35316893458366394
                            nose:
                            - 0.3493102192878723
                            - 0.39305004477500916
                            mouth_left:
                            - 0.34725046157836914
                            - 0.3947656452655792
                            mouth_right:
                            - 0.37168997526168823
                            - 0.4002373516559601
                        - offset: 2.969
                          bounding_box:
                            top: 0.2924427092075348
                            left: 0.4448201656341553
                            height: 0.12998268008232117
                            width: 0.07778482139110565
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.568074836730957
                            sharpness: 0.09912903785705567
                            pose:
                              pitch: 0.386623649597168
                              roll: -0.4118740463256836
                              yawn: 0.11062746047973633
                          landmarks:
                            eye_left:
                            - 0.4657980799674988
                            - 0.3500027060508728
                            eye_right:
                            - 0.4871078133583069
                            - 0.3158942759037018
                            nose:
                            - 0.4837109446525574
                            - 0.3317519426345825
                            mouth_left:
                            - 0.4885455071926117
                            - 0.37746161222457886
                            mouth_right:
                            - 0.5062900185585022
                            - 0.3490559160709381
                        - offset: 3.47
                          bounding_box:
                            top: 0.2791826128959656
                            left: 0.442953884601593
                            height: 0.14874199032783508
                            width: 0.0778512954711914
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.6073491668701172
                            sharpness: 0.09912903785705567
                            pose:
                              pitch: 0.27446971893310546
                              roll: -0.42252857208251954
                              yawn: 0.10013623237609863
                          landmarks:
                            eye_left:
                            - 0.46515196561813354
                            - 0.3508029878139496
                            eye_right:
                            - 0.4860917925834656
                            - 0.3141777813434601
                            nose:
                            - 0.4853251874446869
                            - 0.3375622034072876
                            mouth_left:
                            - 0.4892212748527527
                            - 0.3828539550304413
                            mouth_right:
                            - 0.5066384673118591
                            - 0.3522855043411255
                        - offset: 3.47
                          bounding_box:
                            top: 0.31366077065467834
                            left: 0.31748253107070923
                            height: 0.15680593252182007
                            width: 0.0772925391793251
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.6421357727050782
                            sharpness: 0.057756686210632326
                            pose:
                              pitch: -0.6067398071289063
                              roll: 0.24997613906860353
                              yawn: -0.3029631042480469
                          landmarks:
                            eye_left:
                            - 0.33083492517471313
                            - 0.3745585083961487
                            eye_right:
                            - 0.3494393527507782
                            - 0.38669466972351074
                            nose:
                            - 0.332939088344574
                            - 0.4188810884952545
                            mouth_left:
                            - 0.3410674035549164
                            - 0.4147099256515503
                            mouth_right:
                            - 0.3569055199623108
                            - 0.42576852440834045
                        - offset: 3.97
                          bounding_box:
                            top: 0.2469833344221115
                            left: 0.4701120853424072
                            height: 0.1535707265138626
                            width: 0.0779091864824295
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.6885219573974609
                            sharpness: 0.07589449882507324
                            pose:
                              pitch: 0.12408408164978027
                              roll: -0.303157844543457
                              yawn: 0.13979065895080567
                          landmarks:
                            eye_left:
                            - 0.4957032799720764
                            - 0.318835586309433
                            eye_right:
                            - 0.5197170376777649
                            - 0.29117193818092346
                            nose:
                            - 0.5217894315719604
                            - 0.3210897743701935
                            mouth_left:
                            - 0.5150320529937744
                            - 0.3643539547920227
                            mouth_right:
                            - 0.5349773168563843
                            - 0.34098705649375916
                        - offset: 3.97
                          bounding_box:
                            top: 0.31287723779678345
                            left: 0.3512497842311859
                            height: 0.15755170583724976
                            width: 0.07038531452417374
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.6059975051879882
                            sharpness: 0.057756686210632326
                            pose:
                              pitch: -0.6843618011474609
                              roll: 0.5244950485229493
                              yawn: -0.2533672142028809
                          landmarks:
                            eye_left:
                            - 0.36502063274383545
                            - 0.37883177399635315
                            eye_right:
                            - 0.37924742698669434
                            - 0.3942195773124695
                            nose:
                            - 0.3547930419445038
                            - 0.41244134306907654
                            mouth_left:
                            - 0.36356955766677856
                            - 0.3999451994895935
                            mouth_right:
                            - 0.3757188618183136
                            - 0.41373270750045776
                        - offset: 4.471
                          bounding_box:
                            top: 0.24121233820915222
                            left: 0.5111948847770691
                            height: 0.1621367633342743
                            width: 0.06453900039196014
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.7548524475097657
                            sharpness: 0.12848764419555664
                            pose:
                              pitch: -0.10425830841064453
                              roll: -0.17497610092163085
                              yawn: 0.3512944030761719
                          landmarks:
                            eye_left:
                            - 0.5414785146713257
                            - 0.3112136423587799
                            eye_right:
                            - 0.5624946355819702
                            - 0.29711291193962097
                            nose:
                            - 0.5659894347190857
                            - 0.33062097430229187
                            mouth_left:
                            - 0.5475658178329468
                            - 0.3624161183834076
                            mouth_right:
                            - 0.5650150775909424
                            - 0.3500843346118927
                        - offset: 4.471
                          bounding_box:
                            top: 0.30734044313430786
                            left: 0.37382060289382935
                            height: 0.1618364155292511
                            width: 0.07396884262561798
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.5818547439575196
                            sharpness: 0.07589449882507324
                            pose:
                              pitch: -0.5946860504150391
                              roll: 0.4310526657104492
                              yawn: -0.06075949668884277
                          landmarks:
                            eye_left:
                            - 0.3913421332836151
                            - 0.3923816382884979
                            eye_right:
                            - 0.3973156809806824
                            - 0.4039766490459442
                            nose:
                            - 0.3757980763912201
                            - 0.4043136537075043
                            mouth_left:
                            - 0.3859426975250244
                            - 0.37756165862083435
                            mouth_right:
                            - 0.3912580609321594
                            - 0.3879739046096802
                        - offset: 4.471
                          bounding_box:
                            top: 0.43308988213539124
                            left: 0.24856619536876678
                            height: 0.12205725908279419
                            width: 0.05301518365740776
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.6343801498413086
                            sharpness: 0.033018569946289066
                            pose:
                              pitch: 1.5091635131835937
                              roll: 1.763344268798828
                              yawn: 0.6762984466552734
                          landmarks:
                            eye_left:
                            - 0.297524631023407
                            - 0.47611066699028015
                            eye_right:
                            - 0.30191007256507874
                            - 0.4825507402420044
                            nose:
                            - 0.31583109498023987
                            - 0.48958033323287964
                            mouth_left:
                            - 0.29868096113204956
                            - 0.5129603743553162
                            mouth_right:
                            - 0.3020774722099304
                            - 0.518137514591217
                        - offset: 4.971
                          bounding_box:
                            top: 0.2183266282081604
                            left: 0.5514860153198242
                            height: 0.1721893548965454
                            width: 0.06078972667455673
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.6046248626708984
                            sharpness: 0.09912903785705567
                            pose:
                              pitch: 0.04108395099639892
                              roll: 0.07093077182769775
                              yawn: 0.4071604156494141
                          landmarks:
                            eye_left:
                            - 0.5846532583236694
                            - 0.2851668894290924
                            eye_right:
                            - 0.6055759787559509
                            - 0.2880695164203644
                            nose:
                            - 0.6055920720100403
                            - 0.31518125534057617
                            mouth_left:
                            - 0.5837544798851013
                            - 0.3415589928627014
                            mouth_right:
                            - 0.6011171936988831
                            - 0.34356406331062317
                        - offset: 4.971
                          bounding_box:
                            top: 0.27933400869369507
                            left: 0.36891239881515503
                            height: 0.16769231855869293
                            width: 0.07290570437908173
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.576660041809082
                            sharpness: 0.057756686210632326
                            pose:
                              pitch: -0.5364440536499023
                              roll: 0.4570199584960937
                              yawn: -0.11573976516723633
                          landmarks:
                            eye_left:
                            - 0.3798009157180786
                            - 0.33616724610328674
                            eye_right:
                            - 0.3981250822544098
                            - 0.3674319088459015
                            nose:
                            - 0.3700191378593445
                            - 0.3836427330970764
                            mouth_left:
                            - 0.37787169218063354
                            - 0.3832106292247772
                            mouth_right:
                            - 0.39324676990509033
                            - 0.41030260920524597
                        - offset: 4.971
                          bounding_box:
                            top: 0.22334875166416168
                            left: 0.6664133667945862
                            height: 0.11823064833879471
                            width: 0.028342152014374733
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.6559632873535156
                            sharpness: 0.024851987361907957
                            pose:
                              pitch: -0.32341617584228516
                              roll: 0.2385350799560547
                              yawn: -0.7058424377441406
                          landmarks:
                            eye_left:
                            - 0.6721857786178589
                            - 0.2647370398044586
                            eye_right:
                            - 0.675355851650238
                            - 0.2628328204154968
                            nose:
                            - 0.6615116000175476
                            - 0.27600815892219543
                            mouth_left:
                            - 0.6729434728622437
                            - 0.28609803318977356
                            mouth_right:
                            - 0.6754983067512512
                            - 0.2852035462856293
                        - offset: 4.971
                          bounding_box:
                            top: 0.37664341926574707
                            left: 0.2827480733394623
                            height: 0.09067133069038391
                            width: 0.03532824665307999
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.6635029602050782
                            sharpness: 0.01866628050804138
                            pose:
                              pitch: -0.20957277297973634
                              roll: 1.011887664794922
                              yawn: -0.03568403005599976
                          landmarks:
                            eye_left:
                            - 0.3147760033607483
                            - 0.43541669845581055
                            eye_right:
                            - 0.31699252128601074
                            - 0.45309174060821533
                            nose:
                            - 0.3137425184249878
                            - 0.4725840985774994
                            mouth_left:
                            - 0.2980801463127136
                            - 0.4582129716873169
                            mouth_right:
                            - 0.2999395728111267
                            - 0.47254425287246704
                        - offset: 5.472
                          bounding_box:
                            top: 0.1947600543498993
                            left: 0.5873342752456665
                            height: 0.1644253134727478
                            width: 0.061267852783203125
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.6334624862670899
                            sharpness: 0.12848764419555664
                            pose:
                              pitch: 0.35974586486816407
                              roll: 0.36272605895996096
                              yawn: 0.4672608947753906
                          landmarks:
                            eye_left:
                            - 0.6240096092224121
                            - 0.2514769732952118
                            eye_right:
                            - 0.6382266283035278
                            - 0.26588425040245056
                            nose:
                            - 0.64444899559021
                            - 0.2815685570240021
                            mouth_left:
                            - 0.6242258548736572
                            - 0.3077460825443268
                            mouth_right:
                            - 0.635798990726471
                            - 0.31942832469940186
                        - offset: 5.472
                          bounding_box:
                            top: 0.1120854914188385
                            left: 0.7004586458206177
                            height: 0.13731500506401062
                            width: 0.04772648960351944
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.6199575805664063
                            sharpness: 0.04374836921691894
                            pose:
                              pitch: -0.2034913444519043
                              roll: -0.0076824182271957395
                              yawn: -0.7507686614990234
                          landmarks:
                            eye_left:
                            - 0.7118396162986755
                            - 0.17796093225479126
                            eye_right:
                            - 0.7128856778144836
                            - 0.17336131632328033
                            nose:
                            - 0.7043442726135254
                            - 0.2040601521730423
                            mouth_left:
                            - 0.7218648195266724
                            - 0.21963390707969666
                            mouth_right:
                            - 0.7224749326705933
                            - 0.21654284000396729
                        - offset: 5.472
                          bounding_box:
                            top: 0.23715652525424957
                            left: 0.38455629348754883
                            height: 0.18247412145137787
                            width: 0.0714743584394455
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.6430512237548828
                            sharpness: 0.09912903785705567
                            pose:
                              pitch: -0.5944841003417969
                              roll: 0.502596321105957
                              yawn: -0.2567878150939941
                          landmarks:
                            eye_left:
                            - 0.39606234431266785
                            - 0.2959534823894501
                            eye_right:
                            - 0.41577595472335815
                            - 0.3248012363910675
                            nose:
                            - 0.3892117440700531
                            - 0.3443005383014679
                            mouth_left:
                            - 0.39505308866500854
                            - 0.3477559983730316
                            mouth_right:
                            - 0.4115857481956482
                            - 0.37281328439712524
                        - offset: 5.472
                          bounding_box:
                            top: 0.345314621925354
                            left: 0.29657116532325745
                            height: 0.10963185876607895
                            width: 0.03467423841357231
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.8033388519287109
                            sharpness: 0.033018569946289066
                            pose:
                              pitch: 0.7952771759033204
                              roll: 1.2277076721191407
                              yawn: 0.8633406829833984
                          landmarks:
                            eye_left:
                            - 0.3242136538028717
                            - 0.39862000942230225
                            eye_right:
                            - 0.32537487149238586
                            - 0.42244288325309753
                            nose:
                            - 0.3167957663536072
                            - 0.41100361943244934
                            mouth_left:
                            - 0.3088822662830353
                            - 0.39753854274749756
                            mouth_right:
                            - 0.30990344285964966
                            - 0.4174231290817261
                        - offset: 5.972
                          bounding_box:
                            top: 0.16409112513065338
                            left: 0.7118709087371826
                            height: 0.12102968245744705
                            width: 0.054574109613895416
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.6136443710327149
                            sharpness: 0.033018569946289066
                            pose:
                              pitch: -0.36784969329833983
                              roll: 0.06475648403167725
                              yawn: -0.7646678924560547
                          landmarks:
                            eye_left:
                            - 0.7255262136459351
                            - 0.22184425592422485
                            eye_right:
                            - 0.7284246683120728
                            - 0.22169309854507446
                            nose:
                            - 0.7203433513641357
                            - 0.24992646276950836
                            mouth_left:
                            - 0.7376403212547302
                            - 0.25935953855514526
                            mouth_right:
                            - 0.7399121522903442
                            - 0.26004886627197266
                        - offset: 5.972
                          bounding_box:
                            top: 0.21220934391021729
                            left: 0.3813124895095825
                            height: 0.1876174658536911
                            width: 0.07107551395893097
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.6647689819335938
                            sharpness: 0.09912903785705567
                            pose:
                              pitch: -0.5234045028686524
                              roll: 0.4292229461669922
                              yawn: -0.4490299606323242
                          landmarks:
                            eye_left:
                            - 0.3920207619667053
                            - 0.27375710010528564
                            eye_right:
                            - 0.4072175920009613
                            - 0.29662662744522095
                            nose:
                            - 0.38306599855422974
                            - 0.3207997977733612
                            mouth_left:
                            - 0.3949469029903412
                            - 0.33318957686424255
                            mouth_right:
                            - 0.40751615166664124
                            - 0.3533211350440979
                        - offset: 5.972
                          bounding_box:
                            top: 0.19070027768611908
                            left: 0.5779880285263062
                            height: 0.16962386667728424
                            width: 0.0577029213309288
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.770445556640625
                            sharpness: 0.1649492073059082
                            pose:
                              pitch: 0.4986775970458984
                              roll: 0.49143035888671877
                              yawn: 0.47395011901855466
                          landmarks:
                            eye_left:
                            - 0.6119840741157532
                            - 0.24125510454177856
                            eye_right:
                            - 0.6230839490890503
                            - 0.2607482373714447
                            nose:
                            - 0.6323407888412476
                            - 0.27316543459892273
                            mouth_left:
                            - 0.6119384765625
                            - 0.3003334105014801
                            mouth_right:
                            - 0.6207718849182129
                            - 0.3162219524383545
                        - offset: 5.972
                          bounding_box:
                            top: 0.35138940811157227
                            left: 0.30132442712783813
                            height: 0.12510812282562256
                            width: 0.03788185119628906
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.7478917694091797
                            sharpness: 0.04374836921691894
                            pose:
                              pitch: -0.178173828125
                              roll: 0.15719203948974608
                              yawn: 0.796867446899414
                          landmarks:
                            eye_left:
                            - 0.3282037079334259
                            - 0.4109742343425751
                            eye_right:
                            - 0.3314482569694519
                            - 0.4345632791519165
                            nose:
                            - 0.3149496614933014
                            - 0.43252822756767273
                            mouth_left:
                            - 0.30650871992111206
                            - 0.4132651090621948
                            mouth_right:
                            - 0.3093511164188385
                            - 0.4329800009727478
                        - offset: 6.473
                          bounding_box:
                            top: 0.15877820551395416
                            left: 0.6938343048095703
                            height: 0.12931828200817108
                            width: 0.05404844135046005
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.639637336730957
                            sharpness: 0.04374836921691894
                            pose:
                              pitch: -0.5372547531127929
                              roll: 0.3478340530395508
                              yawn: -0.625114631652832
                          landmarks:
                            eye_left:
                            - 0.7028049230575562
                            - 0.20793934166431427
                            eye_right:
                            - 0.7107017636299133
                            - 0.21400149166584015
                            nose:
                            - 0.6971379518508911
                            - 0.23774859309196472
                            mouth_left:
                            - 0.7099348306655884
                            - 0.25075381994247437
                            mouth_right:
                            - 0.7163801789283752
                            - 0.2565526068210602
                        - offset: 6.473
                          bounding_box:
                            top: 0.2249777466058731
                            left: 0.37434032559394836
                            height: 0.1785527616739273
                            width: 0.07099650055170059
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.6110932159423829
                            sharpness: 0.057756686210632326
                            pose:
                              pitch: -0.6274467086791993
                              roll: 0.5050553131103516
                              yawn: -0.4816922760009766
                          landmarks:
                            eye_left:
                            - 0.3860169053077698
                            - 0.28427228331565857
                            eye_right:
                            - 0.3959977328777313
                            - 0.3013972043991089
                            nose:
                            - 0.37579649686813354
                            - 0.3290688097476959
                            mouth_left:
                            - 0.3927331566810608
                            - 0.34438517689704895
                            mouth_right:
                            - 0.40083441138267517
                            - 0.35977885127067566
                        - offset: 6.473
                          bounding_box:
                            top: 0.1851387917995453
                            left: 0.578524649143219
                            height: 0.17188848555088043
                            width: 0.06115899235010147
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.8241294860839844
                            sharpness: 0.12848764419555664
                            pose:
                              pitch: 0.6064627838134765
                              roll: 0.5894875717163086
                              yawn: 0.45230926513671876
                          landmarks:
                            eye_left:
                            - 0.6160550117492676
                            - 0.23675361275672913
                            eye_right:
                            - 0.6242116689682007
                            - 0.25503870844841003
                            nose:
                            - 0.6376401782035828
                            - 0.26663416624069214
                            mouth_left:
                            - 0.6182875037193298
                            - 0.2965768575668335
                            mouth_right:
                            - 0.6245545744895935
                            - 0.31145063042640686
                        - offset: 6.473
                          bounding_box:
                            top: 0.34759780764579773
                            left: 0.2969802916049957
                            height: 0.12464667111635208
                            width: 0.03982729837298393
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.6660501098632813
                            sharpness: 0.04374836921691894
                            pose:
                              pitch: 1.3948872375488282
                              roll: 1.4878352355957032
                              yawn: 0.8358543395996094
                          landmarks:
                            eye_left:
                            - 0.32595574855804443
                            - 0.4066956043243408
                            eye_right:
                            - 0.32895153760910034
                            - 0.41852110624313354
                            nose:
                            - 0.32572394609451294
                            - 0.43501198291778564
                            mouth_left:
                            - 0.3116171956062317
                            - 0.42790359258651733
                            mouth_right:
                            - 0.31412824988365173
                            - 0.4374520182609558
                        - offset: 6.973
                          bounding_box:
                            top: 0.16854612529277802
                            left: 0.6740738153457642
                            height: 0.13725721836090088
                            width: 0.05331831052899361
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.692323989868164
                            sharpness: 0.04374836921691894
                            pose:
                              pitch: -0.16991539001464845
                              roll: -0.09056486129760742
                              yawn: -0.7503435516357422
                          landmarks:
                            eye_left:
                            - 0.6876050233840942
                            - 0.2307276427745819
                            eye_right:
                            - 0.6911380887031555
                            - 0.2280966192483902
                            nose:
                            - 0.6826364398002625
                            - 0.2587248980998993
                            mouth_left:
                            - 0.6989673972129822
                            - 0.2720809578895569
                            mouth_right:
                            - 0.7017608284950256
                            - 0.2706610858440399
                        - offset: 6.973
                          bounding_box:
                            top: 0.2109716683626175
                            left: 0.36068224906921387
                            height: 0.18202386796474457
                            width: 0.06898832321166992
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.6164716339111328
                            sharpness: 0.07589449882507324
                            pose:
                              pitch: -0.6277908706665039
                              roll: 0.5241615295410156
                              yawn: -0.4347029113769531
                          landmarks:
                            eye_left:
                            - 0.3714662194252014
                            - 0.27182480692863464
                            eye_right:
                            - 0.3831002712249756
                            - 0.2931964099407196
                            nose:
                            - 0.3610827922821045
                            - 0.31833893060684204
                            mouth_left:
                            - 0.3762931525707245
                            - 0.3306487202644348
                            mouth_right:
                            - 0.385824978351593
                            - 0.34958791732788086
                        - offset: 6.973
                          bounding_box:
                            top: 0.18559497594833374
                            left: 0.5933566093444824
                            height: 0.16547545790672302
                            width: 0.0590968132019043
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.8252858734130859
                            sharpness: 0.12848764419555664
                            pose:
                              pitch: 0.6236291122436524
                              roll: 0.6255385208129883
                              yawn: 0.3724923324584961
                          landmarks:
                            eye_left:
                            - 0.6285364031791687
                            - 0.23697131872177124
                            eye_right:
                            - 0.637109637260437
                            - 0.25740811228752136
                            nose:
                            - 0.6491132378578186
                            - 0.2663288414478302
                            mouth_left:
                            - 0.6299086809158325
                            - 0.2934691905975342
                            mouth_right:
                            - 0.6365289688110352
                            - 0.3101311922073364
                        - offset: 6.973
                          bounding_box:
                            top: 0.3377749025821686
                            left: 0.2804248332977295
                            height: 0.13312454521656036
                            width: 0.039553284645080566
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.6161178970336914
                            sharpness: 0.057756686210632326
                            pose:
                              pitch: 1.3151068115234374
                              roll: 1.3471939086914062
                              yawn: 0.8233958435058594
                          landmarks:
                            eye_left:
                            - 0.313118040561676
                            - 0.3940662741661072
                            eye_right:
                            - 0.3183443248271942
                            - 0.39675042033195496
                            nose:
                            - 0.32576584815979004
                            - 0.4222268760204315
                            mouth_left:
                            - 0.30775052309036255
                            - 0.4366942048072815
                            mouth_right:
                            - 0.3119455873966217
                            - 0.4384099245071411
                        - offset: 7.474
                          bounding_box:
                            top: 0.21616367995738983
                            left: 0.3288160264492035
                            height: 0.18494050204753876
                            width: 0.06871678680181503
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.6153944778442383
                            sharpness: 0.057756686210632326
                            pose:
                              pitch: -0.6259669494628907
                              roll: 0.5416992950439453
                              yawn: -0.401964111328125
                          landmarks:
                            eye_left:
                            - 0.34088021516799927
                            - 0.27728164196014404
                            eye_right:
                            - 0.3518523573875427
                            - 0.2995389401912689
                            nose:
                            - 0.32876157760620117
                            - 0.3243967294692993
                            mouth_left:
                            - 0.345327764749527
                            - 0.3369895815849304
                            mouth_right:
                            - 0.35428717732429504
                            - 0.3567747473716736
                        - offset: 7.474
                          bounding_box:
                            top: 0.1928536593914032
                            left: 0.5954114198684692
                            height: 0.163480743765831
                            width: 0.057108066976070404
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.7978258514404297
                            sharpness: 0.09912903785705567
                            pose:
                              pitch: 0.5831228256225586
                              roll: 0.606581916809082
                              yawn: 0.44563968658447267
                          landmarks:
                            eye_left:
                            - 0.6307655572891235
                            - 0.2444240003824234
                            eye_right:
                            - 0.6398667693138123
                            - 0.2664547562599182
                            nose:
                            - 0.6501497626304626
                            - 0.27602440118789673
                            mouth_left:
                            - 0.6303831338882446
                            - 0.2999403476715088
                            mouth_right:
                            - 0.6375088095664978
                            - 0.3179551064968109
                        - offset: 7.474
                          bounding_box:
                            top: 0.16546279191970825
                            left: 0.6768275499343872
                            height: 0.14147797226905823
                            width: 0.045705556869506836
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.7192690277099609
                            sharpness: 0.04374836921691894
                            pose:
                              pitch: 0.2807354545593262
                              roll: -0.4120305633544922
                              yawn: -0.7555253601074219
                          landmarks:
                            eye_left:
                            - 0.6878955960273743
                            - 0.23490460216999054
                            eye_right:
                            - 0.688019871711731
                            - 0.21800346672534943
                            nose:
                            - 0.6773132085800171
                            - 0.2541307508945465
                            mouth_left:
                            - 0.69553142786026
                            - 0.27873754501342773
                            mouth_right:
                            - 0.6953075528144836
                            - 0.26527658104896545
                        - offset: 7.474
                          bounding_box:
                            top: 0.3659723401069641
                            left: 0.24582889676094055
                            height: 0.10993461310863495
                            width: 0.0342973954975605
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.7507518768310547
                            sharpness: 0.033018569946289066
                            pose:
                              pitch: -0.08064810752868652
                              roll: -0.3217228698730469
                              yawn: 0.8680576324462891
                          landmarks:
                            eye_left:
                            - 0.2671293616294861
                            - 0.4054774045944214
                            eye_right:
                            - 0.2680374085903168
                            - 0.40612754225730896
                            nose:
                            - 0.28012269735336304
                            - 0.41066017746925354
                            mouth_left:
                            - 0.2728666067123413
                            - 0.4349111318588257
                            mouth_right:
                            - 0.27321258187294006
                            - 0.43521127104759216
                        - offset: 7.974
                          bounding_box:
                            top: 0.2605838179588318
                            left: 0.27067339420318604
                            height: 0.14663580060005188
                            width: 0.07635350525379181
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.5769867324829101
                            sharpness: 0.04374836921691894
                            pose:
                              pitch: -0.7174626922607422
                              roll: 0.3782356262207031
                              yawn: -0.46548053741455075
                          landmarks:
                            eye_left:
                            - 0.2846810221672058
                            - 0.3152616024017334
                            eye_right:
                            - 0.2992647886276245
                            - 0.3298577070236206
                            nose:
                            - 0.2825472950935364
                            - 0.36040136218070984
                            mouth_left:
                            - 0.29712480306625366
                            - 0.3601101040840149
                            mouth_right:
                            - 0.30950456857681274
                            - 0.3734228014945984
                        - offset: 7.974
                          bounding_box:
                            top: 0.19347722828388214
                            left: 0.5972191691398621
                            height: 0.17112191021442413
                            width: 0.05697502940893173
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.797369384765625
                            sharpness: 0.12848764419555664
                            pose:
                              pitch: 0.5642288589477539
                              roll: 0.5886643600463867
                              yawn: 0.5122715377807617
                          landmarks:
                            eye_left:
                            - 0.6333751678466797
                            - 0.24955745041370392
                            eye_right:
                            - 0.6430341601371765
                            - 0.2676023244857788
                            nose:
                            - 0.6514124274253845
                            - 0.2826905846595764
                            mouth_left:
                            - 0.6309030652046204
                            - 0.30601048469543457
                            mouth_right:
                            - 0.6386024355888367
                            - 0.3206915855407715
                        - offset: 7.974
                          bounding_box:
                            top: 0.22866863012313843
                            left: 0.6726239919662476
                            height: 0.13427692651748657
                            width: 0.039292335510253906
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.7034915161132812
                            sharpness: 0.04374836921691894
                            pose:
                              pitch: 0.5745171737670899
                              roll: -0.5441442489624023
                              yawn: -0.7286224365234375
                          landmarks:
                            eye_left:
                            - 0.6848875284194946
                            - 0.31938937306404114
                            eye_right:
                            - 0.6802067160606384
                            - 0.3194197118282318
                            nose:
                            - 0.6676188707351685
                            - 0.30372804403305054
                            mouth_left:
                            - 0.6834843754768372
                            - 0.28472110629081726
                            mouth_right:
                            - 0.6796398758888245
                            - 0.2853599488735199
                        - offset: 8.475
                          bounding_box:
                            top: 0.2656606137752533
                            left: 0.25488215684890747
                            height: 0.15458934009075165
                            width: 0.08712279796600342
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.689755630493164
                            sharpness: 0.057756686210632326
                            pose:
                              pitch: -0.43765140533447267
                              roll: -0.18007701873779297
                              yawn: -0.07843775749206543
                          landmarks:
                            eye_left:
                            - 0.28423458337783813
                            - 0.35112008452415466
                            eye_right:
                            - 0.31507983803749084
                            - 0.33264854550361633
                            nose:
                            - 0.3061763346195221
                            - 0.38231706619262695
                            mouth_left:
                            - 0.2965448200702667
                            - 0.39129677414894104
                            mouth_right:
                            - 0.32269224524497986
                            - 0.37589913606643677
                        - offset: 8.475
                          bounding_box:
                            top: 0.18940407037734985
                            left: 0.582525372505188
                            height: 0.1363411545753479
                            width: 0.06262264400720596
                          attributes:
                            headwear: null
                            frontal_gaze: null
                            eyes_visible: null
                            glasses: null
                            mouth_open: null
                            smiling: null
                            brightness: 0.855660171508789
[...]
