openapi: 3.1.0
info:
  title: Eden AI Audio Translation API
  version: '2.0'
  description: Eden AI is a unified AI gateway providing access to 500+ AI models from 50+ providers through a single API. Exposes LLM (chat completions, embeddings), Universal AI (OCR, image, video, audio, text analysis), file management, and async jobs with webhooks.
  contact:
    name: Eden AI
    url: https://www.edenai.co
servers:
- url: https://api.edenai.run/v2
  description: Production
security:
- bearerAuth: []
tags:
- name: Translation
paths:
  /translation/automatic_translation:
    post:
      summary: Automatic translation
      operationId: automaticTranslation
      tags:
      - Translation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - providers
              - text
              - source_language
              - target_language
              properties:
                providers:
                  type: string
                text:
                  type: string
                source_language:
                  type: string
                target_language:
                  type: string
      responses:
        '200':
          description: Translation results
          content:
            application/json:
              schema:
                type: object
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key
