openapi: 3.2.0
info:
  title: Video Features Person Tracking Async API
  version: '2.0'
  description: Your project description
servers:
- url: https://api.edenai.run/v2
tags:
- name: Person Tracking Async
paths:
  /video/person_tracking_async/:
    get:
      operationId: video_person_tracking_async_retrieve
      description: 'Get a list of all jobs launched for this feature. You''ll then be able to use the ID of each one to get its status and results.


        Please note that a **job status doesn''t get updated until a get request** is sent.'
      summary: Person Tracking List Jobs
      tags:
      - Person Tracking Async
      security:
      - FeatureApiAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAsyncJobResponse'
              examples:
                ResponseExample:
                  value:
                    jobs:
                    - providers: '[''amazon'', ''google'']'
                      nb: 2
                      nb_ok: 2
                      public_id: b57b4a99-1415-4e5d-a947-f89f6cf1ed91
                      state: finished
                      created_at: '2026-09-06T00:05:20.305104'
                    - providers: '[''amazon'', ''google'']'
                      nb: 2
                      nb_ok: 2
                      public_id: 6e7157ec-3a8a-400e-9358-c34ed64b4bac
                      state: finished
                      created_at: '2026-09-05T23:05:20.305115'
                    - providers: '[''amazon'', ''google'']'
                      nb: 2
                      nb_ok: 2
                      public_id: 470f88e1-16c1-4c86-8a1d-70f78845e085
                      state: finished
                      created_at: '2026-09-05T22:05:20.305121'
                  summary: Response Example
          description: ''
    post:
      operationId: video_person_tracking_async_create
      description: 'Available Providers


        |Provider|Version|Price|Billing unit|

        |----|-------|-----|------------|

        |**amazon**|`boto3`|0.1 (per 60 seconde)|60 seconde

        |**google**|`Video intelligence v1`|0.1 (per 60 seconde)|1 seconde'
      summary: Person Tracking Launch Job
      tags:
      - Person Tracking Async
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AsyncVideoAnalysisRequest'
            examples:
              RequestExample:
                value:
                  providers: amazon,google
                  file: /edenai/edenai/features/video/samples/data/faces.mp4
                summary: Request Example
          application/json:
            schema:
              $ref: '#/components/schemas/AsyncVideoAnalysisRequest'
            examples:
              RequestExample:
                value:
                  providers: amazon,google
                  file_url: http://edenai-resource-example.mp4
                summary: Request Example
        required: true
      security:
      - FeatureApiAuth: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LaunchAsyncJobResponse'
              examples:
                ResponseExample:
                  value:
                    public_id: b39ccf51-e8b4-4bcb-aa5f-25a934bfcb16
                  summary: Response Example
          description: ''
    delete:
      operationId: video_person_tracking_async_destroy
      description: 'Generic class to handle method GET all async job for user


        Attributes:

        feature (str): EdenAI feature

        subfeature (str): EdenAI subfeature'
      summary: Person Tracking delete Jobs
      tags:
      - Person Tracking Async
      security:
      - FeatureApiAuth: []
      - {}
      responses:
        '204':
          description: No response body
  /video/person_tracking_async/{public_id}/:
    get:
      operationId: video_person_tracking_async_retrieve_2
      description: Get the status and results of an async job given its ID.
      summary: Person Tracking Get Job Results
      parameters:
      - in: path
        name: public_id
        schema:
          type: string
        required: true
      - in: query
        name: response_as_dict
        schema:
          type: boolean
          default: true
      - in: query
        name: show_base_64
        schema:
          type: boolean
          default: true
      - in: query
        name: show_original_response
        schema:
          type: boolean
          default: false
      tags:
      - Person Tracking Async
      security:
      - FeatureApiAuth: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asyncvideoperson_tracking_asyncResponseModel'
              examples:
                ResponseExample:
                  value:
                    public_id: d175c340-c36d-45c7-8920-c25c75b6417f
                    status: finished
                    error: null
                    results:
                      amazon:
                        error: null
                        id: cbb63a84-10e8-4812-91c9-7c4965e9a2a7
                        final_status: finished
                        persons:
                        - tracked:
                          - offset: 0.1
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.16111111640930176
                              left: 0.22499999403953552
                              height: 0.8083333373069763
                              width: 0.3203125
                          - offset: 0.166
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left:
                              - 0.35035592317581177
                              - 0.32016271352767944
                              eye_right:
                              - 0.3784897029399872
                              - 0.31402158737182617
                              nose:
                              - 0.370844304561615
                              - 0.35785502195358276
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left:
                              - 0.34715133905410767
                              - 0.3706863820552826
                              mouth_right:
                              - 0.37083297967910767
                              - 0.36509788036346436
                            poses:
                              pitch: -38.4571533203125
                              roll: -8.33173656463623
                              yaw: 27.994083404541016
                            quality:
                              brightness: 74.80060577392578
                              sharpness: 7.589449882507324
                            bounding_box:
                              top: 0.15833333134651184
                              left: 0.21406249701976776
                              height: 0.8416666388511658
                              width: 0.32343751192092896
                          - offset: 0.233
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.15555556118488312
                              left: 0.21250000596046448
                              height: 0.8444444537162781
                              width: 0.3421874940395355
                          - offset: 0.3
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.15833333134651184
                              left: 0.20781250298023224
                              height: 0.8416666388511658
                              width: 0.34375
                          - offset: 0.367
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left:
                              - 0.3388809859752655
                              - 0.3200259208679199
                              eye_right:
                              - 0.37000012397766113
                              - 0.31079310178756714
                              nose:
                              - 0.36043959856033325
                              - 0.35650545358657837
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left:
                              - 0.33976224064826965
                              - 0.3692404329776764
                              mouth_right:
                              - 0.3659927248954773
                              - 0.3612477481365204
                            poses:
                              pitch: -35.033260345458984
                              roll: -8.224872589111328
                              yaw: 15.120332717895508
                            quality:
                              brightness: 72.03105926513672
                              sharpness: 9.912903785705566
                            bounding_box:
                              top: 0.16388888657093048
                              left: 0.20937499403953552
                              height: 0.8361111283302307
                              width: 0.33281248807907104
                          - offset: 0.433
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.16388888657093048
                              left: 0.21718749403953552
                              height: 0.8361111283302307
                              width: 0.328125
                          - offset: 0.5
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.1666666716337204
                              left: 0.21875
                              height: 0.8333333134651184
                              width: 0.33281248807907104
                          - offset: 0.567
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left:
                              - 0.3340815007686615
                              - 0.32099276781082153
                              eye_right:
                              - 0.36751580238342285
                              - 0.31516915559768677
                              nose:
                              - 0.35364311933517456
                              - 0.3566029369831085
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left:
                              - 0.33820217847824097
                              - 0.37009960412979126
                              mouth_right:
                              - 0.366376668214798
                              - 0.3652310371398926
                            poses:
                              pitch: -30.15470314025879
                              roll: -6.4526286125183105
                              yaw: 4.1078782081604
                            quality:
                              brightness: 71.79043579101562
                              sharpness: 9.912903785705566
                            bounding_box:
                              top: 0.15000000596046448
                              left: 0.21875
                              height: 0.8500000238418579
                              width: 0.33906251192092896
                          - offset: 0.633
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.15000000596046448
                              left: 0.21875
                              height: 0.8500000238418579
                              width: 0.33281248807907104
                          - offset: 0.7
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.14722222089767456
                              left: 0.21875
                              height: 0.8527777791023254
                              width: 0.3375000059604645
                          - offset: 0.767
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left:
                              - 0.3429185152053833
                              - 0.3294663429260254
                              eye_right:
                              - 0.37573355436325073
                              - 0.3235471248626709
                              nose:
                              - 0.36162227392196655
                              - 0.3646738827228546
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left:
                              - 0.34889110922813416
                              - 0.3773055076599121
                              mouth_right:
                              - 0.37655335664749146
                              - 0.3724057078361511
                            poses:
                              pitch: -31.916290283203125
                              roll: -5.189921855926514
                              yaw: -0.631930947303772
                            quality:
                              brightness: 72.94206237792969
                              sharpness: 9.912903785705566
                            bounding_box:
                              top: 0.1527777761220932
                              left: 0.22343750298023224
                              height: 0.8472222089767456
                              width: 0.3375000059604645
                          - offset: 0.834
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.15833333134651184
                              left: 0.22812500596046448
                              height: 0.8416666388511658
                              width: 0.3343749940395355
                          - offset: 0.9
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.16944444179534912
                              left: 0.22968749701976776
                              height: 0.8277778029441833
                              width: 0.33125001192092896
                          - offset: 0.967
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left:
                              - 0.3567984998226166
                              - 0.3363436758518219
                              eye_right:
                              - 0.3893800675868988
                              - 0.3327811360359192
                              nose:
                              - 0.37387576699256897
                              - 0.37398427724838257
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left:
                              - 0.3633836507797241
                              - 0.3830031454563141
                              mouth_right:
                              - 0.3909211754798889
                              - 0.3802117109298706
                            poses:
                              pitch: -37.829402923583984
                              roll: -1.6047968864440918
                              yaw: -4.008260726928711
                            quality:
                              brightness: 71.2239761352539
                              sharpness: 9.912903785705566
                            bounding_box:
                              top: 0.16944444179534912
                              left: 0.23125000298023224
                              height: 0.8194444179534912
                              width: 0.33125001192092896
                          - offset: 2.836
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.17222222685813904
                              left: 0.21562500298023224
                              height: 0.8222222328186035
                              width: 0.33906251192092896
                          - offset: 2.902
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.16944444179534912
                              left: 0.21875
                              height: 0.824999988079071
                              width: 0.33281248807907104
                          - offset: 3.37
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left:
                              - 0.3273887634277344
                              - 0.3722463846206665
                              eye_right:
                              - 0.3485032618045807
                              - 0.37875649333000183
                              nose:
                              - 0.3321332335472107
                              - 0.4154469072818756
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left:
                              - 0.3387948274612427
                              - 0.41534507274627686
                              mouth_right:
                              - 0.3567606210708618
                              - 0.4215930998325348
                            poses:
                              pitch: -60.50992965698242
                              roll: 20.975570678710938
                              yaw: -26.13205909729004
                            quality:
                              brightness: 66.23565673828125
                              sharpness: 4.3748369216918945
                            bounding_box:
                              top: 0.20000000298023224
                              left: 0.20781250298023224
                              height: 0.800000011920929
                              width: 0.34062498807907104
                          - offset: 3.436
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.20555555820465088
                              left: 0.203125
                              height: 0.7944444417953491
                              width: 0.34687501192092896
                          - offset: 3.503
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.21388888359069824
                              left: 0.21406249701976776
                              height: 0.7861111164093018
                              width: 0.33281248807907104
                          - offset: 3.57
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left:
                              - 0.33654069900512695
                              - 0.37341129779815674
                              eye_right:
                              - 0.35196739435195923
                              - 0.38684356212615967
                              nose:
                              - 0.3360747694969177
                              - 0.41621702909469604
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left:
                              - 0.3471355438232422
                              - 0.4147908389568329
                              mouth_right:
                              - 0.36022627353668213
                              - 0.42691531777381897
                            poses:
                              pitch: -59.23151397705078
                              roll: 24.563234329223633
                              yaw: -33.42704772949219
                            quality:
                              brightness: 64.15531158447266
                              sharpness: 4.3748369216918945
                            bounding_box:
                              top: 0.21666666865348816
                              left: 0.20781250298023224
                              height: 0.7833333611488342
                              width: 0.3453125059604645
                          - offset: 3.636
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.22777777910232544
                              left: 0.21406249701976776
                              height: 0.769444465637207
                              width: 0.34062498807907104
                          - offset: 3.703
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.22777777910232544
                              left: 0.21406249701976776
                              height: 0.7722222208976746
                              width: 0.3421874940395355
                          - offset: 3.77
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left:
                              - 0.35235169529914856
                              - 0.3783501982688904
                              eye_right:
                              - 0.36733368039131165
                              - 0.3925798535346985
                              nose:
                              - 0.3460855185985565
                              - 0.4127647876739502
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left:
                              - 0.35374265909194946
                              - 0.39948123693466187
                              mouth_right:
                              - 0.36654728651046753
                              - 0.4122200012207031
                            poses:
                              pitch: -66.74324035644531
                              roll: 51.188262939453125
                              yaw: -4.6254801750183105
                            quality:
                              brightness: 60.5051383972168
                              sharpness: 4.3748369216918945
                            bounding_box:
                              top: 0.22777777910232544
                              left: 0.21406249701976776
                              height: 0.7722222208976746
                              width: 0.3453125059604645
                          - offset: 3.837
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.23055554926395416
                              left: 0.21718749403953552
                              height: 0.7638888955116272
                              width: 0.3359375
                          - offset: 3.903
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.23888888955116272
                              left: 0.20937499403953552
                              height: 0.75
                              width: 0.34062498807907104
                          - offset: 3.97
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left:
                              - 0.36502063274383545
                              - 0.37883177399635315
                              eye_right:
                              - 0.37924742698669434
                              - 0.3942195773124695
                              nose:
                              - 0.3547930419445038
                              - 0.41244134306907654
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left:
                              - 0.36356955766677856
                              - 0.3999451994895935
                              mouth_right:
                              - 0.3757188618183136
                              - 0.41373270750045776
                            poses:
                              pitch: -68.4361801147461
                              roll: 52.44950485229492
                              yaw: -25.336721420288086
                            quality:
                              brightness: 60.59975051879883
                              sharpness: 5.775668621063232
                            bounding_box:
                              top: 0.24722221493721008
                              left: 0.20624999701976776
                              height: 0.7444444298744202
                              width: 0.34062498807907104
                          - offset: 4.037
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.33888888359069824
                              left: 0.17343750596046448
                              height: 0.6611111164093018
                              width: 0.37812501192092896
                          - offset: 4.104
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.32777777314186096
                              left: 0.17499999701976776
                              height: 0.6722221970558167
                              width: 0.37187498807907104
                          - offset: 4.17
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left:
                              - 0.37953418493270874
                              - 0.39276623725891113
                              eye_right:
                              - 0.3854941427707672
                              - 0.4091874361038208
                              nose:
                              - 0.36147943139076233
                              - 0.40471675992012024
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left:
                              - 0.3708079755306244
                              - 0.3746190369129181
                              mouth_right:
                              - 0.3761294484138489
                              - 0.3891913890838623
                            poses:
                              pitch: -66.92698669433594
                              roll: 61.40188980102539
                              yaw: 37.06931686401367
                            quality:
                              brightness: 57.55177307128906
                              sharpness: 5.775668621063232
                            bounding_box:
                              top: 0.3027777671813965
                              left: 0.19687500596046448
                              height: 0.6972222328186035
                              width: 0.31562501192092896
                          - offset: 4.237
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.3027777671813965
                              left: 0.1953125
                              height: 0.6944444179534912
                              width: 0.3109374940395355
                          - offset: 4.304
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.29722222685813904
                              left: 0.19062499701976776
                              height: 0.6972222328186035
                              width: 0.3187499940395355
                          - offset: 4.371
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left:
                              - 0.3870363235473633
                              - 0.38017532229423523
                              eye_right:
                              - 0.40652456879615784
                              - 0.39043787121772766
                              nose:
                              - 0.3806432783603668
                              - 0.4084824025630951
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left:
                              - 0.383326917886734
                              - 0.39797183871269226
                              mouth_right:
                              - 0.39994174242019653
                              - 0.4072610139846802
                            poses:
                              pitch: -53.52831268310547
                              roll: 38.691253662109375
                              yaw: 14.994894981384277
                            quality:
                              brightness: 56.258583068847656
                              sharpness: 4.3748369216918945
                            bounding_box:
                              top: 0.28611111640930176
                              left: 0.1953125
                              height: 0.7111111283302307
                              width: 0.3062500059604645
                          - offset: 4.437
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.27222222089767456
                              left: 0.19218750298023224
                              height: 0.7277777791023254
                              width: 0.3375000059604645
                          - offset: 4.504
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.2777777910232544
                              left: 0.19062499701976776
                              height: 0.7194444537162781
                              width: 0.3140625059604645
                          - offset: 4.571
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left:
                              - 0.39397507905960083
                              - 0.3983730673789978
                              eye_right:
                              - 0.39404982328414917
                              - 0.4055526852607727
                              nose:
                              - 0.37458810210227966
                              - 0.39445042610168457
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left:
                              - 0.38692590594291687
                              - 0.3622819185256958
                              mouth_right:
                              - 0.3872905969619751
                              - 0.36898770928382874
                            poses:
                              pitch: -61.124088287353516
                              roll: 49.83354949951172
                              yaw: -0.6673879623413086
                            quality:
                              brightness: 60.94453811645508
                              sharpness: 5.775668621063232
                            bounding_box:
                              top: 0.2611111104488373
                              left: 0.19374999403953552
                              height: 0.7388888597488403
                              width: 0.3359375
                          - offset: 4.637
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.2638888955116272
                              left: 0.19062499701976776
                              height: 0.730555534362793
                              width: 0.30781251192092896
                          - offset: 4.704
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.2638888955116272
                              left: 0.1875
                              height: 0.7361111044883728
                              width: 0.33125001192092896
                          - offset: 4.771
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left:
                              - 0.3811900019645691
                              - 0.35556474328041077
                              eye_right:
                              - 0.39822059869766235
                              - 0.3800351917743683
                              nose:
                              - 0.3713183104991913
                              - 0.3945237398147583
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left:
                              - 0.37888163328170776
                              - 0.38735005259513855
                              mouth_right:
                              - 0.3932514786720276
                              - 0.4087068736553192
                            poses:
                              pitch: -59.35390853881836
                              roll: 44.732879638671875
                              yaw: -5.019241809844971
                            quality:
                              brightness: 57.027870178222656
                              sharpness: 5.775668621063232
                            bounding_box:
                              top: 0.2638888955116272
                              left: 0.19218750298023224
                              height: 0.7361111044883728
                              width: 0.3265624940395355
                          - offset: 4.838
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.2361111044883728
                              left: 0.19374999403953552
                              height: 0.7638888955116272
                              width: 0.3296875059604645
                          - offset: 4.904
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.24444444477558136
                              left: 0.203125
                              height: 0.7444444298744202
                              width: 0.31562501192092896
                          - offset: 4.971
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left:
                              - 0.3798009157180786
                              - 0.33616724610328674
                              eye_right:
                              - 0.3981250822544098
                              - 0.3674319088459015
                              nose:
                              - 0.3700191378593445
                              - 0.3836427330970764
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left:
                              - 0.37787169218063354
                              - 0.3832106292247772
                              mouth_right:
                              - 0.39324676990509033
                              - 0.41030260920524597
                            poses:
                              pitch: -53.644405364990234
                              roll: 45.701995849609375
                              yaw: -11.573976516723633
                            quality:
                              brightness: 57.6660041809082
                              sharpness: 5.775668621063232
                            bounding_box:
                              top: 0.24444444477558136
                              left: 0.21406249701976776
                              height: 0.7555555701255798
                              width: 0.30000001192092896
                          - offset: 5.038
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.21388888359069824
                              left: 0.21718749403953552
                              height: 0.7805555462837219
                              width: 0.30781251192092896
                          - offset: 5.105
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.21111111342906952
                              left: 0.21406249701976776
                              height: 0.7833333611488342
                              width: 0.3062500059604645
                          - offset: 5.171
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left:
                              - 0.3844706416130066
                              - 0.32440540194511414
                              eye_right:
                              - 0.40405669808387756
                              - 0.35271456837654114
                              nose:
                              - 0.3768754005432129
                              - 0.36930495500564575
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left:
                              - 0.3843042254447937
                              - 0.3712567090988159
                              mouth_right:
                              - 0.40073394775390625
                              - 0.3959007263183594
                            poses:
                              pitch: -53.630714416503906
                              roll: 39.291988372802734
                              yaw: -18.895587921142578
                            quality:
                              brightness: 60.716861724853516
                              sharpness: 5.775668621063232
                            bounding_box:
                              top: 0.20000000298023224
                              left: 0.21562500298023224
                              height: 0.7916666865348816
                              width: 0.3046875
                          - offset: 5.238
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.2083333283662796
                              left: 0.21250000596046448
                              height: 0.7916666865348816
                              width: 0.3109374940395355
                          - offset: 5.305
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.20555555820465088
                              left: 0.21718749403953552
                              height: 0.7944444417953491
                              width: 0.30937498807907104
                          - offset: 5.372
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left:
                              - 0.3936595320701599
                              - 0.3051048219203949
                              eye_right:
                              - 0.41345858573913574
                              - 0.33479371666908264
                              nose:
                              - 0.38665077090263367
                              - 0.35276904702186584
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left:
                              - 0.39271658658981323
                              - 0.35535675287246704
                              mouth_right:
                              - 0.40930524468421936
                              - 0.38109534978866577
                            poses:
                              pitch: -59.85506057739258
                              roll: 47.28629684448242
                              yaw: -21.296669006347656
                            quality:
                              brightness: 62.509429931640625
                              sharpness: 5.775668621063232
                            bounding_box:
                              top: 0.20000000298023224
                              left: 0.21562500298023224
                              height: 0.800000011920929
                              width: 0.3218750059604645
                          - offset: 5.438
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.1944444477558136
                              left: 0.21875
                              height: 0.8055555820465088
                              width: 0.3187499940395355
                          - offset: 5.505
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.20000000298023224
                              left: 0.22031250596046448
                              height: 0.800000011920929
                              width: 0.3109374940395355
                          - offset: 5.572
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left:
                              - 0.3964393734931946
                              - 0.28686633706092834
                              eye_right:
                              - 0.41602206230163574
                              - 0.31451416015625
                              nose:
                              - 0.3893863260746002
                              - 0.33428582549095154
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left:
                              - 0.39522624015808105
                              - 0.33961278200149536
                              mouth_right:
                              - 0.41160711646080017
                              - 0.36352449655532837
                            poses:
                              pitch: -54.49549865722656
                              roll: 46.11083221435547
                              yaw: -33.3104133605957
                            quality:
                              brightness: 62.500030517578125
                              sharpness: 7.589449882507324
                            bounding_box:
                              top: 0.18888889253139496
                              left: 0.22031250596046448
                              height: 0.8111110925674438
                              width: 0.3125
                          - offset: 5.638
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.19166666269302368
                              left: 0.22187499701976776
                              height: 0.8083333373069763
                              width: 0.30781251192092896
                          - offset: 5.705
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left: []
                              eye_right: []
                              nose: []
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
                              wrist_left: []
                              wrist_right: []
                              hip_left: []
                              hip_right: []
                              knee_left: []
                              knee_right: []
                              ankle_left: []
                              ankle_right: []
                              mouth_left: []
                              mouth_right: []
                            poses:
                              pitch: null
                              roll: null
                              yaw: null
                            quality:
                              brightness: null
                              sharpness: null
                            bounding_box:
                              top: 0.18611110746860504
                              left: 0.21875
                              height: 0.8138889074325562
                              width: 0.31718748807907104
                          - offset: 5.772
                            attributes:
                              upper_cloths: []
                              lower_cloths: []
                            landmarks:
                              eye_left:
                              - 0.3944924473762512
                              - 0.2736548185348511
                              eye_right:
                              - 0.4116740822792053
                              - 0.29786476492881775
                              nose:
                              - 0.38686245679855347
                              - 0.3210577964782715
                              ear_left: []
                              ear_right: []
                              shoulder_left: []
                              shoulder_right: []
                              elbow_left: []
                              elbow_right: []
[...]
